{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "eConsult" %}
{% set contentTitle = "Additional GP services" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      {{ careCard({
        "type": "non-urgent",
        "heading": "You don't need a note from your GP. You can get an isolation note from the NHS 111 website.",
        "HTML": "
        <p>If you're having to stay at home because of coronavirus, you can get a note from 111 to show your employer.</p>
        "
      }) }}
      

    <form action="/{{ PROTOTYPEURL }}/#" method="get">
      {{ checkboxes({
        "idPrefix": "eConsult",
        "name": "eConsultAdminIsolationNote",
        "fieldset": {
          "legend": {
            "classes": "nhsuk-fieldset__legend--xl",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "End",
            "html": "End my consultation, I'll get an isolation note from 111"
          }
        ]
      }) }}

      <input type="submit" class="nhsuk-button" value="Continue">
      </input>
</form>
     

    </div>
  </div>
{% endblock %}
