{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Check your message" %}
{% set title = contentTitle + " - " + serviceName %}
{% set appointmentsActive = "active" %}
{% block pageScripts %}
{% endblock %}



{% set helpNeeded %}{% if data['helpNeeded'] %}{{ data['helpNeeded'] }}{% else %}{% endif %}{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</p>
      <p>Please read and review the request carefully before submitting your request</p>


      <form action="/app/engage/admin/v3/confirm/contact-you-3" method="get">

      {{ textarea({
  "name": "checkMessage",
  "id": "example",
  "rows": "3",
  "value": data['helpNeeded'],
  "label": {
    "text": "Your request",
    "classes": "nhsuk-label--s"
  },
  "value": helpNeeded
}) }}


      <input type="submit" class="nhsuk-button" value="Continue">
      </input>

  </form>

    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
