<div class="nhs-app-desktop--show">
  {{ footer({
    "classes": "",
    "links": [
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/terms/",
        "label": "Terms of use"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/",
        "label": "Privacy policy"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/",
        "label": "Help and support"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/accessibility/",
        "label": "Accessibility statement"
      }
    ]
  })}}
</div>
