<header class="nhsuk-header nhsuk-header--transactional nhs-app-header--app nhs-app-desktop--hide" role="banner">
  <div class="nhsuk-width-container">

    <div class="nhsuk-grid-row">

      <div class="nhsuk-grid-column-one-third nhs-app-u-one-third-mobile" style="padding: 0 8px !important">
        <div class="nhs-app-logo_header-3">
          <a class="footer-labels__link" aria-label="NHS homepage">
            <svg class="" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
              <path fill="#fff" d="M0 0h40v16H0z"></path>
              <path fill="#005eb8" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
              <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
            </svg>
          </a>
        </div>
      </div>

        <div class="nhs-app-header__icon_header-3"  id="btn_more">
          <a href="{{ routeMore }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
              <title>More</title>
              {% if moreActive === "active" %}
              <rect x="0.9" y="7.5" width="3" height="3" rx="0.8952" style="fill:#ffffff;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
              <rect x="7.5" y="7.5" width="3" height="3" rx="0.9012" style="fill:#ffffff;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
              <rect x="14.1" y="7.5" width="3" height="3" rx="0.9017" style="fill:#ffffff;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>

              {% else %}
            <rect x="0.9" y="7.5" width="3" height="3" rx="0.8952" style="fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
            <rect x="7.5" y="7.5" width="3" height="3" rx="0.9012" style="fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
            <rect x="14.1" y="7.5" width="3" height="3" rx="0.9017" style="fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
            {% endif %}
            </svg>
              <b class="header-labels">More</b>
            </a>
        </div>

        <div class="nhs-app-header__icon_header-3" id="btn_help">
            <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                <title>Help</title>
                <path d="M8.2326,11.3326a3.3516,3.3516,0,0,1,1.0022-2.519c.5813-.71,1.4906-1.5211,1.4906-2.6193,0-1.1835-1.0711-1.7075-2.089-1.7075a4.6541,4.6541,0,0,0-1.6374.2671.6084.6084,0,0,1-.8221-.5434l-.0129-.182a.6419.6419,0,0,1,.4176-.653A6.5653,6.5653,0,0,1,8.8139,3c1.7624,0,3.4919,1.0645,3.4919,3.076,0,1.7742-1.3415,2.7039-2.2148,4.0731a2.0887,2.0887,0,0,0-.3393,1.2337v.3046H8.2326Zm.4612,1.7742h.5953a.6215.6215,0,0,1,.6072.635v.6232A.6215.6215,0,0,1,9.2891,15H8.6938a.6216.6216,0,0,1-.6072-.635v-.6232A.6216.6216,0,0,1,8.6938,13.1068Z" style="fill:#ffffff"/>
                <circle cx="9" cy="9" r="8.25" style="fill:none;stroke:#ffffff;stroke-miterlimit:10;stroke-width:1.5px"/>
              </svg>
                <b class="header-labels">Help</b>
              </a>
            </div>

        </div>
        </div>


</header>
