{% set PROTOTYPEURL = "app/symptoms/v1" %}
{% set serviceName = "NHS App" %}
{% set symptomsActive = "active" %}
{% set contentTitle = "Symptoms" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new-v2.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        {{ contentTitle }}
      </h1>
      <ul class="list-menu">

        <li>
          <a href="corona" id="btn_az">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Get advice about coronavirus</h2>
            <p>Find out what to do if you think you have coronavirus</p>
          </a>
        </li>


        <li>
          <a href="az" id="btn_az">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Search conditions and treatments</h2>
            <p>Find trusted NHS information on hundreds of conditions</p>
          </a>
        </li>

        <li>
          <a href="https://111.nhs.uk/" id="btn_111" target="_blank">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Use NHS 111 online</h2>
            <p>Check if you need urgent help and find out what to do next</p>
          </a>
        </li>

        {% if data['econsult'] == "False" %}
        {% else %}
        <li>
          <a href="/app/econsult/hub/v1/index" id="btn_111">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Ask a health professional for advice for yourself or your child</h2>
            <p>Answer questions online and get a response from a health professional</p>
          </a>
        </li>
        {% endif %}
      </ul>

    </div>
  </div>
{% endblock %}
