{% set PROTOTYPEURL = "app/covid-status/p5-domestic-flow/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Enter your postcode" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}

</header>

  {{ header({
    "transactionalService": {
        "name": "",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="page-section">


  <div class="first-item">


  <div class="first-item">




  	<p><a href="/app/covid-status/p5-domestic-flow/p9/enter-dob" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Enter your date of birth</a></p>




  	<div class="reading-width">

      <form action="/app/covid-status/p5-domestic-flow/p9/nhs-number" method="post">

        <div class="nhsuk-form-group">
          <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl nhs-app-xl" for="example-heading">
              Enter your postcode
            </label>
          </h1>
          <div class="nhsuk-hint" id="example-with-hint-text-hint">
            You must enter the postcode you registered with your GP surgery.
          </div>
          <input class="nhsuk-input" id="example-heading" name="example-heading" type="text">
        </div>




    <input type="submit" class="nhsuk-button full-width" style="font-size: 20px; text-align: center;" value="Continue">
    </input>
  </form>

  </div>


  </div>


      </div>

    </div>
  </div>
  {% endblock %}

  {% block footer %}

  <footer role="contentinfo" style="position: relative;">
  <div class="global-footer">
    <div class="global-footer__inner__no-logo ">
      <ul class="link-list">

        <li>
          <a href="#" target="_blank" title="Terms of use">Terms of use</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Cookies">Cookies</a>
        </li>
        <li>
          <a href="#" title="Accessibility">Accessibility</a>
        </li>
        <li>
          <a href="#" title="Help Centre">Help Centre</a>
        </li>


      </ul>
    </div>
  </div>
</footer>
{% endblock %}
