{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Online consultations" %}
{% set messagingActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}

{% set medicalProblems %}
  {{ data['engageProblemCat'] if data['engageProblemCat'] else "Blocked nose" }}
  {% if data['engageProblemCatTwo'] %}
    {{ data['engageProblemCatTwo'] }}
  {% endif %}
{% endset %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ contentTitle }}</h1>

        <div class="nhs-app-panel-heading">
          <h2 class="nhsuk-heading-m">Your messages</h2>
        </div>
        <ul class="list-menu nhs-app-message">
          {% if data['engageAdminDone'] %}
          <li id="messageID1" class="nhs-app-message__item  ">
            <a class="nhs-app-message__link" href="
            engage-view?id=4&from=Gledhow Practice&sent=Today&time={{ 'now' | returnTime }}&body=Administration request submitted for {{ data[''] or 'Betty Doyle' }}. {{ data['engageAdminHowHelp'] or 'I need a sick note'}}&cat=Administration request for:">
              <h2 class="nhsuk-heading-xs">
                  <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                Gledhow Practice
                  <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                  <span class="nhs-app-message__date ">Today</span>
                </h2>
                <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
                  <span class="nhsuk-u-visually-hidden">Subject: </span>
                  Administration request sent
                </p>
                <p class="nhs-app-message__subject-line">
                  <span class="nhsuk-u-visually-hidden">Latest message: </span>
                   You: Administration request submitted for {{ data[''] or "Betty Doyle" }}. Sick note requested
                </p>
              </a>
            </li>
          {% endif %}
          <li id="messageID1" class="nhs-app-message__item  ">
            <a class="nhs-app-message__link" href="
            engage-view?id=3&from=Gledhow Practice&sent=Today&time={{ '30MinAgo' | returnTime }}&body=Medical request submitted for {{ data[''] or 'Betty Doyle' }}. Problems reported {{ medicalProblems }}&cat=Medical request for:&engageReply=true">
              <h2 class="nhsuk-heading-xs">
                  <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                Gledhow Practice
                  <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                  <span class="nhs-app-message__date ">Today</span>
                </h2>
                <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
                  <span class="nhsuk-u-visually-hidden">Subject: </span>
                  Medical request sent
                </p>
                <p class="nhs-app-message__subject-line">
                  <span class="nhsuk-u-visually-hidden">Latest message: </span>
                   I've read your message and notes. It should clear up with a treatment of corticosteroid nasal sprays. These are an anti-inflammatory medicine you spray into your nose.
                </p>
              </a>
          	</li>
        </ul>


  </div>
</div>
{% endblock %}

{% block afterContent %}

<footer class="app-silver__footer">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>
        <strong>This service is provided by your GP surgery</strong><br>
        <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/Pages/nhs-sites.aspx">Find out more about this service</a></p>
    </div>
  </div>
</div>
</footer>
{% endblock %}
