{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Messages" %}
{% set messagingActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-mobile--hide" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ contentTitle }}</h1>

      <ul class="list-menu">
        <li>
          <a href="/app/send-a-message/v4/index?pkbim=true">
            <h2 class="nhsuk-heading-s">GP surgery messages	</h2>
            <p>Send or view messages from your GP surgery</p>
          </a>
        </li>

        <li>
          <a href="/app/messaging/pkb">
            <h2 class="nhsuk-heading-s">Messages and consultations with a doctor or health professional</h2>
            <p>Send or view messages and online consultations with a doctor or health professional
          </p>
          </a>
        </li>

        <li>
          <a href="#">
            <h2 class="nhsuk-heading-s">Health information and updates</h2>
            <p>View messages from health services and the NHS App</p>
          </a>
        </li>
      </ul>

  </div>
</div>
{% endblock %}
