{% set PROTOTYPEURL = "app/covid-status/service" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "We could not find your vaccination details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{ routeHome }}">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="{{ routeRecords }}">Your health</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick="window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>


      <p>This can be for one of the following reasons:</p>

      <ul>
        <li>we cannot find your vaccine record</li>
        <li>your vaccine record is not up to date</li>
        <li>you have not had a vaccine in England</li>
        <li>you had a vaccine as part of a trial</li>
        <li>you have not had a vaccine</li>
      </ul>

      <p><a href="#">Contact us</a></p>




    </div>
  </div>
{% endblock %}
