{% set PROTOTYPEURL = "app/v2" %}
{% set serviceName = "Your preferences" %}
{% set contentTitle = "Check your choices" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% if data['more-detail'] %}
  {% set mainPreference = data['more-detail'] %}
{% else %}
  {% set mainPreference = "I need to be contacted by morse code. Dit dit dit" %}
{% endif %}

{% if data['appointReminders'] %}
  {% if data['appointReminders'] === "pushNotification" %}
    {% set remindersPreference = "Through this app (push notifications)" %}
  {% else %}
    {% set remindersPreference = "By " + data['appointReminders'] %}
  {% endif %}
{% else %}
  {% set remindersPreference = "By text message" %}
{% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="app-heading-xl">{{ contentTitle }}</h1>

      {{ summaryList({
        classes: "nhsuk-u-margin-bottom-0",
        rows: [
          {
            key: {
              text: "How you'd prefer to be contacted"
            },
            value: {
              text: mainPreference
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "your contact preference"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment reminders"
            },
            value: {
              text: remindersPreference
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "your preference for reminders"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/other/confirmation" method="get">

          <input type="Submit" class="nhsuk-button" id="submit-details" value="Save choices">
        </form>
    </div>
  </div>
{% endblock %}
