{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Ask your GP for advice" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% else %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>

    {% else %}
    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% endif %}
  </div>
</nav>
<div class="nhs-app-provider-banner">
<div class="nhsuk-width-container">
<strong>This service is provided by your GP surgery</strong>
</div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Ask your GP for advice</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">Check your photo</h1>
      <p>Your photo should not show your bottom (anus), breasts, vagina or penis, even if these are the problem area.</p>

      <img class="nhsuk-u-margin-bottom-1" style="width: 140px; height: 140px;" src="/images/eczema_image-1-arm.png">
      <span class="nhsuk-hint">
        IMG_5267.PNG
      </span>

      <div class="nhsuk-u-padding-bottom-2"></div>

      <form action="#">
        <button id="change-photo" style="display:inline;width:104px; height:21px;" onclick="document.getElementById('getFile').click()">Choose photo</button>


        <input type='file' id="getFile" style="display:none"> <span class="nhsuk-body-s" style="display: inline;"> IMG_5267.PNG </span>
      </form>

            <hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5">


            <form action="/app/econsult/adult/eczema/v2/file-upload/5_photos-added" method="get">

            {{ textarea({
              "name": "eczemaDescriptionInput",
              "id": "change-description",
              "rows": "5",
              "label": {
                  "text": "Describe what this photo is showing",
                  "classes": "nhsuk-label--l",
                  "isPageHeading": false
                }
            }) }}


        <input type="submit" class="nhsuk-button" value="Continue"></input>


      </form>








    </div>
  </div>
{% endblock %}
