{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Get advice from your GP" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% else %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
<script>
$( "#photoTwo" ).click(function() {
  event.preventDefault();
  $( "#deletePhotoTwo" ).toggle();
  $( "#photoTwoDetails" ).css('display','none');
});
</script>
{% endblock %}



  {% set descriptionPhoto %}
    {% if data['eczemaDescriptionInput'] %}
       {{ data['eczemaDescriptionInput'] }}
  {% else %}
      Eczema on my arm
    {% endif %}
  {% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>

{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>
<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>

{% endif %}
  </div>
</nav>
<div class="nhs-app-provider-banner">
<div class="nhsuk-width-container">
<strong>This service is provided by your GP surgery</strong>
</div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div id="deletePhotoTwo" style="display: none;" class="moj-banner moj-banner--success">
          <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
        <div class="moj-banner__message">
          <span class="moj-banner__assistive">Success</span>File named IMG_5268.PNG has been deleted</div>
      </div>


      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Get advice from your GP</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">Upload a photo of your condition</h1>
      <h2 class="nhsuk-heading-l nhs-app-xl">Photos added</h2>


    <dl id="photoOneDetails" class="nhsuk-summary-list nhsuk-summary-list--no-border">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Photo 1
    </dt>
    <dd class="nhsuk-summary-list__value">
      IMG_5267.PNG
    </dd>


  </div>

  <div class="nhsuk-summary-list__row nhsuk-u-margin-bottom-0">
    <dt class="nhsuk-summary-list__key">
      Description
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ descriptionPhoto }}
    </dd>

    <dd class="nhsuk-summary-list__actions nhsuk-u-margin-bottom-0">

      <a href="/app/econsult/adult/eczema/v2/file-upload/4_check-photo" class="nhsuk-summary-list__actions-list-item nhsuk-u-margin-bottom-4">
        Change<span class="nhsuk-u-visually-hidden"> photo 1</span>
      </a>


      <a href="/app/econsult/adult/eczema/v2/file-upload/3_choose-photo?photoOneDelete=True" id="photoOne" class="nhs-app-card-delete__link">
        Delete<span class="nhsuk-u-visually-hidden"> photo 1</span>
      </a>

    </dd>

  </div>


</dl>





<dl id="photoTwoDetails" class="nhsuk-summary-list nhsuk-summary-list--no-border">

  <hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5">

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
  Photo 2
</dt>
<dd class="nhsuk-summary-list__value">
  IMG_5268.PNG
</dd>


</div>

<div class="nhsuk-summary-list__row nhsuk-u-margin-bottom-0">
<dt class="nhsuk-summary-list__key">
  Description
</dt>
<dd class="nhsuk-summary-list__value">
  descriptionPhoto2
</dd>

<dd class="nhsuk-summary-list__actions nhsuk-u-margin-bottom-0">

  <a href="/app/econsult/adult/eczema/v2/file-upload/4_check-photo" class="nhsuk-summary-list__actions-list-item nhsuk-u-margin-bottom-4">
    Change<span class="nhsuk-u-visually-hidden"> photo 2</span>
  </a>


  <a href="/app/econsult/adult/eczema/v2/file-upload/3_choose-photo" id="photoTwo" class="nhs-app-card-delete__link">
    Delete<span class="nhsuk-u-visually-hidden"> photo 2</span>
  </a>

</dd>

</div>


</dl>

<hr class="nhsuk-u-margin-bottom-5 nhsuk-u-margin-top-5">


      <form action="/app/econsult/adult/eczema/v2/file-upload/5_photos-added" method="post">

        {{ radios({
  "idPrefix": "photo",
  "name": "anotherPhoto",
  "fieldset": {
    "legend": {
      "text": "Do you want to upload another photo?",
      "classes": "nhsuk-fieldset__legend--l",
      "isPageHeading": false
    }
  },
  "items": [
    {
      "value": "Yes",
      "text": "Yes"
    },
    {
      "value": "No",
      "text": "No"
    }
  ]
}) }}


        <input type="submit" class="nhsuk-button" value="Continue"></input>


      </form>








    </div>
  </div>
{% endblock %}
