{% set PROTOTYPEURL = "app/send-a-message" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Send a message prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>v3 (EMIS specific)</h2>
      <h3>Main user flow</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index">Messages</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/send-a-message-radio">Send a message (interruption)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/contact-your-gp">Contact your GP (if need urgent reply)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/select-who">Select who to message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/your-message?msgTo=Dr Sanjit Praneskear">Your message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/message?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&subject=repeat prescription&body=An example message&to=True&messageRead2=read&">Message sent</a>
        </li>
      </ul>

      <h3>Delete message flow</h3>
      <h4>Message with no replies</h4>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/message?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&subject=repeat prescription&body=An example message&to=True&messageRead2=read&conversation=false">Message sent (no replies)</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/delete?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&subject=repeat prescription&body=An example message&to=True&messageRead2=read&conversation=false">Delete your message to [Person] (Are you sure interruption)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/delete-confirm?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&subject=repeat prescription&body=An example message&to=True&messageRead2=read&conversation=false">Your message to [Person] is deleted (Confirmation of delete page)</a>
        </li>
      </ul>
      <h4>Message with replies</h4>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/message?id=1&from=Sister%20Leanna%20Leveille&sent=Yesterday&time=4.55pm&body=Please%20arrange%20for%20an%20appointment%20with%20a%20nurse%20for%20a%20blood%20test">Message sent (with reply)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/delete?id=1&from=Sister%20Leanna%20Leveille&sent=Yesterday&time=4.55pm&body=Please%20arrange%20for%20an%20appointment%20with%20a%20nurse%20for%20a%20blood%20test&conversation=true">Delete your message to [Person] (Are you sure interruption)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/delete-confirm?id=1&from=Sister%20Leanna%20Leveille&sent=Yesterday&time=4.55pm&body=Please%20arrange%20for%20an%20appointment%20with%20a%20nurse%20for%20a%20blood%20test&conversation=true">Your conversation with [Person] is deleted (Confirmation of delete page)</a>
        </li>
      </ul>

      <h3>Other</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-with-no-messages">No messages</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/select-who-with-one">Select who with single person to message</a>
        </li>
      </ul>

      <hr>

      <h2>v2</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/index">Messages</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/send-a-message">Send a message (interruption)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/select-who">Select who to message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/your-message?msgTo=Dr Sanjit Praneskear">Your message</a>
        </li>
        <li>
          <a href="/app/messaging/v1/message?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&body=An example message&to=True&messageRead2=read&">Message sent</a>
        </li>
      </ul>

      <hr>

      <h2>v1</h2>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/index">Select who to message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-message?msgTo=Dr Sanjit Praneskear">Your message</a>
        </li>
        <li>
          <a href="/app/messaging/v1/message?id=2&from=Dr%20Sanjit%20Praneskear&sent=today&time=7:33&body=An example message&to=True&messageRead2=read&">Message sent</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
