{% set PROTOTYPEURL = "app/v3" %}
{% set serviceName = "Send a message" %}
{% set contentTitle = "Select who to message" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/messages",
  text: "Messages"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle}}</h1>
      <ul class="list-menu">
        <li>
      		<a href="/app/send-a-message/query?name=Woodrow GP Practice" id="btn_organdonation">
      			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Woodrow GP Practice</h2>
            <p class="nhsuk-body-s">You've messaged them before</p>
      		</a>
      	</li>
      	<li>
      		<a href="/app/send-a-message/query?name=Dr Sanjit Praneskear" id="btn_datasharing">
      			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Dr Sanjit Praneskear</h2>
      		</a>
      	</li>
      </ul>

    </div>
  </div>
{% endblock %}
