{% set PROTOTYPEURL = "app/v3" %}
{% set serviceName = "Send a message" %}
{% set contentTitle = "Your message to " + data["to"] or "Dr Sanjit Praneskear" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/messages",
  text: "Messages"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form class="" action="message-you-sent" method="post">
        {{ textarea({
          "name": "yourMessage",
          "id": "yourMessage",
          "label": {
            "text": contentTitle,
            "isPageHeading": true,
            "classes": "nhsuk-label--l"
          },
          "hint": {
            "text": "If you need urgent medical help, contact your GP Surgery by phone or call 111"
          }
        }) }}

        <input class="nhsuk-button" type="submit" value="Send message">
      </form>

      {{ backLink({
        "href": "who",
        "text": "Choose another person to message"
      }) }}

    </div>
  </div>
{% endblock %}
