{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Nominated pharmacy prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>

      <h3>Latest: v4 (for Manchester lab 22 January 2020)</h3>

      <h4>User already has a nominated pharmacy</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/your-nominated-pharmacy">Your nominated pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/change-2">Interruption card</a>
        </li>
      </ul>

      <h4>User doesn't have a nominated pharmacy yet</h4>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/card-nom-pharmacy-2">Interruption card</a>
      </li>
    </ul>

    <h5>User chooses types of pharmacy</h5>

    <ul>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v4/type-of-pharmacy">Community or online radios with hint text</a>
    </li>
  </ul>


    <h5>User chooses online pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/online-interrupt">Online-only interruption card</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/name-of-pharmacy">Is there a specific online-only pharmacy that you want to use?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/search-name">What is the name of the online-only pharmacy?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/exact-match">Exact match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/partial-match">Partial match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/no-results">No results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/online-results">Online results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/online-results-2">Online results (second list)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/online-pharmacy-2">Check your nominated pharmacy details</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/confirmed-2-online">Confirmed - user has changed their nominated pharmacy to an online pharmacy</a>
        </li>
      </ul>

      <h5>User chooses high street pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/find-community-pharmacy">Find a high street pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/community-results">Search results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/high-street-pharmacy-2">Check your nominated pharmacy details</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/confirmed-2-high-street">Confirmed - user has changed their nominated pharmacy to a high street pharmacy</a>
        </li>
      </ul>

      <hr>


      <h3>v3</h3>



            <h4>User already has a nominated pharmacy</h4>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v3/your-nominated-pharmacy">Your nominated pharmacy</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v3/change-2">Interruption card</a>
              </li>
            </ul>

            <h4>Remove a nomination</h4>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v3/your-nominated-pharmacy-remove">Your nominated pharmacy - with remove link</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v3/check-remove">Are you sure you want to remove your nominated pharmacy</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v3/confirmed-remove">Confirmation - nomination removed</a>
              </li>
            </ul>

            <h4>User doesn't have a nominated pharmacy yet</h4>

            <ul>
            <li>
              <a href="/{{ PROTOTYPEURL }}/v3/card-nom-pharmacy-2">Interruption card</a>
            </li>
          </ul>


                <h5>User chooses types of pharmacy</h5>

                <ul>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v3/type-of-pharmacy">Community or online radios with hint text</a>
                </li>
              </ul>

              <h5>User chooses online pharmacy</h5>

                <ul>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/name-of-pharmacy">Is there a specific online-only pharmacy that you want to use?</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/search-name">What is the name of the online-only pharmacy?</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/exact-match">Exact match</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/partial-match">Partial match</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/no-results">No results</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/online-results">Online results</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/online-results-2">Online results (second list)</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/online-pharmacy-2">Check your nominated pharmacy details</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/confirmed-2-online">Confirmed - user has changed their nominated pharmacy to an online pharmacy</a>
                  </li>
                </ul>

                <h5>User chooses high street pharmacy</h5>

                <ul>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/find-community-pharmacy">Find a high street pharmacy</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/community-results">Search results</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/high-street-pharmacy-2">Check your nominated pharmacy details</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/confirmed-2-high-street">Confirmed - user has changed their nominated pharmacy to a high street pharmacy</a>
                  </li>
                </ul>




      <hr>

      <h3>v2</h3>

      <p>With section headings removed</p>

      <h4>Exploration</h4>

      <p>Confirmation page</p>


            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v2/confirmed-2">Confirmed - user has changed their nominated pharmacy V2</a>
              </li>
            </ul>


      <h4>User already has a nominated pharmacy</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/your-nominated-pharmacy">Your nominated pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/change-2">Interruption card</a>
        </li>
      </ul>




      <h4>User doesn't have a nominated pharmacy yet</h4>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/card-nom-pharmacy-2">Interruption card</a>
      </li>
    </ul>


      <h5>User chooses types of pharmacy</h5>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/type-of-pharmacy">Community or online radios with hint text</a>
      </li>
    </ul>

    <h5>User chooses online pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/name-of-pharmacy">Is there a specific online-only pharmacy that you want to use?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/search-name">What is the name of the online-only pharmacy?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/exact-match">Exact match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/partial-match">Partial match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/no-results">No results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/online-results">Online results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/online-results-2">Online results (second list)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/online-pharmacy-2">Confirm your new online pharmacy page</a>
        </li>
      </ul>

      <h5>User chooses community pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/find-community-pharmacy">Find a community pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/community-results">Search results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/high-street-pharmacy-2">Confirm your new high street pharmacy page</a>
        </li>
      </ul>

      <h5>Confirmation page</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/confirmed">Confirmed - user has changed their nominated pharmacy</a>
        </li>
      </ul>

      <h4>Errors</h4>

      <h5>Validation</h5>


      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/errors/type-of-pharmacy">Choose a type of pharmacy to search for - user does not select an option and tries to continue</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/errors/name-of-pharmacy">Is there a specific online-only pharmacy that you want to use? - user does not select an option and tries to continue</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/errors/search-name">What is the name of the online-only pharmacy? - user does not input anything tries to continue</a>
      </li>
    </ul>

      <h4>Previous</h4>


    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/change">Interruption card (with white card)</a>
      </li>
      <li>
      <a href="/{{ PROTOTYPEURL }}/v2/card-nom-pharmacy">Interruption card (no existing nominated pharmacy) (with white card)</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/online-pharmacy">Confirm your new online pharmacy page</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/high-street-pharmacy">Confirm your new high street pharmacy page</a>
    </li>
  </ul>


  <hr>



      <h3>v1</h3>

      <h4>Change your nominated pharmacy - user already has a nominated pharmacy set</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions">Your prescriptions</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-nominated-pharmacy">Your nominated pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/change">Interruption card</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/type-of-pharmacy">Community or online radios with hint text</a>
        </li>
      </ul>

      <h5>User chooses online pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/name-of-pharmacy">Is there a specific online-only pharmacy that you want to use?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/search name">What is the name of the online-only pharmacy?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/exact-match">Exact match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/partial-match">Partial match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/no-results">No results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/online-results">Online results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/online-pharmacy">Online pharmacy page</a>
        </li>
      </ul>

      <h5>User chooses community pharmacy</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/find-community-pharmacy">Find a community pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/community-results">Search results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/high-street-pharmacy">High street pharmacy page</a>
        </li>
      </ul>

      <h5>Confirmation page</h5>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/confirmed">Confirmed - user has changed their nominated pharmacy</a>
        </li>
      </ul>

      <h4>User starts the journey without having an existing nominated pharmacy set</h4>


      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-no-nom">Your prescriptions</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/card-nom-pharmacy">Interruption card</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/nominate-a-pharmacy">Nominate a pharmacy - choose a type</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/find-community-pharmacy-nom">Find high street pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/community-results-nom">High street pharmacy results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/high-street-pharmacy-nom">High street pharmacy page</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/name-of-pharmacy-nom">Name of pharmacy</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/search-name-nom">Search name</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/online-results-nom">Online pharmacies results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/partial-match-nom">Partial match</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/online-pharmacy-nom">Online pharmacies results</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/confirmed-nom">Confirmation page</a>
        </li>
      </ul>




      <h4>Exploration</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/type-of-pharmacy-2">Choose a type of pharmacy (conditionally revealing radios)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/choose-az">A-Z list</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/online-results">Randomized list</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
