{% set PROTOTYPEURL = "send-a-patient-a-message" %}
{% set serviceName = "Send a patient a notification or message" %}
{% set contentTitle = "Send a patient a notification or message" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="" style="margin-top: -1rem;">
        {{ summaryList({
          rows: [
            {
              key: {
                text: "Organisation"
              },
              value: {
                text: "NHS App"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change organisation",
                    visuallyHiddenText: ""
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

    </div>

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <form action="type" method="get">
        <input type="submit" class="nhsuk-button" value="Create message">
      </form>


    </div>
  </div>
{% endblock %}
