{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Check your prescription details before you order" %}
{% set prescriptionsActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
// This kills any row that is empty
$('div.nhsuk-summary-list__row').each(function() {
         if ($(this).text().trim() === "") {
                   $(this).css('display','none');
         }
});
</script>
{% endblock %}




{% set choosePrescription %}
  {% if data['choosePrescription'] == 'omeprazole' %}

  <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% elif data['choosePrescription'] == 'alogliptin' %}

  <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% elif data['choosePrescription'] == 'metformin' %}

  <p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
  <p class="nhs-app-secondary-text">One to be taken 4 times a day with food - 112 tablet</p>

  {% else %}

  <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% endif %}

{% endset %}





  {% if data['choosePrescription'] | stringOrNot %}{% set cheese = "stringyCheese" %}{% else %}{% set cheese = "hardCheese" %}{% endif %}
  {% set chosenMedication %}
    {% if cheese == 'stringyCheese' %}
      {{ choosePrescription | safe }}

    {% else %}
      {% for item in data['choosePrescription'] %}
      {% if item == 'omeprazole' %}
      <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% elif item == 'alogliptin' %}
      <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% elif item == 'metformin' %}
      <p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
      <p class="nhs-app-secondary-text">One to be taken 4 times a day with food - 112 tablet</p>
      {% else %}
      <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}


  {% set medication %}
    {% if cheese == 'stringyCheese' %}
      Medicine
    {% elif cheese == 'hardCheese' %}
      Medicines
    {% else %}
      Medicine
    {% endif %}
  {% endset %}

  {% set specialRequest %}
    {% if data['specialRequest'] %}
       {{ data['specialRequest'] }}
  {% else %}
      No requests added
    {% endif %}
  {% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11">Prescriptions</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/prescriptions/v7/select-medicine-to-renew-2">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>


      {{ summaryList({
        rows: [
          {
            key: {
              html: medication,
              "classes": "nhsuk-heading-s nhsuk-u-margin-bottom-3"
            },
            value: {
              html: chosenMedication or '<h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0 nhs-app-secondary-text">Omeprazole 40mg gastro-resistant capsules</h3>
              <p>One to be taken each day - 28 tablet</p>'
            },
            actions: {
              items: [
                {
                  href: "/app/prescriptions/v7/select-medicine-to-renew-2",
                  text: "Change",
                  visuallyHiddenText: "medication"
                }
              ]
            }
          },
          {
            key: {
              text: "Special requests relating to your order (optional)",
              "classes": "nhsuk-heading-s"
            },
            value: {
              text: data['specialRequest'] | placeholder('No requests added')
            },
            actions: {
              items: [
                {
                  href: "/app/prescriptions/v7/select-medicine-to-renew-2",
                  text: "Change",
                  visuallyHiddenText: "special requests relating to this order (optional)"
                }
              ]
            }
          },
          {
            key: {
              text: "Your nominated pharmacy",
              "classes": "nhsuk-heading-s"
            },
            value: {
              html: data["pickPharmacy"] or '<p>Cameolord Pharmacy</p>'
            },
            actions: {
              items: [
                {
                  href: "/app/nominated-pharmacy/v4/change-2?inJourney=true",
                  text: "Change",
                  visuallyHiddenText: "your nominated pharmacy"
                }
              ]
            }
          } if data['pickPharmacy']
        ]
      }) }}




      {% if cheese == 'stringyCheese' %}
      <form action="/app/prescriptions/v7/save" method="post">
        <input type="submit" class="nhsuk-button" value="Confirm and order prescription">
        </input>
      </form>

       {% elif cheese == 'hardCheese' %}
       <form action="/app/prescriptions/v7/save" method="post">
         <input type="submit" class="nhsuk-button" value="Confirm and order prescriptions">
         </input>
       </form>

       {% else %}
       <form action="/app/prescriptions/v7/save" method="post">
         <input type="submit" class="nhsuk-button" value="Confirm and order prescription">
         </input>
       </form>
       {% endif %}




    </div>
  </div>
{% endblock %}
