{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}


{% set choosePrescription %}
  {% if data['choosePrescription'] == 'omeprazole' %}

  <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% elif data['choosePrescription'] == 'alogliptin' %}

  <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% elif data['choosePrescription'] == 'metformin' %}

  <p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
  <p class="nhs-app-secondary-text">One to be taken 4 times a day with food - 112 tablet</p>

  {% else %}

  <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
  <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>

  {% endif %}

{% endset %}





  {% if data['choosePrescription'] | stringOrNot %}{% set cheese = "stringyCheese" %}{% else %}{% set cheese = "hardCheese" %}{% endif %}
  {% set chosenMedication %}
    {% if cheese == 'stringyCheese' %}
      {{ choosePrescription | safe }}

    {% else %}
      {% for item in data['choosePrescription'] %}
      {% if item == 'omeprazole' %}
      <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% elif item == 'alogliptin' %}
      <p class="nhsuk-u-margin-bottom-0">Alogliptin 25mg tablets</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% elif item == 'metformin' %}
      <p class="nhsuk-u-margin-bottom-0">Metformin 500mg tablets</p>
      <p class="nhs-app-secondary-text">One to be taken 4 times a day with food - 112 tablet</p>
      {% else %}
      <p class="nhsuk-u-margin-bottom-0">Omeprazole 40mg gastro-resistant capsules</p>
      <p class="nhs-app-secondary-text">One to be taken each day - 28 tablet</p>
      {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}

{% if cheese == 'stringyCheese' %}
  {% set contentTitle = "Your prescription has been ordered" %}
{% elif cheese == 'hardCheese' %}
  {% set contentTitle = "Your prescriptions have been ordered" %}
{% else %}
  {% set contentTitle = "Your prescription has been ordered" %}
{% endif %}

{% set prescriptionsActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>



      <p>You have ordered:</p>

      {{ chosenMedication | safe }}



      <h2 class="nhsuk-heading-l">What happens next</h2>


      {% if data["pickPharmacy"] %}





            {% if cheese == 'stringyCheese' %}
            <p>
               Your prescription request has been sent to your GP surgery.
            </p>
            <p>
              Once a GP approves it, they'll send your prescription to your nominated pharmacy, {{ data["pickPharmacy"] or "Cameolord Pharmacy" }}.
            </p>

                {% if data['pharmacyTypeOnline'] === "online" %}

                <p>
                  You may need to register with {{ data["pickPharmacy"] or "Echo" }} separately at <a href="" class="nhsuk-u-margin-bottom-1">{{ data["onlineUrl"] or "www.echo.co.uk" }}</a> or call them at {{ data["phoneNumber"] or "03069 990735" }}.
                </p>

                <p>
                  When the pharmacists have checked and prepared your prescription, {{ data["pickPharmacy"] or "Echo" }} will send it to you in the post.
                </p>

                {% endif %}



            {% elif cheese == 'hardCheese' %}
            <p>
               Your prescription requests have been sent to your GP surgery.
            </p>
            <p>
              Once a GP approves them, they'll send your prescriptions to your nominated pharmacy, {{ data["pickPharmacy"] or "Cameolord Pharmacy" }}.
            </p>

                  {% if data['pharmacyTypeOnline'] === "online" %}

                  <p>
                    You may need to register with {{ data["pickPharmacy"] or "Echo" }} separately at <a href="" class="nhsuk-u-margin-bottom-1">{{ data["onlineUrl"] or "www.echo.co.uk" }}</a> or call them at {{ data["phoneNumber"] or "03069 990735" }}.
                  </p>

                  <p>
                    When the pharmacists have checked and prepared your prescriptions, {{ data["pickPharmacy"] or "Echo" }} will send them to you in the post.
                  </p>
                  {% endif %}

            {% endif %}




        {% if data['pharmacyTypeOnline'] === "community" %}



      <p class="nhsuk-u-margin-bottom-0">{{ data["pickPharmacy"] or "Cameolord Pharmacy" }}</p>


      <p class="nhsuk-u-margin-bottom-0">{{ data["address"] or data["onlineUrl"] or "16 Oxford S" }}</p>

      <p class="nhsuk-u-margin-bottom-0">{{ data["city"] or "Manchester" }}</p>

      <p class="nhsuk-u-margin-bottom-0">{{ data["postcode"] or "M1 5AE" }}</p>


      <p>Telephone: {{ data["phoneNumber"] or "0161 236 1445" }}</p>


      {% endif %}

      {% else %}



      {% if cheese == 'stringyCheese' %}
      <p>
         Your prescription request has been sent to your GP surgery.
      </p>
      <p>
        Once they approve your prescription, you'll need to collect it from your GP surgery.
      </p>

      {% elif cheese == 'hardCheese' %}
      <p>
         Your prescription requests have been sent to your GP surgery.
      </p>
      <p>
          Once they approve your prescriptions, you'll need to collect them from your GP surgery.
      </p>

      {% endif %}

      {% endif %}


      <p><a href="/app/prescriptions/v7/your-orders">Go to your prescription orders</a></p>




    </div>
  </div>
{% endblock %}
