{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Which medicine would you like to order?" %}
{% set prescriptionsActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
// dirty hack to make the menu disappear when a textarea is being used
$("textarea").focus(function(){
  $(".menu").hide();
});

$("textarea").focusout(function(){
  $(".menu").show();
});
</script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

    {% if data['SJR_PKB'] == 'True' %}
    <nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11">Prescriptions</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-gp-prescriptions">GP repeat prescriptions</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
      </div>
    </nav>
    {% else %}

<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11-no-pkb">Prescriptions</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/prescriptions/v7/your-prescriptions-11-no-pkb">Back</a></p>
  </div>
</nav>
{% endif %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data['specialRequestError'] or data['choosePrescriptionError'] == 'True' %}
      {{ errorSummary({
        "titleText": "There is a problem",
        "errorList": [
          {
            "text": "Select at least one medicine",
            "href": "#prescription"
          } if data['choosePrescriptionError'],
          {
            "text": "Add a note about your prescription",
            "href": "#more-detail"
          } if data['specialRequestError']
        ]
        }) }}
      {% endif %}

      <form action="" method="post">
        {{ checkboxes({
          "idPrefix": "prescription",
          "name": "choosePrescription",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "classes": "nhsuk-fieldset__legend--xl nhs-app-xl",
              "isPageHeading": false
            }
            },
              "hint": {
              "text": "Select all that apply."
            },
            "errorMessage": {
                "text": "Select at least one medicine"
              } if data['choosePrescriptionError'],
          "items": [
            {
              "value": "alogliptin",
              "text": "Alogliptin 25mg tablets",
              "checked": checked("choosePrescription", "alogliptin"),
              "hint": {
                "html": '<p class="nhsuk-u-margin-bottom-1">One to be taken each day - 28 tablet</p><p class="nhsuk-u-margin-bottom-2">Cannot order medicine until ' + "10" | returnDate + ' </p>'
               }
            },
            {
              "value": "omeprazole",
              "text": "Omeprazole 40mg gastro-resistant capsules",
              "checked": checked("choosePrescription", "omeprazole"),
              "hint": {
                "text": "One to be taken each day - 28 tablet"
              }
            },
            {
              "value": "metformin",
              "text": "Metformin 500mg tablets",
              "checked": checked("choosePrescription", "metformin"),
              "hint": {
                "text": "One to be taken 4 times a day with food - 112 tablet"
              }
            }
          ]
        }) }}


                {{ textarea({
                  "name": "specialRequest",
                  "id": "more-detail",
                  "value": data['specialRequest'],
                  "classes": "nhsuk-u-margin-bottom-0",
                  "rows": "3",
                  "label": {
                    "text": "Add notes for your GP surgery",
                    "classes": "nhsuk-label--l"
                  },
                  "hint": {
                    "html": "<p>You can add a note about your prescription here or type 'none'. Your note may not be seen or replied to, so if you have an important request for this prescription, contact your GP surgery.</p>
                    <p>No more than 1,000 characters.</p>"
                  },
                  "errorMessage": {
                      "text": "Add a note about your prescription"
                    } if data['specialRequestError']

                }) }}




        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>


      <p class="nhs-app-desktop--show">
        <a href="javascript: window.history.go(-1)">Back</a>
      </p>


    </div>
  </div>
{% endblock %}
