{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Order a repeat prescription" %}
{% set prescriptionsActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
// dirty hack to make the menu disappear when a textarea is being used
$("textarea").focus(function(){
  $(".menu").hide();
});

$("textarea").focusout(function(){
  $(".menu").show();
});
</script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

    {% if data['SJR_PKB'] == 'True' %}
    <nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11">Prescriptions</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-gp-prescriptions">GP repeat prescriptions</a></li>
        </ol>
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
      </div>
    </nav>
    {% else %}

<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11-no-pkb">Prescriptions</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/prescriptions/v7/your-prescriptions-11-no-pkb">Back</a></p>
  </div>
</nav>
{% endif %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>


      <form action="confirm-prescription-5" method="get">
        {{ checkboxes({
          "idPrefix": "prescription",
          "name": "choosePrescription",
          "fieldset": {
            "legend": {
              "text": 'Medicine currently available to order',
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": false
            }
          },
          "items": [
            {
              "value": "alogliptin",
              "text": "Alogliptin 25mg tablets",
              "checked": checked("choosePrescription", "alogliptin"),
              "hint": {
                "text": "One to be taken each day - 28 tablet"
              }
            },
            {
              "value": "omeprazole",
              "text": "Omeprazole 40mg gastro-resistant capsules",
              "checked": checked("choosePrescription", "omeprazole"),
              "hint": {
                "text": "One to be taken each day - 28 tablet"
              }
            },
            {
              "value": "metformin",
              "text": "Metformin 500mg tablets",
              "checked": checked("choosePrescription", "metformin"),
              "hint": {
                "text": "One to be taken 4 times a day with food - 112 tablet"
              }
            }
          ]
        }) }}








        {{ textarea({
          "name": "specialRequest",
          "id": "more-detail",
          "value": data['specialRequest'],
          "classes": "nhsuk-u-margin-bottom-0",
          "rows": "3",
          "label": {
            "text": "Add notes for your GP surgery (optional)",
            "classes": "nhsuk-label--l"
          },
          "hint": {
            "html": "<p>You can add a note about your prescription here. Your note may not be seen or replied to, so if you have an important request for this prescription, contact your GP surgery.</p>
            <p>No more than 1,000 characters.</p>"
          }
        }) }}




        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ details({
        "text": "Help with medical abbreviations",
        "HTML": "
        <p>You might see medical abbreviations that you are not familiar with.</p>
          <p>We have guidance for <a href='https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/abbreviations/'>abbreviations commonly found in medical records</a>.</p>
        "
      }) }}

      <p class="nhs-app-desktop--show">
        <a href="javascript: window.history.go(-1)">Back</a>
      </p>


    </div>
  </div>
{% endblock %}
