{% set PROTOTYPEURL = "app/v2" %}
{% set serviceName = "Your preferences" %}
{% set contentTitle = "How would you prefer to be sent reminders by NHS services?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

            <form action="" method="post">
              {{ radios({
                "idPrefix": "nhsApp",
                "name": "appointReminders",
                "fieldset": {
                  "legend": {
                    "text": contentTitle,
                    "isPageHeading": true,
                    "classes": "nhsuk-fieldset__legend--xl app-heading-xl"
                  }
                },
                "items": [
                  {
                    "value": "email",
                    "text": "By email"
                  },
                  {
                    "value": "pushNotification",
                    "text": "Through this app"
                  }
                ]
              }) }}
              <input type="submit" class="nhsuk-button" value="Continue">
              </input>
            </form>

    </div>
  </div>
{% endblock %}
