{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Confirm it's not an emergency" %}
{% set title = contentTitle + " - " + serviceName %}
{% set appointmentsActive = "active" %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data['engageProxyJourney'] %}
      <div class="app-proxy__container">
        <ul class="list-menu">
          <li>
              <a href="/{{ PROTOTYPEURL }}/admin/v3/who/index">
                <p class="nhsuk-body-s">Acting on behalf of <br>
                  <strong>{{ data['engageWho']}}</strong>
                </p>
              </a>
          </li>
        </ul>
      </div>
      {% endif %}

      <h1 class="nhs-app-xl">{{ contentTitle }}</h1>

      <p>Do not use this service to contact your GP in an emergency</p>

      {{ careCard({
        "type": "immediate",
        "heading": "Call 999 now if you have:",
        "HTML": "
        <ul>
          <li>
            <strong>signs of a heart attack</strong>
            - pain like a very tight band, heavy weight or squeezing in the centre of your chest
          </li>

          <li>
            <strong>signs of a stroke</strong>
            - face drooping on one side, cannot hold both arms up, difficulty speaking
          </li>

          <li>
            <strong>severe difficulty breathing</strong>
            - gasping, not being able to get words out, choking or lips turning blue
          </li>

          <li>
            <strong>heavy bleeding</strong>
            - that will not stop
          </li>

          <li>
            <strong>severe injuries</strong>
            - or deep cuts after a serious accident
          </li>

          <li>
            <strong>seizure (fit)</strong>
            - someone is shaking or jerking because of a fit, or is unconscious (cannot be woken up)
          </li>
        </ul>
        "
      }) }}




      <form action="/app/engage/admin/v3/telephone/index" method="get">

        <p>You are responsible for seeking further medical help if the situation worsens or a medical condition deteriorates such that you consider immediate help may be required.</p>

        <p>By continuing you:
        </p>

        <ul>
          <li>confirm that you are physically located in the UK</li>
          <li>accept the <a href="#">end user license agreement</a></li>
        </ul>

          <input type="submit" class="nhsuk-button" value="I understand">
          </input>

      </form>


    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
