{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "What is the patient's gender?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/admin/v1/proxy/relationship" method="post">
        {{ radios({
          "idPrefix": "engageProxyGender",
          "name": "engageProxyGender",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--xl"
            }
          },
          "items": [
            {
              "value": "Female",
              "text": "Female"
            },
            {
              "value": "Male",
              "text": "Male"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

    </div>
  </div>
{% endblock %}

{% block afterContent %}

<footer class="app-silver__footer">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>
        <strong>This service is provided by your GP surgery</strong><br>
        <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/Pages/nhs-sites.aspx">Find out more about this service</a></p>
    </div>
  </div>
</div>
</footer>
{% endblock %}
