{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "Send a message" %}
{% set messagingActive = "active" %}
{% set contentTitle = "Upload your file" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <p>You can upload an image or document. Files should be in .jpg .png .doc .docx .pdf or .rtf format</p>
      <p>Your file should be smaller than 2MB</p>

      <form action="/{{ PROTOTYPEURL }}/file/check-file" method="get">
        <div class="nhsuk-form-group">
          <label class="nhsuk-label nhsuk-label--s nhsuk-u-margin-bottom-2" for="attachment">File</label>
          <input class="nhs-app-form-input" type="file"
           id="attachment" name="msgAttachment"
           accept="image/png, image/jpeg">
        </div>
        <input class="nhsuk-button" type="submit" value="Upload">
      </form>

      <p class="nhs-app-desktop--show">
        <a href="javascript: window.history.go(-1)">Back</a>
      </p>

    </div>
  </div>
{% endblock %}
