{% set PROTOTYPEURL = "app/v1" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Your contact choices" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set info = {
    name: "Sally Wash",
    dob: "5 5 1948",
    gender: "Female",
    placeOfBirth: "Skegness",
    email: "test@example.com",
    telephone: "01132111165",
    mobile: "00798326289",
    NHSNumber: "485 777 3456",
    address: "<address>Grand Parade <br />
                      Great George Street <br />
                      Skegness <br />
                      Lincolnshire <br />
                      PE25 2UE</address>"
}
%}

{% if data['appointments'] %}
  {% if data['appointments'] === "none" %}
    {% set appointmentsPreference = "No preference" %}
  {% else %}
    {% set appointmentsPreference = "By " + data['appointments'] + " to " + info.mobile  %}
  {% endif %}
{% else %}
  {% set appointmentsPreference = "By email" + " to " + info.email %}
{% endif %}

{% if data['reminders'] %}
  {% if data['reminders'] === "none" %}
    {% set remindersPreference = "No preference" %}
  {% else %}
    {% set remindersPreference = "By " + data['reminders'] + " to " + info.email %}
  {% endif %}
{% else %}
  {% set remindersPreference = "By text" + " to " + info.mobile %}
{% endif %}

{% if data['screening'] %}
  {% if data['screening'] === "none" %}
    {% set screeningPreference = "No preference" %}
  {% else %}
    {% set screeningPreference = "By " + data['screening'] + " to " + info.email %}
  {% endif %}
{% else %}
  {% set screeningPreference = "By letter" %}
{% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="app-heading-xl">
        {{ contentTitle }}
      </h1>
      <p>We'll use these choices to tell NHS services how to contact you</p>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Appointments"
            },
            value: {
              text: appointmentsPreference
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "your appointment preference"
                }
              ]
            }
          },
          {
            key: {
              text: "Reminders"
            },
            value: {
              text: remindersPreference
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "your preference for reminders"
                }
              ]
            }
          },
          {
            key: {
              text: "Screening invitations"
            },
            value: {
              text: screeningPreference
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "your screening preference"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
