{% set PROTOTYPEURL = "app/v1" %}
{% set serviceName = "Your preferences" %}
{% set contentTitle = "Tell us how you'd like to be contacted" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
            <h1 class="nhsuk-heading-xl app-heading-xl">
              {{ contentTitle }}
            </h1>

            <p>You can choose if you get an email or text instead of a letter in certain situations.</p>
            <p>If you do have a preference we’ll share this with NHS services to make contacting you easier.</p>

            <form action="/{{ PROTOTYPEURL}}/appointments" method="get">
              <input type="submit" class="nhsuk-button" value="Continue">
              </input>
            </form>

      {{ backLink({
        "href": "#",
        "text": "Back to previous page"
      }) }}



    </div>
  </div>
{% endblock %}
