{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Research study into Crohn's disease in 18 to 30 year olds" %}
{% set question = "Are you happy to share your data with UK Biobank for this research study?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Researchers"
            },
            value: {
              text: "UK Biobank"
            }
          },
          {
            key: {
              text: "Length of research study"
            },
            value: {
              text: "6 months"
            }
          }
        ]
      }) }}

        <form action="/{{ PROTOTYPEURL }}/your-match/UK-biobank-study" method="post">
          {{ radios({
            "idPrefix": "yes",
            "name": "researchStudy",
            "fieldset": {
              "legend": {
                "text": question,
                "classes": "nhsuk-fieldset__legend--m",
                "isPageHeading": true
              }
            },
            "items": [
              {
                "value": "yes",
                "text": "Yes"
              },
              {
                "value": "no",
                "text": "No"
              }
            ]
          }) }}

          <input type="submit" class="nhsuk-button" value="Confirm">
          </input>

        </form>


    </div>
  </div>
{% endblock %}
