{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "We will share your data with UK Biobank for this research study" %}
{% set question = "Would you like updates about this research study?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      <p>We've sent you an email to confirm this.</p>

      <p>The study will start on 28 May 2019.</p>


      <form action="/{{ PROTOTYPEURL }}/your-match/we-will-share-your-data" method="post">
        {{ radios({
          "idPrefix": "yes",
          "name": "researchUpdates",
          "fieldset": {
            "legend": {
              "text": question,
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Confirm">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
