// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import "nhs-app/buttons";


// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

@import 'components/interruption-card';
@import 'components/card';
@import 'components/task-list';
@import 'components/autocomplete';

a:visited {

  color: $color_nhsuk-blue;
}

@import 'prototype/list';
@import 'prototype/email';
@import 'prototype/study-card';
@import 'prototype/timeline';
@import 'prototype/summary-card';
///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

li ul {
  margin-bottom: 0;

  &::before {
    content: "";
    display: block;
    @include nhsuk-responsive-margin(2, 'bottom');  // or $whateverTheRightVariableIsMate

  }
}

.loader {
    border: 3px solid darken(#f0f4f5, 5%);
    border-top: 3px solid $color_nhsuk-blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 64px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text {

  text-align: center;
}

.app-heading-xl {

  @include mq($from: desktop) {
    font-size: 2.7em;
  }
}

.app-label-xl {

  @include mq($from: desktop) {
    font-size: .9em;
  }
}

.nhs-app-thin .nhsuk-label--xl {

  @include nhsuk-responsive-margin(4, 'bottom')
}

.nhsuk-panel-with-label__label-purple {
  @include heading-label($color_nhsuk-purple, $color_nhsuk-white);
  @include print-color($nhsuk-print-text-color);
}


.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.nhsuk-care-card--immediate {

  strong {

    color: $color_nhsuk-white;
  }

}


.nhsuk-global-alert {
    background-color: #ffeb3b;
    padding-bottom: 24px;
    padding-top: 24px
}
@media print {
    .nhsuk-global-alert {
        display: none
    }
}
.nhsuk-global-alert a {
    color: #005eb8
}
.nhsuk-global-alert a:focus {
    background-color: #003d78;
    box-shadow: 0 0 0 4px #003d78;
    color: #fff;
    outline: 4px solid transparent;
    outline-offset: 4px
}
.nhsuk-global-alert a:hover {
    background-color: #005eb8;
    box-shadow: 0 0 0 4px #005eb8;
    color: #fff
}
.nhsuk-global-alert a:active {
    background-color: #002f5c;
    box-shadow: 0 0 0 4px #003d78;
    color: #fff
}
.nhsuk-global-alert__content {
    position: relative
}
.nhsuk-global-alert__content>:first-child {
    margin-top: 0
}
.nhsuk-global-alert__content>:last-child {
    margin-bottom: 0
}
.nhsuk-global-alert__message h2,
.nhsuk-global-alert__message h3 {
    font-size: 24px;
    line-height: 1.33333;
    margin: 0
}
.nhsuk-global-alert__message p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-bottom: 0
}
@media (min-width:40.0625em) {
    .nhsuk-global-alert__message p {
        margin-top: 8px
    }
}
@media (min-width:40.0625em) {
    .nhsuk-global-alert__message p {
        font-size: 19px
    }
}

.calendar-images {

  max-width: 100%;
  height: auto;

  @include mq($from: tablet) {
    width: 375px;
    height: auto;
  }

}


.nhsuk-panel--app {

  margin: 0 -16px;
}

.nhs-app-mobile--hide {

  @include mq($until: tablet) {
    display: none;
  }

}

.nhs-app-tablet--hide {

  @include mq($from: tablet) {
    display: none;
  }

  @include mq($from: desktop) {
    display: block;
  }


}

.nhs-app-desktop--hide {

  @include mq($from: desktop) {
    display: none;
  }

}


.li code, p code, td code {
    background-color: #ffffff;
    color: #d14;
    padding: 2px 8px;
    word-break: break-word;
  }


  .footer-labels {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.563em;
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    align-self: flex-end;
    margin-top: -5px;
  }

  .footer-labels--home {

    margin-top: -6px;
  }

  .footer-labels--help {

    margin-left: 2px;
    margin-top: -6px;
  }

  .footer-labels--more {

    margin-left: 4px;
    margin-top: -6px;
  }

  .footer-labels__link {

    text-decoration: none;
    margin-top: -3px;
  }
