// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';
@import "nhs-app/buttons";


// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

@import 'components/interruption-card';
@import 'components/card';
@import 'components/task-list';
@import 'components/autocomplete';

a:visited {

  color: $color_nhsuk-blue;
}

@import 'prototype/list';
@import 'prototype/email';
@import 'prototype/study-card';
@import 'prototype/timeline';
@import 'prototype/summary-card';
///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

li ul {
  margin-bottom: 0;

  &::before {
    content: "";
    display: block;
    @include nhsuk-responsive-margin(2, 'bottom');  // or $whateverTheRightVariableIsMate

  }
}

.loader {
    border: 3px solid darken(#f0f4f5, 5%);
    border-top: 3px solid $color_nhsuk-blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 64px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader_text {

  text-align: center;
}

.app-heading-xl {

  @include mq($from: desktop) {
    font-size: 2.7em;
  }
}

.app-label-xl {

  @include mq($from: desktop) {
    font-size: .9em;
  }
}

.nhs-app-thin .nhsuk-label--xl {

  @include nhsuk-responsive-margin(4, 'bottom')
}

.nhsuk-panel-with-label__label-purple {
  @include heading-label($color_nhsuk-purple, $color_nhsuk-white);
  @include print-color($nhsuk-print-text-color);
}


.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.nhsuk-care-card--immediate {

  strong {

    color: $color_nhsuk-white;
  }

}


.nhsuk-global-alert {
    background-color: #ffeb3b;
    padding-bottom: 24px;
    padding-top: 24px
}
@media print {
    .nhsuk-global-alert {
        display: none
    }
}
.nhsuk-global-alert a {
    color: #005eb8
}
.nhsuk-global-alert a:focus {
    background-color: #003d78;
    box-shadow: 0 0 0 4px #003d78;
    color: #fff;
    outline: 4px solid transparent;
    outline-offset: 4px
}
.nhsuk-global-alert a:hover {
    background-color: #005eb8;
    box-shadow: 0 0 0 4px #005eb8;
    color: #fff
}
.nhsuk-global-alert a:active {
    background-color: #002f5c;
    box-shadow: 0 0 0 4px #003d78;
    color: #fff
}
.nhsuk-global-alert__content {
    position: relative
}
.nhsuk-global-alert__content>:first-child {
    margin-top: 0
}
.nhsuk-global-alert__content>:last-child {
    margin-bottom: 0
}
.nhsuk-global-alert__message h2,
.nhsuk-global-alert__message h3 {
    font-size: 24px;
    line-height: 1.33333;
    margin: 0
}
.nhsuk-global-alert__message p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    margin-bottom: 0
}
@media (min-width:40.0625em) {
    .nhsuk-global-alert__message p {
        margin-top: 8px
    }
}
@media (min-width:40.0625em) {
    .nhsuk-global-alert__message p {
        font-size: 19px
    }
}







.calendar-images {
  width: 351px;
  height: 648px;
}


body.web main.content .list-menu li {
  margin: 0;
  padding-left: 0; }
  body.web main.content .list-menu li a {
    background: #f0f4f5 url('../images/icon_arrow_left.svg') no-repeat center right;
    background-position: right 1em center;
    border: none;
    box-shadow: none; }
    body.web main.content .list-menu li a:hover {
      background: #f0f4f5 url('../images/icon_arrow_left.svg') no-repeat center right;
      background-position: right 1em center;
      border: none;
      box-shadow: none; }


.list-menu {
  font-size: 1em;
  margin-bottom: 1em; }
  .info p,
  .form p,
  .panel p,
  .list-menu p {
    padding-bottom: 0.5em;
    padding-top: 0.250em; }


    .list-menu li p {
      padding-bottom: 0.5em;
      padding-top: 0.5em; }
      @supports (-webkit-overflow-scrolling: touch) {
        .info h3,
        .list-menu li h3 {
          letter-spacing: -0.063em; } }
    .info h4,
    .list-menu li h4 {
      display: block;
      font-family: "FrutigerLTW01-65Bold", Arial, sans-serif;
      font-weight: 700;
      font-size: 1.125em;
      line-height: 1.125em;
      color: #425563;
      letter-spacing: -0.063em;
      padding-bottom: 0.5em;
      padding-top: 0.5em; }
    .info a,
    .list-menu li a {
      padding-bottom: 0.5em;
      padding-top: 0.5em; }
    .info a.info-link,
    .list-menu li a.info-link {
      display: inline-block;
      font-size: 1em;
      font-style: normal; }

    .info {
      margin-bottom: 0.5em; }
      .info ul li {
        margin-left: 2em;
        padding-bottom: 0.5em;
        padding-top: 0.5em; }

    ul.list-menu {
      border-top: 1px #D8DDE0 solid;
      list-style: none;
      padding-left: 0;
    }
      .list-menu li {
        box-sizing: border-box;
        background: #f0f4f5 url('../images/icon_arrow_left.svg') no-repeat center right;
        // background-image: url('../images/icon-arrow-right.png');
        background-position: right 1em center;
        position: relative;
        margin-bottom: 0em;
        margin-left: 0em;
        padding: 0.5em 0em 0.5em 0;
        border-bottom: 1px #D8DDE0 solid; }
        .list-menu li a {
          font-size: 1em;
          display: block;
          padding: 0;
          text-decoration: none;
        }
          .list-menu li a h2 {
            margin: 0em;
            padding-right: 1em;
          }
        .list-menu li p {
          margin-bottom: 0;
          padding-right: 3em;
          color: $nhsuk-text-color;
        }



        ul.list-menu--no-border {

          border: none;
        }


        .list-menu {

          @include mq($until: desktop) {
            margin: 0 -1em 1em;
          }

          margin-bottom: 1em;

          li {

            background-color: white;
            padding: 0;
            margin-bottom: .2em;
          }

          li a {

            font-weight: 600;
            padding: 0.8em 2em 0.8em 1em;
          }

          li .paragraph {

            font-weight: 600;
            padding: 0.8em 2em 0.8em 1em;
          }



        }

        .list-menu li a:focus, .list-menu li a:hover {

          background-color: transparent;
          box-shadow: inset 0 0 0 4px #ffcd60;

          h2, h3 {
            text-decoration: underline;
          }
        }

        .list-menu li.no-chevron {

          background-color: #ffffff !important;
        }

        .app-store__container {

          margin-top: -24px;

          p {

            padding: 0 !important;
          }


          .list-menu li {

            background-color: #ffffff;
          }

        }


        // Hide on mobile
        .app-display-mobile--hide {
          @include mq($until: tablet) {
            display: none;
          }
        }
        ​
        // Only on mobile
        .app-display-mobile--only {
          @include mq($from: tablet) {
            display: none;
          }
        }
        ​

        ​
        // Hide on desktop
        .app-display-desktop--hide {
          @include mq($from: desktop) {
            display: none;
          }
        }
        ​
        // Only on desktop
        .app-display-desktop--only {
          @include mq($until: desktop) {
            display: none;
          }
        }

        .nhs-app-mobile--hide {

          @include mq($until: tablet) {
            display: none;
          }

        }

        .nhs-app-tablet--hide {

          @include mq($from: tablet) {
            display: none;
          }

          @include mq($from: desktop) {
            display: block;
          }


        }

        .nhs-app-desktop--hide {

          @include mq($from: desktop) {
            display: none;
          }

        }

        .nhs-app-mobile--show {

          display: none;

          @include mq($until: tablet) {
            display: block;
          }

        }

        .nhs-app-tablet--show {

          display: none;

          @include mq($from: tablet) {
            display: block;
          }

          @include mq($from: desktop) {
            display: none;
          }


        }

        .nhs-app-desktop--show {

          display: none;

          @include mq($from: desktop) {
            display: block;
          }

        }
        ​
