{% set PROTOTYPEURL = "app/covid-status" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "View your COVID-19 status" %}
{% set title = contentTitle + " - " + serviceName %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new-covid-status.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="javascript: window.history.go(-1)">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>


      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p class="nhsuk-u-margin-bottom-6">Share proof of your status if you're travelling or going to an event.</p>


      {% if data['p5_status'] === 'True' %}

      <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/app/covid-status/status-service-v4/pre-event-checks">Events</a>
        </h2>
        <p class="nhsuk-card__description">You may need to share your COVID-19 status when going to an event.</p>
      </div>
      </div>


      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/app/covid-status/status-service-v4/covid-status?events=">Travel</a>
          </h2>
          <p class="nhsuk-card__description">You may need to share your COVID-19 status when travelling.</p>
        </div>
      </div>


      {% else %}

      <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
          <a class="nhsuk-card__link" href="/app/covid-status/status-service-v3/covid-status?events=True">Events</a>
        </h2>
        <p class="nhsuk-card__description">You will need to share your COVID-19 status when going to an event.</p>
      </div>
      </div>


      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/app/covid-status/status-service-v3/covid-status?events=">Travel</a>
          </h2>
          <p class="nhsuk-card__description">You may need to share your COVID-19 status when travelling.</p>
        </div>
      </div>

      {% endif %}





    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
// Loops through dom and finds all elements with nhsuk-card--clickable class
document.querySelectorAll('.nhsuk-card--clickable').forEach((panel) => {
  // Check if panel has a link within it
  if (panel.querySelector('a') !== null) {
    // Clicks the link within the heading to navigate to desired page
    panel.addEventListener('click', () => {
      panel.querySelector('a').click();
    });
  }
});
</script>
{% endblock %}
