{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}

{% block pageScripts %}
{% endblock %}

{% set study =
  {
    id: "3",
    category: "planning",
    title: "Planning and evaluating local services in Leeds",
    dateFirstRelease: "January 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "5",
    organisation: "Leeds City Council",
    organisationExplainer: "A city council helps plan and fund health and social care services",
    phrase: "understand"

  }
%}

{% set dataSets = [
  {
    id: "3",
    category: "planning",
    title: "Planning and evaluating local services in Leeds",
    dateFirstRelease: "January 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "5",
    organisation: "Leeds City Council"

  }

  ]
%}
{% set contentTitle = study.organisation %}
{% set benefitsTitle = "How your data has been used by " + study.organisation %}
{% set title = contentTitle + " - " + serviceName %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="">
           {{ contentTitle }}
        </h1>
      </div>

      <p>Leeds City Council is the local authority of the City of Leeds in West Yorkshire, England. It is a metropolitan district council, one of five in West Yorkshire and one of 36 in the metropolitan counties of England, and provides the majority of local government services in Leeds</p>

      <p>{{ study.organisationExplainer}}.</p>

      {% set studies = [
        {
          id: "3",
          category: "Planning",
          title: "Planning and evaluating local services in Leeds",
          dateFirstRelease: "January 2019",
          dateLatestRelease: "May 2019",
          dateFinished: "",
          timesDataShared: "5",
          organisation: "Leeds City Council"

        }

        ] %}

        <h2>Studies using your data</h2>

        <div class="app-study">
          <ol class="app-study__list">
            {% for s in studies %}
            <li class="app-study__list-item">
              <div class="app-study__list-item-container">
                <a href="/{{ PROTOTYPEURL }}/studies/{{s.id}}">
                  <span class="nhsuk-caption-m nhsuk-caption--top">{{ s.organisation }}</span>
                  <h2 class="app-study__list-item-heading">{{s.title}}</h2>

                  {% if s.timesDataShared == 1 %}
                  <div class="app-study__list-item-row">
                    <span class="app-study-list-card__key">When your data was shared </span>
                    <span class="app-study-list-card__value">{{s.dateFirstRelease}}</span>
                  </div>
                  {% endif %}

                  {% if s.timesDataShared > 1 %}
                  <div class="app-study__list-item-row">
                    <span class="app-study-list-card__key">When your data was shared</span>
                    <span class="app-study-list-card__value">From {{s.dateFirstRelease }} to {{s.dateLatestRelease}}</span>
                  </div>
                  {% endif %}

                  {% if s.dateFinished %}
                  <div class="app-study__list-item-row">
                    <span class="app-study-list-card__key">Date data stopped being shared</span>
                    <span class="app-study-list-card__value">{{s.dateFinished}}</span>
                  </div>
                  {% endif %}


                  <div class="app-study__list-item-row nhsuk-u-margin-top-2">
                    <span class="app-study-list-card__link">Find out more</span>
                  </div>
                </a>
              </div>
            </li>
            {% endfor %}
          </ol>
        </div>



      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Back to the previous page"
      }) }}

    </div>
  </div>
{% endblock %}
