{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "Change your nominated pharmacy" %}
{% set prescriptionsActive = "active" %}
{% if data['onlineName'] %}
    {% set onlineName = data['onlineName'] %}
  {% else %}
    {% set onlineName = "Echo" %}
{% endif %}
{% set contentTitle = "We’ve updated your new nominated pharmacy to " + onlineName %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-m nhsuk-caption--top">Change your nominated pharmacy
</span>{{ contentTitle }}</h1>

      <p>Your new repeat prescriptions will be sent to:</p>


            <h2 class="nhsuk-heading-s">{{ onlineName }}</h2>
            <p>{{ data['onlineInfo'] | safe }}</p>

      <form action="/{{ PROTOTYPEURL }}/v1/your-prescriptions" method="get">
        <input type="submit" class="nhsuk-button nhsuk-button--secondary" value="Back to your prescriptions">
        </input>
      </form>

    </div>
  </div>
{% endblock %}
