{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Find a community pharmacy" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "#",
      text: "Home"
    }
  ],
  href: "#",
  text: "Your nominated pharmacy"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l"><span class="nhsuk-caption-m nhsuk-caption--top">Nominate a pharmacy
</span>{{ contentTitle }}</h1>



      <form action="/{{ PROTOTYPEURL }}/v1/community-results" method="get">

        {{ input({
          "label": {
            "text": 'Enter a name or postcode',
            "isPageHeading": false,
            "classes": ""
          },
          "hint": {
            "text": 'For example, LS1 or Leeds Pharmacy'
          },
          "id": "inputpharmacyPostcode",
          "name": "pharmacyPostcode",
          "classes": "nhsuk-input--width-10"
        }) }}

        <input type="submit" class="nhsuk-button" value="Search">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
