{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Your prescriptions" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <form action="/{{ PROTOTYPEURL}}/select-medicine-to-renew" method="get">
        <input type="submit" class="nhsuk-button" value="Order a repeat prescription">
        </input>
      </form>

      <ul class="list-menu">
      	<li>
      		<a href="/{{ PROTOTYPEURL }}/v1/your-nominated-pharmacy">
            <h2 class="nhsuk-heading-s">Your nominated pharmacy</h2>
            <p>Gledhow Local Pharmacy</p>
          </a>
      	</li>
      </ul>

      <h2 class="nhsuk-heading-m">Your repeat prescriptions</h2>

      {% if data['prescriptionConfirmed'] %}
      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Order date
            </h3>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-4">4 October 2019</p>

            <div class="nhs-app-status">
              <div class="requested">
        					<svg class="nhs-app-status-svg" width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
        						<title>Ordered</title>
        						<desc></desc>
        						<defs></defs>
        						<g id="Icon---Clock" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        							<g id="clock-with-white-face" fill="#df6b31" fill-rule="nonzero">
        								<path d="M8.5,0 C3.825,0 0,3.825 0,8.5 C0,13.175 3.825,17 8.5,17 C13.175,17 17,13.175 17,8.5 C17,3.825 13.175,0 8.5,0 Z M8.5,15.3 C4.76,15.3 1.7,12.24 1.7,8.5 C1.7,4.76 4.76,1.7 8.5,1.7 C12.24,1.7 15.3,4.76 15.3,8.5 C15.3,12.24 12.24,15.3 8.5,15.3 Z" id="Shape"></path>
        								<polygon id="Shape" points="9.25 4 8 4 8 9.2173913 12.3333333 12 13 10.8695652 9.25 8.52173913"></polygon>
        							</g>
        						</g>
        					</svg>
        				<p class="nhs-app-status-body nhs-app-status-body--waiting">Prescription pending GP approval</p>
        			</div>



            </div>


            <div class="nhs-app-card-delete">

              <h3 class="nhsuk-heading-xs">Omeprazole 40mg gastro-resistant capsules</h3>
              <p>One to be taken each day - 28 tablet</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Order date
            </h3>
            <p class="nhsuk-body-l nhsuk-u-margin-bottom-4">4 September 2019</p>

            <div class="nhs-app-status">
                <svg class="nhs-app-status-svg" width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
                  <title>Approved</title>
                  <desc></desc>
                  <defs></defs>
                  <g id="Icon---Ready" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="done" fill="#006435" fill-rule="nonzero">
                      <polygon id="Shape" points="11.6398175 5 7.36505863 9.49932468 5.17466546 7.22683909 4 8.44068522 7.45336658 12 13 6.44199307"></polygon>
                      <path d="M8.5,0 C3.80560204,0 0,3.80560204 0,8.5 C0,13.194398 3.80560204,17 8.5,17 C13.194398,17 17,13.194398 17,8.5 C17,3.80560204 13.1944378,0 8.5,0 Z M8.5,15.4615109 C4.65527134,15.4615109 1.53848912,12.3447287 1.53848912,8.5 C1.53848912,4.65527134 4.65527134,1.53848912 8.5,1.53848912 C12.3427763,1.54315085 15.4568093,4.65718384 15.4615109,8.5 C15.4615109,12.3447685 12.3447685,15.4615109 8.5,15.4615109 Z" id="Shape"></path>
                    </g>
                  </g>
                </svg>
                <p class="nhs-app-status-body nhs-app-status-body--approved">Prescription approved by your GP</p>

            </div>


            <div class="nhs-app-card-delete">

              <h3 class="nhsuk-heading-xs">Omeprazole 40mg gastro-resistant capsules</h3>
              <p>One to be taken each day - 28 tablet</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
