{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Online consultations" %}
{% set messagingActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/messaging/v3/index">Back</a></p>
  </div>
</nav>
{% include "../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}

{% set medicalProblems %}
  {{ data['engageProblemCat'] if data['engageProblemCat'] else "Blocked nose" }}
  {% if data['engageProblemCatTwo'] %}
    {{ data['engageProblemCatTwo'] }}
  {% endif %}
{% endset %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ contentTitle }}</h1>

      {{ checkboxes({
  "idPrefix": "example",
  "name": "example",
  "fieldset": {
    "legend": {
      "text": "",
      "classes": "nhsuk-fieldset__legend--l",
      isPageHeading: true
    }
  },
  "items": [
    {
      "value": "completed",
      "text": "Show completed messages"
    }
  ]
}) }}


        <div class="nhs-app-panel-heading">
          <h2 class="nhsuk-heading-m">Your messages</h2>
        </div>


        <ul class="list-menu nhs-app-message ">

        {% if data['engageAdminDone'] === "True" %}
          <li id="messageID1" class="nhs-app-message__item nhs-app-message__item--unread">
            <a class="nhs-app-message__link" href="engage-view?id=4&from=Gledhow Practice">
              <h2 class="nhsuk-heading-xs">
                  <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                Gledhow Practice
                  <span class="nhsuk-u-visually-hidden">The last message was sent today</span>
                </h2>
                <b><p class="nhsuk-body-s nhs-app-message__subject-line--bold">
                  <span class="nhsuk-u-visually-hidden">Subject: </span>
                  {{ data['engageAdminWhat'] or "Administration" }} Request for: Betty Doyle
                  <br>
                  Last Message - 1:50PM on 07-Oct-2020
                </p></b>
              </a>
            </li>
            {% endif %}
          {% if data['engageMedDone'] === "True" %}

          <li id="messageID2" class="nhs-app-message__item nhs-app-message__item--unread">
            <a class="nhs-app-message__link" href="engage-view-med?id=3&from=Gledhow Practice">
            <h2 class="nhsuk-heading-xs">
                <span class="nhsuk-u-visually-hidden">Conversation with:</span>
              Gledhow Practice
                <span class="nhsuk-u-visually-hidden">The last message was sent today</span>
              </h2>
              <b><p class="nhsuk-body-s nhs-app-message__subject-line--bold">
                <span class="nhsuk-u-visually-hidden">Subject: </span>
                Medical request for: Betty Doyle
                <br>
                Last Message - 1:50PM on 07-Oct-2020
              </p></b>
            </a>
          </li>
          {% endif %}

        {% if not data['engageAdminDone'] and not data['engageMedDone'] %}
        <p class="nhsuk-u-margin-top-0 nhsuk-u-padding-left-4"><b>You currently have no messages.</b></p>
        {% endif %}


      </ul>


  </div>
</div>
{% endblock %}

{% block afterContent %}
{% endblock %}
