{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Agree to share your NHS login information" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
{% if data["messagingLogin"] %}
<script type="text/javascript">
$( document ).ready(function() {
    jQuery.post( "/app/password", { messagingLogin: "seen" } );
  });
</script>
{% endif %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhs-app-xl">{{ contentTitle }}</h1>

      <p>To continue, you need to agree to share your NHS login information with <strong>'Engage Health Systems Limited'</strong>.</p>

      <p><strong>'Engage Health Systems Limited'</strong> will use your:</p>


      <ul>
        <li>NHS number</li>
        <li>date of birth</li>
        <li>last name</li>
        <li>identity score</li>
        <li>email address</li>
        <li>first names</li>
        <li>GP surgery's name and address</li>
        <li>mobile phone number</li>
      </ul>

      <p>If you agree, read their terms of use and privacy policy to check how your information will be used.</p>


      <form action="/{{ PROTOTYPEURL }}/messaging/v2/engage-inbox?engageLoginAccepted=true&messagingLogin=seen" method="post">
        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

      <p><a href="javascript:void(0)">I do not agree to share this information</a></p>
    </div>
  </div>
{% endblock %}
