{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Choose if you want to share your personal information" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set questionTitleHTML %}
      <span class="nhsuk-caption-m nhsuk-caption--top">{{ "Additional GP services" if data['eConsultAdminJourney'] == 'true' else "Ask a health professional for advice"}}</span> Would you like to use the personal information we already hold?
      {% endset %}

      {% call fieldset({
        "legend": {
          "html": questionTitleHTML,
          "classes": "nhsuk-fieldset__legend--xl nhs-app-xl",
          "isPageHeading": true
        },
        "attributes": {
          "aria-describedby": "radio-hint"
        }
      }) %}

      {{ hint({
        "html": 'You can use the name, date of birth, NHS number and postal address we already hold with the online consultation service. Read our <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/">privacy policy</a> to find out how we use and protect your data.',
        "classes": "nhsuk-u-margin-bottom-2",
        "attributes": {
          "id": "radio-hint"
        }
      }) }}

      {% endcall %}




    <form action="" method="post">
      {{ radios({
        "idPrefix": "eConsult",
        "name": "eConsult",
        "fieldset": {
          "legend": {
            "isPageHeading": true,
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes, use my personal information"
          },
          {
            "value": "no",
            "text": "No, I will fill in the information myself"
          }
        ]
      }) }}

      <input type="submit" class="nhsuk-button" value="Continue">
      </input>
    </form>


    </div>
  </div>
{% endblock %}
