{% set PROTOTYPEURL = "app/homepage" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Home page prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>




      <h2 class="nhsuk-heading-m">Live</h2>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/homepage-1">Live home page design</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/biometric-message">Biometric message</a>
        </li>
      </ul>


      <h2 class="nhsuk-heading-m">Exploration</h2>

      <h3 class="nhsuk-heading-s">Home page</h3>

      <p>This version includes alert message, new message, next appointment and quick links.</p>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/homepage-2">Home page exploration</a>
          </li>
        </ul>


      <h3 class="nhsuk-heading-s">Biometrics</h3>

      <p>Explored asking the user after logging in if they want to use biometric login. Example refers to Touch ID rather than Face ID.</p>


      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/biometric-message-2">Biometric interruption page (long question format) (v2)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/biometric-message-3">Biometric interruption page (v3)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/biometric-message-4">Biometric interruption page with native header and footer supressed(v4)</a>
        </li>
      </ul>



    </div>
  </div>
{% endblock %}
