{% set PROTOTYPEURL = "app/homepage" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Home page prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>




      <h2 class="nhsuk-heading-m">Live</h2>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/homepage-1">Live home page design</a>
        </li>
        <li>
          <a href="/app/p5/index">P5 home page</a>
        </li>
      </ul>


      <h2 class="nhsuk-heading-m">Exploration</h2>

      <h3 class="nhsuk-heading-s">Home page</h3>

      <p>This version includes alert message, new message, next appointment and quick links.</p>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/homepage-2">Home page exploration v2</a>
          </li>
        </ul>



        <p>This version includes the coronavirus yellow banner, new message, next appointment and quick links.</p>

          <ul>
            <li>
              <a href="/{{ PROTOTYPEURL }}/homepage-3">Home page exploration v3</a>
            </li>
          </ul>

          <p>This version includes edited h1 and moved name of person below the h1. Also includes NHS App services panel heading and new link.</p>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/homepage-4">Home page exploration v4</a>
              </li>
            </ul>

            <p>Latest version</p>

              <ul>
                <li>
                  <a href="/app/v5">Latest home page</a>
                </li>
              </ul>



    </div>
  </div>
{% endblock %}
