{% set PROTOTYPEURL = "app" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Help improve the NHS App" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends "layouts/layout-transactional.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block header %}
  {{ header({
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">




      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <p>We would like to contact you about taking part in research to improve the NHS App and connected services.</p>


      {{ details({
  "text": "What’s involved?",
  "HTML": "
  <p>We'll add you to our user research panel and email you a short survey to fill in about you and your health. Your answers will help make sure you get invited to user research that's relevant to you.</p>

  <p>Once you're signed up, you might be asked to:</p>
  <ul>
  <li>try out new features</li>
  <li>answer more questions by email</li>
  <li>talk to our researchers about your experience of using the app</li>
</ul>

  <p>You can always say no to an invite and you can leave the user research panel at any time.</p>"
}) }}

  <p>Your information will only be used to contact you about the NHS App user research panel. It will not be shared with anyone else and you can unsubscribe at any time. <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/">Read our privacy policy</a> to find out how we use and protect your data.</p>



      <form action="/app/p5/home?p5=True" method="get">

      {{ radios({
        "idPrefix": "example",
        "name": "qualtrics",
        "fieldset": {
          "legend": {
            "text": "Can we contact you to take part in NHS App research?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes, you can contact me about taking part in research"
          },
          {
            "value": "no",
            "text": "No, do not contact me"
          }
        ]
      }) }}



        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
