{% set PROTOTYPEURL = "app/settings/v3" %}
{% set serviceName = "Home" %}
{% set contentTitle = "Enter your current password" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Settings</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m nhsuk-caption--bottom">Change password
</span><h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

<form action="/app/settings/v3/enter-new-password" method="post">

{{ input({
  "label": {
    "text": "Current password"
  },
  "id": "example",
  "name": "example",
  "classes": "nhsuk-input--width-20"
}) }}

  <input type="submit" class="nhsuk-button nhsuk-button" value="Continue">
  </input>
</form>
<div class="nhsuk-back-link" style="margin-bottom: 16px;">
        <a class="nhsuk-back-link__link button--back" href="/app/settings/v3/nhs-login" id="backlink-4" style="font-size: 16px;font-size: .875rem;line-height: 1.71429;display: inline-block;padding-left: 16px;position: relative;text-decoration: none;">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" style="height: 24px;left: -8px;position: absolute;top: -1px;width: 24px;fill: #005eb8;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
            </svg>
            I do not want to change my password</a>
    </div>
</div>


    </div>
  </div>
{% endblock %}
