{% set PROTOTYPEURL = "app/settings/v3" %}
{% set serviceName = "Home" %}
{% set contentTitle = "Manage cookies" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Settings</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>
      <p>We've put some small files called cookies on your device to make the NHS App work.</p>
      <p>We will not use any other cookies unless you choose to turn them on.</p>

      <ul class="list-menu">
        <li>
          <a target="_blank" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/cookies/">Cookies policy</a>
        </li>
      </ul>

      {% set checked %}
        {% if data['cookies'] == "on" %}
          Checked
        {% else %}
          nope
        {% endif %}
      {% endset %}

      <form action="" method="post">
        <div class="nhs-app-card">
          <div class="nhs-app-card__inner" onclick="cookieToggle()">
            <div>
              <label for="cookie">Allow optional analytic cookies</label>
              <span class="nhsuk-hint nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-1">
                I accept the use of optional analytic cookies used to improve the performance of the NHS App
              </span>
              <input class="toggle" type="checkbox" id="cookie" name="cookie" value="on" {{ checked }}>
              <input class="nhsuk-u-visually-hidden" type="submit" value="Submit">
      			</div>
          </div>
        </div>
      </form>


    </div>
  </div>
{% endblock %}
