{% set PROTOTYPEURL = "app/settings/v3" %}
{% set serviceName = "Home" %}
{% set contentTitle = "Manage your NHS login" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>


  <svg _ngcontent-plp-c38="" xmlns="http://www.w3.org/2000/svg" style="fill: #005db8;" viewBox="6 0 20 24" width="32" aria-hidden="true" class="nhsuk-icon nhsuk-icon__user nhsuk-icon--size-50 nhsuk-u-margin-right-2"><path _ngcontent-plp-c38="" d="M16,2a10,10,0,0,0-1.09,19.93H15A6,6,0,0,0,16,22a6,6,0,0,0,1-.06h.05A10,10,0,0,0,16,2Zm5.4,15.88a6.45,6.45,0,0,0,.14-.88,5.3,5.3,0,0,0-2.4-4.14,4.89,4.89,0,0,1-6.28,0A5.3,5.3,0,0,0,10.46,17a6.45,6.45,0,0,0,.14.88,8,8,0,1,1,10.8,0Z" class="user-icon"></path><circle _ngcontent-plp-c38="" cx="16" cy="9" r="3" class="user-icon"></circle></svg>
<h2 style="display: inline-block; position: relative;     top: -17px;" class="nhsuk-heading-m">Betty Doyle</h2>

<h3>Your personal information</h3>

<p>You can change your email, password and phone number.</p>


{{ summaryList({
  rows: [
    {
      key: {
        text: "Email"
      },
      value: {
        text: "betty.doyle@hotmail.com"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change email address"
          }
        ]
      }
    },
    {
      key: {
        text: "Password"
      },
      value: {
        text: "•••••••••••"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change password"
          }
        ]
      }
    },
    {
      key: {
        text: "Phone"
      },
      value: {
        html: "••••••••746"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change phone number"
          }
        ]
      }
    }
  ]
}) }}

<h3>Delete your NHS login</h3>

<p>You will need to enter your password to delete your NHS login.</p>

<p><a href="#">Delete NHS login</a></p>
    </div>
  </div>
{% endblock %}
