{% set PROTOTYPEURL = "app/symptoms" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Symptoms prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>

      <h3>v3</h3>
      <p>
        <a href="/{{ PROTOTYPEURL }}/v3/">Symptoms with coronavirus 111 panel</a> (NHSO-8834)
      </p>

      <h4>Designs explored</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/">Conventional panel link (Latest)</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-logged-out">LOGGED OUT Conventional panel link (Latest)</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-v5">Conventional panel link with previous content</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-v4">Yellow panel</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-v3">NHS blue panel</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-v2">Thin priortised panel link</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index-v1">Conventional panel link. Heading reversed</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v3/index">Conventional panel link</a>
        </li>

      </ul>


      <h3>v2</h3>
      <p>
        <a href="/{{ PROTOTYPEURL }}/v2/">Symptoms</a> (NHSO-8424)
      </p>

      <h3>v1</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/">Symptoms</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/az">NOT IN USE (NHSUK A-Z)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/111">NOT IN USE (111)</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
