{% set PROTOTYPEURL = "app/symptoms" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Symptoms prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>
      <h3>v1</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/">Symptoms</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/az">NHSUK A-Z</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/111">111</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
