{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set contentTitle = "We've updated your preference" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set report  %}
  {% if data['report'] == 'text' %}
    mobile number
  {% elif data['report'] == 'email' %}
    email address
  {% else %}
    email address
  {% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1> {{ contentTitle }} </h1>

      {% if data['report'] == 'text' %}

         <p>We'll contact you by text to {{ data['reportnewdetails'] }} to send you an annual report about how your data has been used.</p>


         {% else %}


         <p>We'll contact you by email to {{ data['reportnewdetails'] }} to send you an annual report about how your data has been used.</p>


         {% endif %}



    <form action="/{{ PROTOTYPEURL }}/contact-choices/your-preferences" method="get">
    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

    </div>
  </div>
{% endblock %}
