{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set contentTitle = "Check your" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set study  %}
  {% if data['study'] == 'text' %}
    mobile number
  {% elif data['study'] == 'email' %}
    email address
  {% else %}
    email address
  {% endif %}
{% endset %}

{% set questionFiller  %}
  {% if data['study'] == 'text' %}
    Yes, 00789101173 is my mobile phone number
  {% elif data['study'] == 'email' %}
    Yes, jane.doe@gmail.com is my email address
  {% else %}
    Yes, jane.doe@gmail.com is my email address
  {% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }} {{ study }}</h1>

      {% if data['study'] == 'text' %}

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Mobile phone
            </dt>
            <dd class="nhsuk-summary-list__value">
              00789101173
            </dd>

          </div>
        </dl>

         {% else %}

         <dl class="nhsuk-summary-list">
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Email
             </dt>
             <dd class="nhsuk-summary-list__value">
               jane.doe@gmail.com
             </dd>

           </div>
         </dl>


         {% endif %}


      <form action="/{{ PROTOTYPEURL }}/contact-choices/confirm-details" method="post">
        {{ radios({
          "idPrefix": "gov",
          "name": "confirmDetails",
          "fieldset": {
            "legend": {
              "text": "Is this your current " + study | trim + "?",
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": questionFiller
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
