{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set study  %}
  {% if data['study'] == 'text' %}
    mobile number
  {% elif data['study'] == 'email' %}
    email address
  {% else %}
    email address
  {% endif %}
{% endset %}
{% set contentTitle = "What " + study + " would you like us to use to contact you? " %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/contact-choices/1-update-preference" method="post">

        {{ input({
          "label": {
            "text": contentTitle,
            "isPageHeading": true,
            "classes": "nhsuk-label--xl"
          },
          "id": "inputstudynewdetails",
          "name": "studynewdetails",
          "autocomplete": "off",
          "classes": "nhsuk-input--width-20"
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>
    </div>
  </div>
{% endblock %}
