{% set PROTOTYPEURL = "app/settings/v2" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">Settings</h1>
      <ul class="list-menu">
        <li>
          <a href="/{{ PROTOTYPEURL }}/cookies">Cookies</a>
        </li>
      	<li>
      		<a href="/{{ PROTOTYPEURL }}/password">Login options</a>
      	</li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/login">NHS login</a>
        </li>
      	<li>
      		<a href="/{{ PROTOTYPEURL }}/notifications">Notifications</a>
      	</li>
      </ul>
      <form action="/app/v8/clear" method="post">
        <input type="submit" class="nhsuk-button nhsuk-button--secondary" value="Log out">
        </input>
      </form>
      <h2 class="nhsuk-heading-m">About the NHS App</h2>
      <ul class="list-menu">
        <li>
      		<a href="#">Help and support</a>
      	</li>
        <li>
      		<a href="#">Accessibility statement</a>
      	</li>
        <li>
      		<a href="#">Open source licences</a>
      	</li>
        <li>
          <a href="#">Privacy policy</a>
        </li>
        <li>
      		<a href="#">Terms of use</a>
      	</li>
      </ul>

    </div>
  </div>
{% endblock %}
