{% set PROTOTYPEURL = "app/records/v2" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Your GP health record" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        {{ contentTitle }}
      </h1>

      <p>You do not currently have full access to your GP health record.</p>

      <p>
        <a href="/{{ PROTOTYPEURL }}/request-access">Find out how to request detailed record access</a>
      </p>

        <ul class="list-menu">
          <li>
        		<a href="items/personal-details">
              Personal details
            </a>
        	</li>
        	<li>
        		<a href="items/allergies">
              Allergies and adverse reactions
              <span class="nhs-app-list-menu__count">2</span>
            </a>
        	</li>
          <li>
        		<a href="items/medicine">
              Medicine
              <span class="nhs-app-list-menu__count">5 Current</span>
            </a>
        	</li>
        </ul>

        {{ details({
          "text": "Help with medical abbreviations",
          "HTML": "
          <p>You may see medical abbreviations that you aren't familiar with.</p>
          <p>We have guidance for <a target='_blank' href='https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/abbreviations/'>abbreviations commonly found in medical records</a>.</p>
          "
        }) }}



    </div>
  </div>
{% endblock %}
