{% set PROTOTYPEURL = "app/contact-details/round-2/scenario-1" %}
{% set serviceName = "NHS App" %}
{% set moreActive = "active" %}
{% set contentTitle = "Do you also want to update the email address you use to log into health websites and apps?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v8/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/contact-details/v2/more-hub">More</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/contact-details/v2/account-hub">Manage your account</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/enter-new-email" method="post">


          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl nhs-app-xl">
                <h1 class="nhsuk-fieldset__heading">
                  {{ contentTitle }}
                </h1>
              </legend>

              <div class="nhsuk-radios">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="updateLogin" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="updateLogin" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  No, I want to keep using betty.doyle@hotmail.com
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

                      <input type="submit" class="nhsuk-button" value="Continue">
                      </input>
                    </form>


                                  {{ details({
                                    "text": "What is NHS login?",
                                    "HTML": "
                                    <p>NHS login makes it easier and quicker for you to securely access digital health and care services with 1 username and password.</p>
                                    "
                                  }) }}




    </div>
  </div>
{% endblock %}
