{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Ask your GP for advice" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-mobile--hide" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>

{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>

{% endif %}
  </div>
</nav>{% include "../_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Ask your GP for advice</p>

      <h1 class="nhsuk-heading-xl nhs-app-xl">Thank you, Betty. The answers to your consultation have been securely sent to your GPs at Gledhow Practice</h1>

      <p>We've also emailed you a confirmation of your consultation</p>

      <h3 class="nhsuk-heading-l">What happens next</h3>

      <ul>
        <li>One of your GPs will now review your consultation.</li>
        <li>Your practice will respond to you by phone or email <strong>before 6:30pm on {{ "2" | returnDate }}</strong></li>
      </ul>

      <p>If your child's condition gets worse while you're waiting for a response, call the practice on 0113 496 0999 as soon as possible. If the practice is closed, call NHS 111. For immediate, life-threatening emergencies, call 999</p>

      <p><strong>Here are two important tips for ensuring you recieve a response:</strong></p>

      <ul>
        <li>A call from your practice may sometimes appear on your phone as "Blocked", "No caller ID" or "Private number"</li>
        <li>Check your junk email folder</li>
      </ul>

      <h3 class="nhsuk-heading-l">What if I don't get a call or an email?</h3>

      <p>In most cases you won't need to contact the practice <strong>before 6:30pm on {{ "2" | returnDate }}</strong>.</p>

      <p>There is generally no need for you to contact the practice before 6:30pm on {{ "2" | returnDate }}. But if they're unable to reach you by then, please let them know by using the link in your confirmation email or by called the practice on <strong>0113 496 0999</strong>.</p>

      <h3 class="nhsuk-heading-l">What if I'm given a prescription</h3>

      <p>If your doctor decides you need a prescription you will be able to pick it up from the practice or your local pharmacy.</p>

      <h3 class="nhsuk-heading-l">I think I made a mistake on my consultation! What do I do now?</h3>

      <p>Please call the practice on <strong>0113 496 0999</strong>. A member of staff will be able to update your record.</p>

      <p>
        <a href='{{ data["routeHome"] if data ["routeHome"] else "/app/v8" }}'>Back to home</a>
      </p>



    </div>
  </div>
{% endblock %}
