{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Ask your GP for advice" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>
<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Ask your GP for advice</p>

  <div class="nhsuk-warning-callout nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">
  <h2 class="nhsuk-warning-callout__label">Is your query specifically about a new, continuous cough, high temperature or a loss or change to your sense of smell or taste?</h2>
  <p>Answering this question will help us limit the
  spread of coronavirus (COVID-19). </p><p>A high temperature means you feel hot to the touch on your chest or back. A new continuous cough means you've started coughing repeatedly. A loss or change to your sense of smell or taste means you've noticed you cannot smell or taste anything, or things smell or taste different to normal.</p>
</div>

<form action="/app/econsult/adult/6_covid" method="post">
  {{ radios({
    "idPrefix": "econsult",
    "name": "econsultAdultCOVIDCheck",
    "fieldset": {
      "legend": {
        "isPageHeading": false,
        "classes": ""
      }
    },
    "items": [
      {
        "value": "Yes",
        "text": "Yes"
      },
      {
        "value": "No",
        "text": "No"
      }
    ]
  }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}
