{% set PROTOTYPEURL = "app/appointments/v9-doctorlink" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Check your appointment details before booking" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
// dirty hack to make the menu disappear when a textarea is being used
$("textarea").focus(function(){
  $(".menu").hide();
});

$("textarea").focusout(function(){
  $(".menu").show();
});
</script>
{% endblock %}

{% set showAppointmentType %}
{% if data["type"] == "Telephone appointment" %}
  {{ data["type"] }} <br> Telephone
{% elif data["type"] %}
  {{ data["type"] }} <br> Face to face
{% else %}
  General appointment in person <br> Face to face
{% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>
            {{ summaryList({
              classes: '',
              rows: [
                {
                  key: {
                    text: "Date and time"
                  },
                  value: {
                    html: data["date"] + " <br> " + data["time"]
                  }
                },
                {
                  key: {
                    text: "Appointment type"
                  },
                  value: {
                    html: data['type'] + "<br> " + data['sessionName']
                  }
                },
                {
                  key: {
                    text: "Member of staff"
                  },
                  value: {
                    html: data["staffName"] or "Dr Sanjit Praneskear (Male)"
                  }
                },
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: data['location'] or "Gledhow Practice"
                  }
                },
                {
                  key: {
                    text: "Reason"
                  },
                  value: {
                    text: data['appointmentReasons'] or "None given"
                  }
                }

              ]
            }) }}

      <form action="/{{ PROTOTYPEURL}}/appointment-booked?confirmed=true" method="post">
        <input type="submit" class="nhsuk-button" value="Confirm and book appointment">
        </input>
      </form>

      {{ backLink({
        "href": "javascript: window.history.go(-2)",
        "text": "Choose a different appointment"
      }) }}


    </div>
  </div>
{% endblock %}
