{% set PROTOTYPEURL = "app/v4" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Home" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">{{ contentTitle }}</h1>
      <h2>Welcome, Mr Bernard Doyle </h2>
      <div class="">
      	<p class="nhsuk-u-margin-bottom-0">
          <strong>Date of birth</strong>
          20 January 1982
        </p>
        <p class="nhsuk-u-margin-bottom-4">
          <strong>NHS number</strong>
          123 456 7890
        </p>
      </div>

      <ul class="list-menu">
        <li>
          <a href="#">Check your symptoms</a>
        </li>
        <li>
          <a href="#">Book and manage appointments</a>
        </li>
        <li>
          <a href="#">Order a repeat prescription</a>
        </li>
        <li>
          <a href="#">View your GP health record</a>
        </li>
        <li>
          <a href="#">Manage your organ donation decision</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
