{% set PROTOTYPEURL = "register-as-a-data-donor/v2" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Are you happy to share your data for artificial intelligence?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
<h1>{{ contentTitle }}</h1>

<form action="/{{ PROTOTYPEURL }}/register/check-your-answers" method="get">
  {{ radios({
    "idPrefix": "nhs",
    "name": "shareAi",
    "fieldset": {
      "legend": {
        "classes": "nhsuk-fieldset__legend--m"
      }
    },
    "hint": {
      "text": "Artificial intelligence (AI) is when a computer program or a machine can think and learn."
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) }}


  <input type="submit" class="nhsuk-button" value="Continue">
  </input>

</form>

    </div>
  </div>
{% endblock %}
