{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Your data donor profile" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      <ol class="timeline">
        <li class="timeline__entry">
          <h3 class="timeline__title">April 2019</h3>
          <p class="timeline__info">
            <span class="nhsuk-u-visually-hidden">April 2019</span>
            <span class="timeline__author">UK Biobank</span>
          </p>
        </li>

        <li class="timeline__entry">
          <h3 class="timeline__title">January 2019</h3>
          <p class="timeline__info">
            <span class="nhsuk-u-visually-hidden">January 2019</span>
            <span class="timeline__author">Glaxo Smith Kline</span>
          </p>
        </li>
      </ol>

    </div>

    </div>
  </div>
{% endblock %}
