{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Get removed from the data donor register" %}
{% set question = "Do you want to be removed from the data donor register?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


            {{ backLink({
              "href": "../your-profile/your-data-donor-profile",
              "text": "Back to your data donor profile"
            }) }}


      <h1>{{ contentTitle }}</h1>

      <p>If you want to stop sharing your data we'll:</p>
        <ul>
          <li>remove you from our list of data donors</li>
          <li>no longer contact you</li>
        </ul>


      <form action="/{{ PROTOTYPEURL }}/your-profile/stop-sharing-your-data" method="post">
        {{ radios({
          "idPrefix": "gov",
          "name": "getRemoved",
          "fieldset": {
            "legend": {
              "text": question,
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Confirm">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
