{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "We've removed you from the data donor register" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set contactPreference %}
  {% if data['contactPreference'] %}
    {{ data['contactPreference'] }}
  {% else %}
    email
  {% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      <p>We've sent you confirmation by {{ contactPreference | trim }}.</p>

      <p>We'll no longer contact you about sharing your data for research studies.</p>

      <p>You can rejoin the data donor register at any time.</p>

    </div>
  </div>
{% endblock %}
