{% set PROTOTYPEURL = "app/contact-details" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Update your contact details prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>
      <h2>Round 2</h2>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/start-screen-new" target="_blank">Scenario 1 - Check you've got the right contact details and nothing's missing</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen1" target="_blank">Scenario 1 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-2/scenario-2/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - Make sure GP has mum’s new phone number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen2?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-2/scenario-3/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - Adding a new email address</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen3?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - iframe</a>
        </li>
        <li>
          <a href="https://nhs-contact-details.herokuapp.com/nhsuk-login/nhsuk-homepage" target="_blank">Scenario 4 - Finding a way to update contact details online</a>
        </li>
      </ul>

      <h2>Round 1</h2>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/start-screen-round-1?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 1 - user wants to change their address​</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-scen1?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 1 - iframe</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v2/p-notification?contactDetails=True&round1=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - user receives a push notification and message telling them they do not have an email address on their GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-scen2?contactDetails=True&round1=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
              </li>
              <li>
                <a href="http://nhs-contact-details.herokuapp.com/nhsuk/nhsuk-homepage" target="_blank">Scenario 3 - user has a new mobile phone number and wants to update it​</a>
              </li>
              <li>
                <a href="http://nhs-contact-details.herokuapp.com/nhsuk/summary-list?update-option=no" target="_blank">Scenario 4 - user has different phone numbers held on their GP record and for logging in</a>
              </li>
            </ul>

    </div>
  </div>
{% endblock %}
