{% set PROTOTYPEURL = "app/contact-details" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Update your contact details prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>


            <h2>Option A - update contact details</h2>
            <p>Allow users to view and update their contact details via the NHS App</p>



            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/start-screen-round-3" target="_blank">Scenario 1 - Email address missing from PDS</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen1" target="_blank">Scenario 1 - iframe</a>
              </li>
              <li>
                <a href="/app/settings/v2/account-and-settings?contactDetails=True&round3scenario2=True&round3=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - Multiple phone numbers held</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen2?contactDetails=True&round3scenario2=True&round3=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/scenario-3/your-contact-details?contactDetails=True&round3=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - Adding a new email address</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen3?contactDetails=True&round3=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - iframe</a>
              </li>
            </ul>


            <h3>Summary list variations</h3>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/summary-list-variations/no-issues">If no mismatches or missing data</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/summary-list-variations/missing-email">If missing an email address on GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/summary-list-variations/missing-phone-number">If missing an mobile phone number on GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/summary-list-variations/mismatching-email-address">If mismatching/multiple email address</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/summary-list-variations/mismatching-phone-number">If mismatching/multiple mobile phone number</a>
              </li>
            </ul>


            <h3>Confirmation screen variations</h3>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/email-updated-gp">Added email address to GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/phone-updated-gp">Added mobile phone number to GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-email-to-both">Added new email address for GP and login</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-email-to-gp">Added new email address for GP</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-email-to-login">Added new email address for login</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-phone-to-both">Added new mobile phone number for GP and login</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-phone-to-gp">Added new mobile phone number for GP</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/confirmation-screen-variations/added-new-phone-to-login">Added new mobile phone number for login</a>
              </li>
            </ul>


            <h3>Email variations</h3>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/email-change-both">User is changing email address for both GP record and NHS login</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/email-change-gp">User is changing email address for GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/round-3/email-change-login">User is changing email address for NHS login</a>
              </li>
            </ul>

      <h2>Option B - 'self-serve' interrupt journey</h2>
      <p>Allow users with missing or mismatched details in PDS to update them using the NHS App</p>

      <ul>
        <li>
          <a href="/app/settings/v2/account-and-settings?contactDetails=True&round1=&round2=&round3=&optionB=True&optionC=&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario - Email address missing from PDS and mismatching phone number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-option-b-scen1" target="_blank">Scenario - iframe</a>
        </li>
      </ul>



      <h2>Option C - 'self-serve' interrupt journey + add new details</h2>
      <p>Allow users to add new details to PDS</p>


            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/start-screen-option-c" target="_blank">Scenario 1 - Email address missing from PDS</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-option-c-scen1" target="_blank">Scenario 1 - iframe</a>
              </li>
              <li>
                <a href="/app/settings/v2/account-and-settings?contactDetails=True&round1=&round2=&round3=&optionB=&optionC=True&optionCscenario2=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - Multiple phone numbers held</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-option-c-scen2?contactDetails=True&round1=&round2=&round3=&optionB=&optionC=True&optionCscenario2=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
              </li>
            </ul>



      <h2>Usability testing</h2>

      <h3>Round 3</h3>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/start-screen-round-3" target="_blank">Scenario 1 - Check you've got the right contact details and nothing's missing</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen1" target="_blank">Scenario 1 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-3/scenario-2/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - Make sure GP has mum’s new phone number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen2?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-3/scenario-3/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - Adding a new email address</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-3-scen3?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - iframe</a>
        </li>
        <li>
          <a href="https://nhs-contact-details.herokuapp.com/nhsuk-login/nhsuk-homepage" target="_blank">Scenario 4 - Finding a way to update contact details online</a>
        </li>
      </ul>


      <h3>Round 2</h3>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/start-screen-new" target="_blank">Scenario 1 - Check you've got the right contact details and nothing's missing</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen1" target="_blank">Scenario 1 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-2/scenario-2/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - Make sure GP has mum’s new phone number</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen2?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/round-2/scenario-3/your-contact-details?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - Adding a new email address</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/iframe-round-2-scen3?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 3 - iframe</a>
        </li>
        <li>
          <a href="https://nhs-contact-details.herokuapp.com/nhsuk-login/nhsuk-homepage" target="_blank">Scenario 4 - Finding a way to update contact details online</a>
        </li>
      </ul>

      <h3>Round 1</h3>

            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/start-screen-round-1?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 1 - user wants to change their address​</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-scen1?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 1 - iframe</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v2/p-notification?contactDetails=True&round1=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - user receives a push notification and message telling them they do not have an email address on their GP record</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/iframe-scen2?contactDetails=True&round1=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True" target="_blank">Scenario 2 - iframe</a>
              </li>
              <li>
                <a href="http://nhs-contact-details.herokuapp.com/nhsuk/nhsuk-homepage" target="_blank">Scenario 3 - user has a new mobile phone number and wants to update it​</a>
              </li>
              <li>
                <a href="http://nhs-contact-details.herokuapp.com/nhsuk/summary-list?update-option=no" target="_blank">Scenario 4 - user has different phone numbers held on their GP record and for logging in</a>
              </li>
            </ul>

    </div>
  </div>
{% endblock %}
