{% set PROTOTYPEURL = "nhsuk-to-prescription" %}
{% set serviceName = "NHS" %}
{% set contentTitle = "Find your GP surgery" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhsuk.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="#" method="get">

        {{ input({
          "label": {
            "text": "Find your GP surgery",
            "classes": "nhsuk-label--xl",
            "isPageHeading": true
          },
          "hint": {
            "text": "Enter the postcode, town or GP surgery name."
          },
          "id": "surgery",
          "name": "surgery",
          "classes": "nhsuk-u-width-full"
        }) }}
        
        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

    </div>

  </div>
{% endblock %}
