{% set PROTOTYPEURL = "app/ndop" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "How confidential patient information is used" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-desktop--hide" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v3/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v3/more">More</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


            <h1 class="nhsuk-heading-xl">{{ contentTitle }}<span class="nhsuk-caption-m nhsuk-caption--bottom">Choose if data from your health records is shared for research and planning
      </span></h1>


{{ contentsList({
items: [
{
href: "/" + PROTOTYPEURL + "/v3/overview",
text: "Overview"
},
{
href: "/" + PROTOTYPEURL + "/v3/where-used",
text: "How confidential patient information is used",
current: "true"
},
{
href: "/" + PROTOTYPEURL + "/v3/does-not-apply",
text: "When your choice does not apply"
}
,
{
href: "/" + PROTOTYPEURL + "/v3/make-your-choice",
text: "Make your choice"
}
]
}) }}

      <p>The NHS collects confidential patient information from:</p>

      <ul>
        <li>all NHS organisations, trusts and local authorities</li>
        <li>private organisations, such as private hospitals providing NHS funded care</li>
      </ul>


      <p>Research bodies and organisations can request access to this information. This includes:</p>

      <ul>
      <li>university researchers</li>
      <li>hospital researchers</li>
      <li>medical royal colleges</li>
      <li>pharmaceutical companies researching new treatments</li>
      </ul>

      <h2 class="nhsuk-heading-l">Who cannot use confidential patient information</h2>

      <p>Access to confidential patient information will not be given for:</p>

      <ul>
      <li>marketing purposes</li>
      <li>insurance purposes</li>
      </ul>

      <p>(unless you request this)</p>

      <h2 class="nhsuk-heading-l">How confidential patient information is protected</h2>

      <p>Your confidential patient information is looked after in accordance with good practice and the law.</p>

      <p>Every organisation that provides health and care services will take every step to:</p>

      <ul>
      <li>keep data secure</li>
      <li>use data that cannot identify you whenever possible</li>
      <li>use data to benefit health and care</li>
      <li>not use data for marketing or insurance purposes (unless you request this)</li>
      <li>make it clear why and how data is being used</li>
      </ul>

      <p>All NHS organisations must provide information on the type of data they collect and how it’s used. Data release registers are published by NHS Digital and Public Health England, showing records of the data they have shared with other organisations.</p>

      {{ pagination({
        "previousUrl": "/" + PROTOTYPEURL + "/v3/overview",
        "previousPage": "Overview",
        "nextUrl": "/" + PROTOTYPEURL + "/v3/does-not-apply",
        "nextPage": "When your choice does not apply"
      }) }}



    </div>
  </div>
{% endblock %}
