{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Order details" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set proxyName %}
  Miss Violet Doyle
{%- endset %}

{% set firstName %}Violet{% endset %}

{% set age %}
  8 years old
{% endset %}

{% set surgery %}
  The Nye Practice
{% endset %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/proxy/your-prescriptions-11">Prescriptions</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/prescriptions/v7/proxy/your-orders">Back</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="app-corona__container">
        <ul class="list-menu">
          <li>
            <a href="/app/linked-profiles/acting-behalf-2">
                <p class="nhsuk-body-s">Acting on behalf of</p>
                <p class="nhsuk-body-s"><strong>{{ proxyName }}</strong></p>
              </a>
          </li>
        </ul>
      </div>


      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper app-card--without-shadow">
          <div class="app-card__content">
            <h1 class="nhsuk-heading-xl nhs-app-xl">
              <span class="nhsuk-caption-m nhsuk-caption--top">Order details</span>
              {{ 48 | returnPastDate }}
            </h1>





            {{ summaryList({
              classes: 'nhsuk-summary-list--no-border nhs-app-summary-list--card',
              rows: [
                {
                  key: {
                    text: "Medicine"
                  },
                  value: {
                    text: "Salbutamol 100micrograms/dose Inhaler CFC free 200 dose"
                  }
                },
                {
                  key: {
                    text: "Instructions"
                  },
                  value: {
                    text: "Inhale 2 doses as needed",
                    classes: "nhsuk-u-margin-bottom-0"
                  }
                },
                {
                  key: {
                    text: "Status"
                  },
                  value: {
                    text: "Approved by your GP"
                  }
                }
              ]
            }) }}





          </div>
        </div>
      </div>




    </div>
  </div>
{% endblock %}
