{% set PROTOTYPEURL = "app/v10-p5/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Create a password" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}

<header class="app-interruption-header" style="margin-bottom: 0; border-top: none; background-color: #005eb8;">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <a href="#">
          <svg class="nhsuk-icon nhsuk-icon__close app-icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" style=" fill: #fff;">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                  </svg>
                  <span style="color: #fff; position: absolute;padding-top: 18px;padding-left: 4px;"> Close </span>
        </a>
      </div>
    </div>
  </div>
</header>

 {{ header({
    "transactionalService": {
        "name": "Register for the NHS App",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb_sticky" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



      <h1 class="nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p><strong>Create a password</strong></p>

      <div class="nhsuk-hint">
        <p class="nhsuk-u-margin-bottom-1">Your password must have:</p>
        <ul>
          <li>8 characters or more</li>
          <li>1 capital letter or more</li>
        </ul>
  Letters, numbers and symbols are accepted
      </div>



      {{ input({
        "label": {
        },
        "id": "example",
        "name": "example",
        "classes": "nhsuk-input--width-20"
      }) }}


            {{ input({
              "label": {
                "text": "Confirm password"
              },
              "id": "example",
              "name": "example",
              "classes": "nhsuk-input--width-20"
            }) }}

            <h2>Agree to our terms of use</h2>

            <p>Agree to our terms of use
We will collect and store your information in a secure way. We will not share your personal information without your consent.</p>

<p>By continuing, you confirm that you agree to our <a href="#">privacy notice</a> and <a href="#">terms and conditions</a> .</p>




            <form action="/{{ PROTOTYPEURL }}/check-email" method="post">

      <input type="submit" class="nhsuk-button" value="Agree and continue">
      </input>
    </form>



    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
