{% set PROTOTYPEURL = "app/v10-p5/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Enter your email address" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Register for the NHS App",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <form action="/{{ PROTOTYPEURL }}/create-password" method="post">



      {{ input({
        "label": {
          },
        "id": "example",
        "name": "example",
        "classes": "nhsuk-input--width-20"
      }) }}

      <input type="submit" class="nhsuk-button" value="Continue">
      </input>
    </form>



    </div>
  </div>
{% endblock %}
