{% set PROTOTYPEURL = "app/v10-p5/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "The NHS App is not available in Northern Ireland" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Register for the NHS App",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p>The NHS App is only available to people who are registered with a GP surgery in England.</p>


    <h2>Other services available to you</h2>


    <ul class="list-menu">
      <li>
        <a href="#">
          <h2 class="nhsuk-heading-s">Get advice about coronavirus</h2>
            <p>Find out what to do if you think you have coronavirus</p>
        </a>
      </li>

    <li>
      <a href="#">
        <h2 class="nhsuk-heading-s">COVIDCare NI app</h2>
          <p>Symptom checker and information hub for Northern Ireland</p>
      </a>
    </li>

    <li>
      <a href="#">
        <h2 class="nhsuk-heading-s">GP online services</h2>
          <p>Find out if your GP surgery in Northern Ireland offers online services and learn how to set up your online account</p>
      </a>
    </li>
  </ul>



    </div>
  </div>
{% endblock %}
