{% set PROTOTYPEURL = "app/v10-p5/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Where do you live?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Register for the NHS App",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <form action="/{{ PROTOTYPEURL }}/create-password" method="post">



        {{ radios({
          "idPrefix": "example",
          "name": "example",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "classes": "nhsuk-fieldset__legend--xl nhs-app-xl",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "England"
            },
            {
              "value": "no",
              "text": "Northern Ireland"
            },
            {
              "value": "no",
              "text": "Scotland"
            },
            {
              "value": "no",
              "text": "Wales"
            }
          ]
        }) }}



      <input type="submit" class="nhsuk-button" value="Continue">
      </input>
    </form>



    </div>
  </div>
{% endblock %}
