{% set PROTOTYPEURL = "app/appointments/v1" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Sorry, GP appointment booking is unavailable" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p>You are not currently able to book and manage GP appointments online.</p>

      <p>If the problem continues and you need to book an appointment now, contact your GP surgery directly. For urgent medical advice, go to <a href="https://111.nhs.uk/">111.nhs.uk</a> or call 111.</p>

      <hr class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-2">

      <p class="nhsuk-u-margin-bottom-0"><a href="https://www.nhs.uk/contact-us/nhs-app-contact-us">Report a problem</a></p>
      <p>Reference: xxxxxx</p>



      <h2 class="nhsuk-heading-l">
        What you can do next
      </h2>

      <ul class="list-menu">
        <li>
          <a href="/app/symptoms/v4/index">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Get advice about coronavirus</h2>
            <p>Find out what to do if you think you have coronavirus</p>
          </a>
        </li>
        <li>
          <a href="/app/symptoms/v4/index">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Send your GP surgery a message</h2>
            <p>Ask your doctor or GP surgery a non-urgent question</p>
          </a>
        </li>

        {% if data['SJR_eConsult'] === "True" %}
        <li>
      		<a href="/app/econsult/admin/v1/1">
      			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Additional GP services</h2>
      			<p>Get sick notes and GP letters or ask about recent tests</p>
      		</a>
      	</li>
        <li>
         <a href="/app/econsult/adult/terms/start">
           <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Ask your GP for advice</h2>
           <p>Answer questions online and get a response from your GP surgery</p>
         </a>
       </li>
       {% endif %}

       {% if data['SJR_Engage'] === "True" %}

       <li>
         <a href="/app/engage/admin/v3/terms">
           <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Additional GP services</h2>
           <p>Get sick notes and GP letters or ask about recent tests</p>
         </a>
       </li>

       <li>
         <a href="/app/engage/terms/v2/index" id="btn_111">
           <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Ask your GP for advice</h2>
           <p>Answer questions online and get a response from your GP surgery</p>
         </a>
       </li>

       {% endif %}


             <li>
               <a href="https://111.nhs.uk/" id="btn_111">
                 <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Use NHS 111 online</h2>
                 <p>Check if you need urgent help and find out what to do next</p>
               </a>
             </li>

      </ul>



    </div>
  </div>
{% endblock %}
