{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prescriptions prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>



      <h3>v3</h3>

      <h4>Start</h4>

                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/your-prescriptions-3">Your prescriptions</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/your-prescriptions-no-nom-2">Your prescriptions (no existing nominated pharmacy)</a>
                    </li>
                  </ul>

      <h4>Order a repeat prescription</h4>

                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/order-prescription">Order prescription</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/add-requests">Add requests relating to your order</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/check-prescription">Check your prescriptions before you order</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v3/confirmed">Confirmed - prescription ordered</a>
                    </li>
                  </ul>

        <h4>Your repeat prescriptions</h4>

                <ul>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v3/your-repeat-prescriptions">Your repeat prescriptions</a>
                  </li>
                </ul>


      <hr>

      <h3>v2</h3>



        <h4>Start</h4>



                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-3">Your prescriptions</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-no-nom-2">Your prescriptions (no existing nominated pharmacy)</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-repeat-prescriptions">Your repeat prescriptions</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/order-prescription">Order prescription</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/check-prescription">Check your prescription before you order</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/confirmed">Confirmed - prescription ordered</a>
                    </li>
                  </ul>


        <hr>


      <h3>v1</h3>

      <h4>Lab testing 11 December 2019</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-6">Your prescriptions v6</a>
        </li>
      </ul>


      <h4>Exploration</h4>


                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-5-no-nom">Your prescriptions v5 (user does not have a nominated pharmacy)</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-5">Your prescriptions v5</a>
                    </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v1/confirmed-2">Confirmed v2</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-4">Your prescriptions</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-no-nom-3">Your prescriptions (no existing nominated pharmacy)</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v1/empty">No prescriptions ordered v2</a>
                  </li>
                  <li>
                    <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions-2">Your repeat prescriptions - exploring using language from TPP for the status of the order</a>
                  </li>
                </ul>

                <h4>Start</h4>



      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-2">Your prescriptions V2 (for lab)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/service-not-offered">Service not offered by GP or to specific user</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions">Your repeat prescriptions</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/medicine-unavailable">No medicine available to order</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/select-medicine-to-renew-2">Select medicine to renew v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription">Confirm prescription</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/confirmed">Confirmed</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/empty-live">No prescriptions ordered</a>
        </li>
      </ul>

      <h4>Errors</h4>


      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/errors/medication-already-issued">Medication issued within last 30 days</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/errors/select-medicine-to-renew">Select medicine to renew - user does not select at least one medicine</a>
        </li>
      </ul>


      <h4>Previous</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1">Your prescriptions</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/select-medicine-to-renew">Select medicine to renew</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
