{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prescriptions prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>

      {{ button({
        "text": "Start prototype",
        "href": "/app/v3"
      }) }}

      <hr>

      <h3>v2</h3>



                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-2">Your prescriptions</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-no-nom-2">Your prescriptions (no existing nominated pharmacy)</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/your-repeat-prescriptions">Your repeat prescriptions</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/order-prescription">Order prescription</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/check-prescription">Check your prescription before you order</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/v2/confirmed">Confirmed - prescription ordered</a>
                    </li>
                  </ul>


        <hr>


      <h3>v1</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1">Your prescriptions</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions">Your repeat prescriptions</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
