{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prescriptions prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>


      <h2>Tags</h2>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/tags/index">Prescriptions tags guidance</a>
        </li>
      </ul>


      <h2>Errors</h2>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/errors/index">Errors index</a>
        </li>
      </ul>


      <h2>Prescriptions flow</h2>

      <h3>P5 shutter page</h3>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v7/p5-prescriptions">P5 prescriptions shutter page</a>
        </li>
      </ul>



      <h3>Latest</h3>

              <ul>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v7/your-prescriptions-11-no-pkb">Start prescriptions flow - default, no PKB content</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v7/your-prescriptions-11">Start prescriptions flow - PKB enabled</a>
                </li>
              </ul>


              <hr>

              <h3>Exploration</h3>

              <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v7/check-pharmacy-2">Check the pharmacy this will be sent to v2</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v7/not-nominated-pharmacy-2">You've not nominated a pharmacy v2</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v1/errors/microtest-partial-success-2">Microtest partial success v2</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v7/select-medicine-to-renew-3">Select medicine to renew v3</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v7/select-medicine-to-renew-mandatory">Select medicine to renew v3 - mandatory field</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/v7/select-medicine-to-renew-4">Select medicine to renew v4 - new h1, and includes NextIssueDate for Alogliptin</a>
              </li>
            </ul>

        <h3>v7</h3>

        <h4>Start</h4>

        <h5>Main journey</h5>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-prescriptions-11">Your prescriptions v11</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-prescriptions-11-no-pkb">Your prescriptions v11 (no PKB enabled)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/check-pharmacy">Check the pharmacy this will be sent to</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/not-nominated-pharmacy">You've not nominated a pharmacy</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-orders">Your orders</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-orders-2">Your orders v2 (no link to order details)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-orders-tpp">Your orders (TPP version)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-orders-empty-state">Your orders empty state</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/order-details-2">Your order details</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/order-details-metformin-2">Your order details - Metformin</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/order-details-alogliptin-2">Your order details - Alogliptin</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/order-details-omeprazole-2">Your order details - Omeprazole</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/select-medicine-to-renew-2">Select medicine to renew v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/confirm-prescription-5">Check your prescription v6</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/confirmed-3">Confirmed v4</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v1/errors/microtest-partial-success">Microtest partial success confirmation</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/your-medicines">Your medicines</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v7/pkb-holding-page">PKB holding page</a>
          </li>
        </ul>



        <h3>v6</h3>

        <h4>Start</h4>

        <h5>Main journey</h5>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/your-prescriptions-10">Your prescriptions v10</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/your-prescriptions-10-no-pkb">Your prescriptions v10 (no PKB enabled)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/your-orders">Your orders</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/your-orders-empty-state">Your orders empty state</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/order-details">Your order details</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/select-medicine-to-renew-2">Select medicine to renew v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/confirm-prescription-5">Check your prescription v6</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/confirmed-3">Confirmed v4</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/your-medicines">Your medicines</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/v6/pkb-holding-page">PKB holding page</a>
          </li>
        </ul>


        <h5>Exploration</h5>

        <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v6/order-details-2">Your order details variation</a>
        </li>
      </ul>


      <h4>Previous</h4>

      <h5>Previous version of order details page</h5>
      <p>We updated these pages because we've observed users thinking that the order status as a clickable link. Users expected that they would be able to send a message or call their GP via this link.</p>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v7/order-details">Your order details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v7/order-details-metformin">Your order details - Metformin</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v7/order-details-alogliptin">Your order details - Alogliptin</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v7/order-details-omeprazole">Your order details - Omeprazole</a>
      </li>
    </ul>



        <hr>

  <h2>Version exploring PKB medicines</h2>

  <h3>v5</h3>

  <h4>Start</h4>

  <h5>Main journey</h5>

  <ul>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/your-prescriptions-9">Your prescriptions v9</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/your-orders">Your repeat prescription orders</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/order-details">Your order details</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/order-details-2">Your order details variation</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/select-medicine-to-renew-2">Select medicine to renew v2</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/confirm-prescription-5">Check your prescription v6</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/confirmed-3">Confirmed v4</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/your-medicines">Your medicines</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v5/pkb-holding-page">PKB holding page</a>
    </li>
  </ul>






<hr>



      <h3>v4</h3>

                <h4>Start</h4>

                <h5>Main journey</h5>



      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/your-prescriptions-8">Your prescriptions v8</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/your-repeat-prescriptions">Your repeat prescription orders</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/your-repeat-prescriptions-tpp">Your repeat prescription orders (TPP)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/select-medicine-to-renew-2">Select medicine to renew v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/confirm-prescription-5">Check your prescription v6</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v4/confirmed-3">Confirmed v4</a>
        </li>
      </ul>

      <h5>Exploration</h5>

      <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/nominate-interrupt">Nominate a pharmacy interrupt</a>
      </li>
    </ul>

    <h5>Check pharmacy page (in live app)</h5>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/check-pharmacy">Check the pharmacy this will be sent to</a>
      </li>
    </ul>


    <hr>



            <h3>v3</h3>

            <h4>Start</h4>

                        <ul>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/your-prescriptions-3">Your prescriptions</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/your-prescriptions-no-nom-2">Your prescriptions (no existing nominated pharmacy)</a>
                          </li>
                        </ul>

            <h4>Order a repeat prescription</h4>

                        <ul>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/order-prescription">Order prescription</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/add-requests">Add requests relating to your order</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/check-prescription">Check your prescriptions before you order</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/confirmed">Confirmed - prescription ordered</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v3/medicine-unavailable">Medicine unavailable</a>
                          </li>
                        </ul>

              <h4>Your repeat prescriptions</h4>

                      <ul>
                        <li>
                          <a href="/{{ PROTOTYPEURL }}/v3/your-repeat-prescriptions">Your repeat prescription order history</a>
                        </li>
                      </ul>


            <hr>

            <h3>v2</h3>



              <h4>Start</h4>



                        <ul>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-3">Your prescriptions</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-no-nom-2">Your prescriptions (no existing nominated pharmacy)</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/your-repeat-prescriptions">Your repeat prescriptions</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/order-prescription">Order prescription</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/check-prescription">Check your prescription before you order</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/confirmed">Confirmed - prescription ordered</a>
                          </li>
                        </ul>


              <hr>


              <h3>v1</h3>

                        <h4>Start</h4>


              <ul>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-7">Your prescriptions v7</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/service-not-offered">Service not offered by GP or to specific user</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions">Your repeat prescriptions</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/medicine-unavailable">No medicine available to order</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/select-medicine-to-renew-2">Select medicine to renew v2</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-5">Check your prescription</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/confirmed-3">Confirmed v3</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/empty-live">No prescriptions ordered</a>
                </li>
              </ul>

              <h4>EMIS, Vision and Microtest prescription status</h4>

              <ul>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/prescription-status/order-approved">Order approved</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/prescription-status/order-waiting">Order waiting</a>
                </li>
              </ul>

              <h4>TPP</h4>


                    <ul>
                      <li>
                        <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions-tpp">Your repeat prescriptions</a>
                      </li>
                      <li>
                        <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions-tpp-no-history">Your repeat prescriptions - no history</a>
                      </li>
                    </ul>





              <h4>Exploration</h4>


                          <ul>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-6">Check your prescription - includes the nominated pharmacy</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-6">Your prescriptions v6</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-5">Summary list hierarchy exploration - make medicine name normal paragraph and use secondary colour on instructions</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-4">Summary list hierarchy exploration - secondary colour on instructions</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-3">Summary list hierarchy exploration - secondary colour on name of medicine</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-5-no-nom">Your prescriptions v5 (user does not have a nominated pharmacy)</a>
                            </li>
                            <li>
                              <a href="/{{ PROTOTYPEURL }}/v1/your-prescriptions-5">Your prescriptions v5</a>
                            </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-4">Your prescriptions</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-no-nom-3">Your prescriptions (no existing nominated pharmacy)</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v1/empty">No prescriptions ordered v2</a>
                          </li>
                          <li>
                            <a href="/{{ PROTOTYPEURL }}/v1/your-repeat-prescriptions-2">Your repeat prescriptions - exploring using language from TPP for the status of the order</a>
                          </li>
                        </ul>



              <h4>Previous</h4>

              <ul>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v2/your-prescriptions-2">Your prescriptions V2</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/confirmed-2">Confirmed v2</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription-2">Confirm prescription v2</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/confirm-prescription">Confirm prescription</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1">Your prescriptions</a>
                </li>
                <li>
                  <a href="/{{ PROTOTYPEURL }}/v1/select-medicine-to-renew">Select medicine to renew</a>
                </li>
              </ul>




    </div>
  </div>
{% endblock %}
