{% set PROTOTYPEURL = "app/appointments/v7-engage" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Your GP appointments" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% if data["confirmed"] %}
<script type="text/javascript">
$( document ).ready(function() {
    jQuery.post( "/app/password", { confirmed: "seen" } );
  });
</script>
{% endif %}
{% endblock %}

{% set showAppointmentType %}
{% if data["type"] %}
  {{ data["type"] }} <br> {{ data['sessionName'] or "Session" }}
{% else %}
  Slot <br> Session
{% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p>Manage and book your GP appointments</p>

      <ul class="list-menu">
        <li>
         <a href="/app/engage/terms/v1/index">
           <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Ask a health professional for advice</h2>
         </a>
       </li>
        <li>
         <a href="/{{ PROTOTYPEURL}}/appointment-interruption">
           <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Book an appointment</h2>
         </a>
       </li>
      </ul>

      <div class="nhs-app-panel-heading">
        <h2 class="nhsuk-heading-m">Your appointments</h2>
      </div>

      <ul class="list-menu">

            {% if data["confirmed"] %}
            <li>
          		<a href='/{{ PROTOTYPEURL }}/view/index?appViewDate={{ data["date"] or "5" | returnDate }}&appViewTime={{ data["time"] or "10.50am" }}&appViewLocation={{ data["location"] or "Gledhow Practice" }}&appViewType={{ data["type"] or "Slot" }}&appViewSession={{ data["sessionName"] or "Session" }}&appViewStaff={{ data["staffName"] or "Dr Sanjit Praneskear (Male)" }}'>

                <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">{{ data["date"] or "5" | returnDate }}</h3>
                <p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-bottom-0 nhsuk-u-padding-top-0">{{ data["time"] or "10:50am" }}</p>
                <p class="nhsuk-u-padding-bottom-0 nhsuk-u-padding-top-0">{{ data['location'] or "Gledhow Practice" }}</p>

          		</a>
          	</li>
            {% else %}
            <li class="no-chevron">
              <div class="list-menu_container">
                <p>If you have an upcoming appointment that is not shown here, contact your GP surgery for more information.</p>
              </div>
            </li>


            {% endif %}

        <li>
      		<a href="/{{ PROTOTYPEURL}}/previous">
      			<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Previous appointments</h2>
      		</a>
      	</li>
      </ul>

    </div>
  </div>
{% endblock %}
