{% set PROTOTYPEURL = "examples" %}
{% set serviceName = "Secondary uses of data" %}
{% set contentTitle = "Enter your date of birth" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="#" method="get">
        {{ dateInput({
          "id": "dob",
          "namePrefix": "dob",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-label--xl"
            }
          },
          "hint": {
            "text": "For example, 31 3 1980"
          },
          "items": [
            {
              "name": "day",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "month",
              "classes": "nhsuk-input--width-2"
            },
            {
              "name": "year",
              "classes": "nhsuk-input--width-4"
            }
          ]
        }) }}

      <input type="submit" class="nhsuk-button" value="Continue">
      </input>

    </form>
      {{ backLink({
        "href": "../index",
        "text": "Back to list"
      }) }}

    </div>
  </div>
{% endblock %}
