{% set PROTOTYPEURL = "app/_user-testing" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Index" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script type="text/javascript">
let deferredPrompt = null;

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault();
  // Stash the event so it can be triggered later.
  deferredPrompt = e;
});

async function install() {
  if (deferredPrompt) {
    deferredPrompt.prompt();
    console.log(deferredPrompt)
    deferredPrompt.userChoice.then(function(choiceResult){

      if (choiceResult.outcome === 'accepted') {
      console.log('Your PWA has been installed');
    } else {
      console.log('User chose to not install your PWA');
    }

    deferredPrompt = null;

    });


  }
}

</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <form action="/app/v4/" method="get">
        <input type="submit" class="nhsuk-button" value="Start prototype">
        </input>
      </form>

      <h2>Pages</h2>
      <ol>
        <li>
          <a href="/app/engage/terms/v1/index">
            This is a connected service (interruption card)
          </a>
        </li>

        <li>
          <a href="/app/engage/terms/v1/nhs-login">
            Agree to share your NHS login information (NHS login)
          </a>
        </li>


        <li>
          <a href="/app/engage/terms/v1/engage-medical-111?engageWho=Bernard%20Doyle">
            Confirm it's not an emergency (111 style medical disclaimer)
          </a>
        </li>

        <li>
          <a href="/app/engage/terms/v1/engage-privacy">
            Your data and privacy is important to us (Privacy page)
          </a>
        </li>

      </ol>


      <h2>Email</h2>
      <ol>
        <li>
          <a href="/{{ PROTOTYPEURL }}/email">Confirmation email</a>
        </li>

        <li>
          <a href="/{{ PROTOTYPEURL }}/new-message">New message template</a>
        </li>
      </ol>

      <h2>Out of time</h2>




    </div>
  </div>
{% endblock %}
