{% set PROTOTYPEURL = "app/covid-status" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Covid status prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
      </h1>


      <hr>

      <h2 class="nhsuk-heading-m">Versions</h2>

      <h3>Exiting user flow</h3>

                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/iframe">iframe and no vaccine data</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/iframe?vaccinated=True">iframe and vaccine data present</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/start-screen-new">No iframe and no vaccine data</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/start-screen-new?vaccinated=True">No iframe and vaccine data present</a>
                    </li>
                  </ul>

                  <h3>New user flow</h3>


                  <ul>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/new-user-flow/iframe">iframe and no vaccine data</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/new-user-flow/iframe?vaccinated=True">iframe and vaccine data present</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/new-user-flow/start">No iframe and no vaccine data</a>
                    </li>
                    <li>
                      <a href="/{{ PROTOTYPEURL }}/new-user-flow/start?vaccinated=True">No iframe and vaccine data present</a>
                    </li>
                  </ul>





                        <h2>Covid hub</h2>

                        <ul>
                        <li>
                          <a href="/{{ PROTOTYPEURL }}/covid-hub">Covid hub</a>
                        </li>
                      </ul>

                      <hr>


      <h2>Check your COVID-19 vaccine record</h2>


      <h3>Current versions</h3>


      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/service/dose-details-2-dose">Dose details - user has 2 doses</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/service/dose-details-1-dose">Dose details - user has 1 dose</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/service/no-vaccines">No vaccine data</a>
        </li>
      </ul>

      <h4>Stakeholder demo</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/stakeholder-demo/iframe-live">Start</a>
        </li>
      </ul>


      <h3>Archived</h3>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/service/dose-details">Dose details v1</a>
        </li>
      </ul>

      <hr>


      <h2>Share your COVID-19 status</h2>


            <h3>v3</h3>
            <ul>
              <li>
                <a href="/{{ PROTOTYPEURL }}/status-service-v3/terms">Blue interrupt card</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/status-service-v3/agree-to-share">Agree to share your NHS login information</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/status-service-v3/accept-terms">Accept terms</a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/status-service-v3/covid-status">Your COVID-19 status</a>
              </li>
            </ul>

      <h3>v2</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/terms">Blue interrupt card</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/agree-to-share">Agree to share your NHS login information</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/accept-terms">Accept terms</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/covid-records">Your covid records</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/delivery-options">Delivery options</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/qr-code">QR code</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/no-record">Find a missing record</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service-v2/cannot-create-code">Cannot create code</a>
        </li>
      </ul>

      <h3>v1</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/terms">Blue interrupt card</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/agree-to-share">Agree to share your NHS login information</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/accept-terms">Accept terms</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/covid-records">Your covid records</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/delivery-options">Delivery options</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/qr-code">QR code</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/no-record">Find a missing record</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/status-service/cannot-create-code">Cannot create code</a>
        </li>
      </ul>



    </div>
  </div>
{% endblock %}
