{% set PROTOTYPEURL = "app" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Push notification" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-screenshot.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <a href="/app/contact-details/login/enter-email?contactDetails=True&experiment=True&SJR_PKB=&SJR_Substrakt=&cookies=on&linkedProfiles=False&organDonationShow=False&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read"><img class="calendar-images" src="/images/enter-passcode.jpg"></a>
{% endblock %}


{% block footer %}
{% endblock %}
