{% set PROTOTYPEURL = "app/contact-details/v2" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Your contact details" %}
{% set moreActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v8/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/contact-details/v2/more-hub">More</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/contact-details/v2/account-hub">Manage your account</a></li>

    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


          <h1 class="nhsuk-heading-xl">
            {{ contentTitle }}
          </h1>




<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Mobile phone number
    </dt>
    <dd class="nhsuk-summary-list__value">
    07890345746
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> mobile phone number</span>
      </a>

    </dd>

  </div>








      {% if ( data['newEmail'] and data['updateLogin'] === 'yes' ) %}


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ data['newEmail'] }}
            </dd>

        <dd class="nhsuk-summary-list__actions">

          <a href="/{{ PROTOTYPEURL }}/which-email">
            Change<span class="nhsuk-u-visually-hidden"> email address</span>
          </a>

        </dd>

          </div>
      {% elif data['whichEmail'] === 'loginEmail' %}


          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address
            </dt>
            <dd class="nhsuk-summary-list__value">
              betty.doyle@hotmail.com
            </dd>

        <dd class="nhsuk-summary-list__actions">

          <a href="/{{ PROTOTYPEURL }}/which-email">
            Change<span class="nhsuk-u-visually-hidden"> email address</span>
          </a>

        </dd>

          </div>


    {% elif ( data['updateLogin'] === 'no' and data['newEmail'] ) %}


                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                      Email addresses
                    </dt>

                    <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                      NHS login
                    </dt>
                    <dd class="nhsuk-summary-list__value">

                      bettydoyle@hotmail.com

                    </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="/{{ PROTOTYPEURL }}/which-email">
                    Change<span class="nhsuk-u-visually-hidden"> email address</span>
                  </a>

                </dd>


                <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                 GP record
                </dt>
                <dd class="nhsuk-summary-list__value">

                  {{ data['newEmail'] }}

                </dd>

                <dd class="nhsuk-summary-list__actions">

                  <a href="/{{ PROTOTYPEURL }}/which-email">
                    Change<span class="nhsuk-u-visually-hidden"> email address</span>
                  </a>

                </dd>

                  </div>

                {% elif data['whichEmail'] === 'noEmail' %}



                                  <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                                      Email addresses
                                    </dt>

                                    <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                                      NHS login
                                    </dt>
                                    <dd class="nhsuk-summary-list__value">

                                      bettydoyle@hotmail.com

                                    </dd>

                                <dd class="nhsuk-summary-list__actions">

                                  <a href="/{{ PROTOTYPEURL }}/which-email">
                                    Change<span class="nhsuk-u-visually-hidden"> email address</span>
                                  </a>

                                </dd>


                                <dt class="nhsuk-summary-list__key nhsuk-u-margin-bottom-4">
                                 GP record
                                </dt>
                                <dd class="nhsuk-summary-list__value">

                                  You do not have an email address on your GP record

                                </dd>

                                <dd class="nhsuk-summary-list__actions">

                                  <a href="/{{ PROTOTYPEURL }}/which-email">
                                    Add an email address<span class="nhsuk-u-visually-hidden"></span>
                                  </a>

                                </dd>

                                  </div>

        {% else %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email address
          </dt>
          <dd class="nhsuk-summary-list__value">

        <div class="nhsuk-warning-text nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
          <span class="nhsuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="nhsuk-warning-text__text">
            <span class="nhsuk-warning-text__assistive">Important</span>
            You do not have an email address on your GP record
          </strong>
        </div>
      </dd>

      <dd class="nhsuk-summary-list__actions">

        <a href="/{{ PROTOTYPEURL }}/which-email">
          Add an email address<span class="nhsuk-u-visually-hidden"></span>
        </a>

      </dd>

        </div>
        {% endif %}







  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Address
    </dt>
    <dd class="nhsuk-summary-list__value">
      <p>4 Privet Drive<br> Little Whinging<br> England<br> HP3 7TR</p>
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a href="/{{ PROTOTYPEURL }}/change-address">
        Change<span class="nhsuk-u-visually-hidden"> address</span>
      </a>

    </dd>

  </div>

</dl>

    </div>
  </div>





{% endblock %}
