{% set PROTOTYPEURL = "app/prescriptions" %}
{% set serviceName = "NHS App" %}
{% if data['pharmName'] %}
    {% set pharmName = data['pharmName'] %}
{% endif %}
{% if data['onlineName'] %}
    {% set onlineName = data['onlineName'] %}
{% endif %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Your repeat prescription order history" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v2/home">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/more/v3">More</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/v3/your-prescriptions-3">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <p>See prescriptions you have ordered in the past.</p>

      {% if data['prescriptionConfirmed'] %}

        {% if 'omeprazole' in data['choosePrescription'] %}
          <div class="app-card app-card--with-border">
            <div class="app-card__wrapper">
              <div class="app-card__content">


                <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
                  Omeprazole
                </h3>
                <p class="nhsuk-body-m nhsuk-u-margin-bottom-3">40mg gastro-resistant capsules</p>

                <p class="nhsuk-body-m">Order date: {{ "today" | returnDate }}</p>
                <p class="nhsuk-body-m"><strong>Prescription pending GP approval</strong></p>


              </div>
            </div>
          </div>
      {% endif %}

      {% if 'alogliptin' in data['choosePrescription'] %}
      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper">
          <div class="app-card__content">


            <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Alogliptin
            </h3>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-3">25mg tablets</p>

            <p class="nhsuk-body-m">Order date: {{ "today" | returnDate }}</p>
            <p class="nhsuk-body-m"><strong>Prescription pending GP approval</strong></p>


          </div>
        </div>
      </div>
      {% endif %}


      {% endif %}


      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper">
          <div class="app-card__content">


            <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Alogliptin
            </h3>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-3">25mg tablets</p>

            <p class="nhsuk-body-m">Order date: {{ 27 | returnPastDate }}</p>
            <p class="nhsuk-body-m"><strong>Prescription approved by GP</strong></p>


          </div>
        </div>
      </div>


      <div class="app-card app-card--with-border">
        <div class="app-card__wrapper">
          <div class="app-card__content">


            <h3 class="app-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Omeprazole
            </h3>
            <p class="nhsuk-body-m nhsuk-u-margin-bottom-3">40mg gastro-resistant capsules</p>

            <p class="nhsuk-body-m">Order date: {{ 27 | returnPastDate }}</p>
            <p class="nhsuk-body-m"><strong>Prescription approved by GP</strong></p>


          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
