{% set PROTOTYPEURL = "app/covid-status/status-service-v3" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Accept terms and conditions" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Coronavirus (COVID-19) hub</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
<div class="nhs-app-provider-banner">
<div class="nhsuk-width-container">
<strong>Department of Health and Social Care provide this service</strong>
</div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

            {% if data['acceptCovidTermsThreeError'] == 'True' %}
            {{ errorSummary({
              "titleText": "There is a problem",
              "errorList": [
                {
                  "text": "Accept terms and conditions",
                  "href": "#acceptCovidTermsThree"
                } if data['acceptCovidTermsThreeError']
              ]
              }) }}
            {% endif %}


            <form action="/{{ PROTOTYPEURL }}/accept-terms" method="post">

            {{ checkboxes({
              "idPrefix": "acceptCovidTermsThree",
              "name": "acceptCovidTermsThree",
              "fieldset": {
                "legend": {
                  "text": contentTitle,
                  "classes": "nhsuk-fieldset__legend--xl nhs-app-xl",
                  isPageHeading: true
                }
              },
              "errorMessage": {
                  "text": "Accept terms and conditions"
                } if data['acceptCovidTermsThreeError'],
              "items": [
                {
                  "value": "yes",
                  "text": "I understand and accept the terms of use and privacy policy"
                }
              ]
            }) }}


              <input type="submit" class="nhsuk-button" value="Continue">
              </input>
            </form>

            <p><a href="/{{ PROTOTYPEURL }}/do-not-agree">I do not agree</a></p>

    </div>
  </div>
{% endblock %}
