{% set PROTOTYPEURL = "app/covid-status/status-service-v3" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Your COVID-19 status" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
$("#showEmail").click(function(){
 $(".email").toggleClass("show");
 $(".card-with-chevron-down-expanded").toggleClass("rotate");
});
</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="">Coronavirus (COVID-19) hub</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
<div class="nhs-app-provider-banner">
<div class="nhsuk-width-container">
<strong>Department of Health and Social Care provide this service</strong>
</div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhs-app-xl">{{ contentTitle }}</h1>



      <div class="nhsuk-u-reading-width">


          <p class="nhsuk-body">You need to show this when asked by officials.</p>
          <p class="nhsuk-body">Before you travel you'll need to:</p>
           <ul class="nhsuk-body">
             <li>check the entry requirements for your destination</li>
             <li>make sure your vaccination information is correct</li>
           </ul>

      </div>




        <div class="nhsuk-card_no-bottom-border nhsuk-u-margin-bottom-0">
          <div class="nhsuk-card__content">
            <h3 class="nhsuk-card__heading nhsuk-u-margin-bottom-1">Betty Doyle</h3>
            <p>Date of birth: 20 September 1982</p>
          </div>
        </div>


        {% if data['vaccinated'] === 'True' %}


        <div class="nhsuk-card_green">



          <div class="nhsuk-card__content-extra-padding card-with-chevron-right-white">

            <div class="covid-green-container">
            <a class="covid-link" href="/{{ PROTOTYPEURL }}/your-details">

<svg class="covid-status-tick" width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-tick">
            <circle id="Oval" fill="#FFFFFF" cx="13" cy="13" r="13"></circle>
            <polyline id="Path" stroke="#007F3B" stroke-width="4" stroke-linecap="round" points="19.8 9 11.3 17.4 7 13.2"></polyline>
        </g>
    </g>
</svg>
<h3 class="nhsuk-card__heading covid-status_heading">Show details</h3>

</a>

</div>
</div>

          </div>



        <div class="nhsuk-card nhsuk-u-margin-bottom-2">
          <div class="nhsuk-card__content_less-padding">
            <a class="covid-link" href="/{{ PROTOTYPEURL }}/qr-code">
              <svg class="covid-status-icons" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>file_download_blue</title>
                  <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="file_download_blue">
                          <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                          <path d="M19,9 L15,9 L15,3 L9,3 L9,9 L5,9 L12,16 L19,9 Z M5,18 L5,20 L19,20 L19,18 L5,18 Z" id="Shape" fill="#005EB8" fill-rule="nonzero"></path>
                      </g>
                  </g>
              </svg>
            <h3 class="nhsuk-card__heading-covid nhsuk-heading-s nhsuk-u-margin-bottom-1">Download PDF copy</h3>
          </a>
          </div>
        </div>





        <div class="nhsuk-card nhsuk-u-margin-bottom-2">
          <div class="nhsuk-card__content_less-padding card-with-chevron-down-expanded">
            <a id="showEmail" class="card-with-chevron-down-expanded nhsuk-link--no-visited-state" href="javascript:void(0);">
              <svg class="covid-status-icons" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>email-icon</title>
                  <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="mail_blue">
                          <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
                          <path d="M20,4 L4,4 C2.9,4 2.01,4.9 2.01,6 L2,18 C2,19.1 2.9,20 4,20 L20,20 C21.1,20 22,19.1 22,18 L22,6 C22,4.9 21.1,4 20,4 Z M20,8 L12,13 L4,8 L4,6 L12,11 L20,6 L20,8 Z" id="Shape" fill="#005EB8" fill-rule="nonzero"></path>
                      </g>
                  </g>
              </svg>
            <h3 class="nhsuk-card__heading-covid nhsuk-heading-s nhsuk-u-margin-bottom-1">Receive an offline copy by email</h3>
          </a>

          <div class="email nhsuk-u-margin-top-4">
          <div class="nhsuk-card__description covid-card__description">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label covid-label" for="input-width-20">
                Please confirm your email address:
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
            </div>
            <button class="nhsuk-button nhsuk-u-margin-bottom-1" type="submit">
              Confirm and send email
            </button>
          </div>
          </div>

        </div>
      </div>

      {% else %}



      <div class="nhsuk-card_yellow">



        <div class="nhsuk-card__content-extra-padding">

          <div class="covid-yellow-container">
<h3 class="nhsuk-card__heading covid-status_heading-black">No COVID-19 <br>records found</h3>
</div>
</div>

        </div>

        <p><a href="/{{ PROTOTYPEURL }}/why-no-records">Why am I seeing this message?</a></p>


      {% endif %}



    </div>
  </div>
{% endblock %}
