{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set contentTitle = "Where data from your health records has been shared" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-reading-width">

          <div class="nhsuk-u-margin-bottom-6">
            <h1 class="">
              {{ contentTitle }}
            </h1>
          </div>
          <div class="app-study">
            <div class="">

              {% set studies = [
                {
                  id: "1",
                  category: "planning",
                  title: "Health and social care services in Leeds",
                  dateFirstRelease: "January 2019",
                  dateLatestRelease: "May 2019",
                  dateFinished: "",
                  timesDataShared: "19",
                  organisation: "NHS Leeds Clinical Commissioning Group"

                },
                {
                  id: "2",
                  category: "planning",
                  title: "Mental health services in Yorkshire",
                  dateFirstRelease: "March 2019",
                  dateLatestRelease: "May 2019",
                  dateFinished: "",
                  timesDataShared: "5",
                  organisation: "Methods Analytics Ltd"

                },
                {
                  id: "3",
                  category: "planning",
                  title: "Planning and evaluating local services in Leeds",
                  dateFirstRelease: "January 2019",
                  dateLatestRelease: "May 2019",
                  dateFinished: "",
                  timesDataShared: "5",
                  organisation: "Leeds City Council"

                },
                {
                  id: "4",
                  category: "research",
                  title: "Preventing cardiovascular disease, heart failure, dementia and disability in older ages",
                  dateFirstRelease: "March 2019",
                  dateLatestRelease: "May 2019",
                  dateFinished: "",
                  timesDataShared: "3",
                  organisation: "University College London (UCL)"

                },
                {
                  id: "5",
                  category: "research",
                  title: "Impact of community based social prescribing",
                  dateFirstRelease: "March 2019",
                  dateLatestRelease: "",
                  dateFinished: "",
                  timesDataShared: "1",
                  organisation: "Newcastle University"

                }



                ] %}

              <ol class="app-study__list">

                {% for s in studies %}
                <li class="app-study__list-item">
                  <div class="app-study__list-item-container">
                    <a href="/{{ PROTOTYPEURL }}/studies/{{s.id}}">
                      <span class="nhsuk-caption-m nhsuk-caption--top">{{ s.organisation }}</span>
                      <h2 class="app-study__list-item-heading">{{s.title}}</h2>

                      {% if s.timesDataShared == 1 %}
                      <div class="app-study__list-item-row">
                        <span class="app-study-list-card__key">When your data was shared </span>
                        <span class="app-study-list-card__value">{{s.dateFirstRelease}}</span>
                      </div>
                      {% endif %}

                      {% if s.timesDataShared > 1 %}
                      <div class="app-study__list-item-row">
                        <span class="app-study-list-card__key">When your data was shared</span>
                        <span class="app-study-list-card__value">From {{s.dateFirstRelease }} to {{s.dateLatestRelease}}</span>
                      </div>
                      {% endif %}

                      {% if s.dateFinished %}
                      <div class="app-study__list-item-row">
                        <span class="app-study-list-card__key">Date data stopped being shared</span>
                        <span class="app-study-list-card__value">{{s.dateFinished}}</span>
                      </div>
                      {% endif %}


                      <div class="app-study__list-item-row nhsuk-u-margin-top-2">
                        <span class="app-study-list-card__link">Find out more</span>
                      </div>
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ol>



            </div>
          </div>

          {{ backLink({
            "href": "/" + PROTOTYPEURL + "/summary/index",
            "text": "Back to the previous page"
          }) }}
          
      </div>
    </div>
  </div>
{% endblock %}
