{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}
{% set contentTitle = "Data from your health records has been shared as part of 6 studies" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-u-reading-width">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="">
          {{ contentTitle }}
        </h1>
      </div>

      <h2>How your data has been used</h2>
      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="/{{ PROTOTYPEURL }}/summary/research">
            <h3 class="app-list-cards__heading nhsuk-heading-m">2 research studies</h3>
            <p>See how your data has been used for research</p>
          </a>
        </li>
        <li class="app-list-cards__item">
          <a href="/{{ PROTOTYPEURL }}/summary/planning">
            <h3 class="app-list-cards__heading nhsuk-heading-m">4 studies to help plan NHS services</h3>
            <p>See how your data has been used to plan and evaluate NHS services</p>
          </a>
        </li>
      </ul>

      <p>
        <a href="/{{ PROTOTYPEURL }}/summary/all">See all studies</a>
      </p>

      <h2>Where your data has been used</h2>
      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="/{{ PROTOTYPEURL }}/summary/organisations">
            <h3 class="app-list-cards__heading nhsuk-heading-m">By 5 organisations</h3>
            <p>See what organisations have used your data for research and planning</p>
          </a>
        </li>
      </ul>

      <h2>Manage your data choices</h2>
      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="/{{ PROTOTYPEURL }}/contact-choices/index">
            <h3 class="app-list-cards__heading nhsuk-heading-m">Set up your contact preferences</h3>
            <p>Decide whether you want to be contacted or kept up to date about data releases</p>
          </a>
        </li>
        <li class="app-list-cards__item">
          <a href="#">
            <h3 class="app-list-cards__heading nhsuk-heading-m">Choose if data from your health records is shared</h3>
            <p>Decide whether personally identifiable data can be shared for research and planning</p>
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
{% endblock %}
