{% set PROTOTYPEURL = "app/linked-profiles" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Linked profiles" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Switching on proxy mode</h2>

      <h3>v2 exploration</h3>

      <ul>
        <li>
          <a href="/app/v5?linkedProfiles=true">Home</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/proxy-shutter-2">Proxy shutter v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/profiles-list">Linked profiles list</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/switch-profile">Switch profile</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/proxy-home-2">Proxy home v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/acting-behalf-2">Acting on behalf of proxy v2</a>
        </li>
      </ul>



      <h3>v1 - live</h3>

      <ul>
        <li>
          <a href="/app/v5">Home</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/proxy-shutter">Proxy shutter</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/profiles-list">Linked profiles list</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/switch-profile">Switch profile</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/proxy-home">Proxy home</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/acting-behalf">Acting on behalf of proxy</a>
        </li>
      </ul>

      <h2>Ordering a prescription on behalf of proxy</h2>

      <ul>
        <li>
          <a href="/app/prescriptions/v7/proxy/your-prescriptions">Prescriptions hub</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/select-medicine-to-renew-2">Select medicine to renew</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/confirm-prescription-5">Check prescription details before you order</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/confirmed">Prescription order confirmed (live version)</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/confirmed-2">Prescription order confirmed (variation)</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/your-orders">Your orders</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/your-orders-tpp">Your orders - TPP version</a>
        </li>
        <li>
          <a href="/app/prescriptions/v7/proxy/order-details">Order details</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
