{% set PROTOTYPEURL = "app/linked-profiles" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Linked profiles" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/settings/v3">Settings</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


          <h1 class="nhsuk-heading-xl nhs-app-xl">
            {{ contentTitle }}
          </h1>

          <p>You do not have any linked profiles set up on your account.</p>

          <p>Family members and carers can access health services on behalf of someone else through linked profiles.</p>

          <p>You can book appointments for them, order repeat prescriptions, and view their health record, where appropriate.</p>

          <p><a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/nhs-app-help-and-support/linked-profiles">Find out more about linked profiles</a></p>

          <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-0">Add a linked profile</h2> 

          <p>Contact the GP surgery of the person you would like to set up a linked profile for, and ask them to register you for proxy access.</p>

    </div>
  </div>





{% endblock %}
