{% set PROTOTYPEURL = "app/linked-profiles" %}
{% set serviceName = "NHS App" %}
{% set proxyName %}
  Miss Violet Doyle
{%- endset %}
{% set contentTitle = "Switch to " + proxyName + "'s profile to act on their behalf" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}




{% set firstName %}Violet{% endset %}

{% set age %}
  8 years old
{% endset %}

{% set surgery %}
  The Nye Practice
{% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/settings/v3">Settings</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/profiles-list">Linked profiles</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/profiles-list">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


          <h1 class="nhsuk-heading-xl nhs-app-xl">
            {{ contentTitle }}
          </h1>


                            <div class="app-card">
                              <div class="app-card__wrapper">
                                <div class="app-card__content">
                                  <h2 class="app-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-4">Services you can access for {{ proxyName }}</h1>



                                <ul class="nhsuk-list nhsuk-list--tick">
                                    <li>
                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                      </svg>
                                      Book a GP appointment
                                    </li>
                                    <li>
                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                      </svg>
                                      Order a repeat prescription
                                    </li>
                                    <li>
                                      <svg class="nhsuk-icon nhsuk-icon__tick" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                                        <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12"></path>
                                      </svg>
                                      View their GP medical record
                                    </li>
                                  </ul>


                                </div>
                              </div>
                            </div>



                    <form action="/{{ PROTOTYPEURL }}/proxy-home?proxyOn" method="get">
                      <input type="submit" class="nhsuk-button" value="Switch to {{ firstName }}'s profile">
                      </input>
                    </form>






    </div>
  </div>





{% endblock %}
