{% set PROTOTYPEURL = "app/errors/messages/current" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-panel-with-label nhs-app-error-panel">
        <div class="nhsuk-panel-with-label__label">Error</div>
        <h1 class="nhsuk-heading-l">There is a problem getting your message from [sender name]</h1>
        <p>Try again later.</p>

        <p>If the problem continues and you need this information now, contact [sender name] directly.</p>

      </div>

      <p>
        <a class="nhs-app-desktop--show" href="#">Back</a>
      </p>

    </div>
  </div>
{% endblock %}
