{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Get admin help" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">{{ contentTitle }}</p>

      {{ careCard({
        "type": "non-urgent",
        "heading": "You've chosen to end your consultation. Your practice hasn't been notified and won't contact you about your request. ",
        "HTML": '
        <p>To self-certify your illness, complete the statement of sickness form on the HMRC website. Give it to your employer as proof of illness and to claim your Statutory Sick Pay (SSP).</p>
        <p class="nhsuk-body-l"><a href="https://www.gov.uk/government/publications/statutory-sick-pay-employees-statement-of-sickness-sc2">Take me to the HMRC website to self-certify my illness</a></p>
        '
      }) }}

      <p><a href="{{routeHome}}">Back to home</a></p>



    </div>
  </div>
{% endblock %}
