<!-- This layout is setup for NHS.UK pages -->


{% set PROTOTYPEURL = "app/logged-out-homescreen" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Access your NHS services" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends "layouts/layout-transactional.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
{{ header({
  "service": {
    "name": "NHS App online",
    "longName": "true"
  },
  "ariaLabel": "NHS App online",
  "showNav": "false",
  "showSearch": "false"
  })
}}

{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



      <h1>
        {{ contentTitle }}
      </h1>

      <p>Use NHS App online to access services on your desktop or laptop computer, through your web browser. You do not need to install anything to get started.</p>

      <p>Use this service to:</p>

      <ul>
        <li>get your NHS COVID Pass</li>
        <li>order repeat prescriptions</li>
        <li>book and manage appointments</li>
        <li>get health information and advice</li>
        <li>view your health record securely</li>
        <li>view your NHS number</li>
      </ul>


      <h2>Before you start</h2>

      <p>To use this service you must be:</p>
      <ul>
        <li>registered with a GP surgery in England</li>
        <li>aged 13 and over</li>
      </ul>

      {{ details({
        "text": "What to do if you're aged 13 to 15",
        "HTML": "
        <p>You'll need to contact your GP surgery first and request access to GP online services.</p>
        "
      }) }}


      <form action="/app/login/enter-email?contactDetails=show" method="post">
        <input class="nhsuk-button nhslogin-button nhs-app-u-button-full" type="submit" value="Continue with NHS login">
      </form>

      <div class="app-store nhs-app-desktop--hide nhsuk-panel--app">
        <div class="nhsuk-panel nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-4">
          <p class="paragraph"><strong>Get the NHS App on your smartphone or tablet</strong></p>
            <a href="/app/v8/start">
            <img style="padding-right: 20px;" src="/images/app-store-badge.png">
            <img src="/images/google-play-badge.png">
          </a>
        </div>
      </div>

      <p>Other services you can use without logging in:</p>

      <ul>
        <li><a href="https://www.nhs.uk/conditions/">Search conditions and treatments</a></li>
      </ul>



    </div>


    <div class="nhsuk-grid-column-one-third">

    <div class="app-store nhs-app-mobile--hide nhs-app-tablet--hide nhsuk-panel--app">
      <div class="nhsuk-panel">
        <p class="paragraph"><strong>Get the NHS App on your smartphone or tablet</strong></p>
          <a href="/app/v8/start">
          <img style="padding-right: 20px;" class="nhsuk-u-margin-bottom-2" src="/images/app-store-badge.png">
          <img src="/images/google-play-badge.png">
        </a>
      </div>
    </div>




</div>
  </div>
{% endblock %}


<!-- Footer goes inside this block -->
{% block footer %}
<div class="nhs-app-desktop--show">
  {{ footer({
    "classes": "",
    "links": [
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/terms/",
        "label": "Terms of use"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/",
        "label": "Privacy policy"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help/",
        "label": "Help and support"
      },
      {
        "URL": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/accessibility/",
        "label": "Accessibility statement"
      }
    ]
  })}}
</div>
{% endblock %}
