{% set PROTOTYPEURL = "app" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "You can set up fingerprint login anytime in your settings" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-screenshot.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<a href="/app/appointments/v6/native-calendar">
  <img class="calendar-images" src="/images/native-calendar.png"></a>


  <p><a href="/app/v4/start">Return to home</a></p>
{% endblock %}

{% block footer %}
{% endblock %}
