{% set PROTOTYPEURL = "app/ical" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "iCal and Reminders prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>
      <h3>Download on appointment confirmation</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-confirm">Current (v5)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-confirm-v4">v4</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-confirm-v3">v3</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-confirm-v2">v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-confirm-v1">v1</a>
        </li>
      </ul>

      <h3>Download on all appointments</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointments">Current (v1)</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
