{% set PROTOTYPEURL = "app/covid-status/new-user-flow/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Thank you - your information was sent" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}

</header>

  {{ header({
    "transactionalService": {
        "name": "",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="first-item">


    <div class="first-item">

    	<section class="intructions">

    		<div class="reading-width">

    		<h1 class="nhsuk-u-margin-bottom-0 nhsuk-heading-xl nhs-app-xl"> Thank you - your information was sent</h1>


        <div class="local-header__intro nhsuk-u-margin-bottom-6">
        		<div class="reading-width">
        			<p style="font-size: 20px;">We will email you to tell you if your information passed our checks or not.</p>
        			<p style="font-size: 20px;">Lots of people are using the service at the moment, so it may take <strong style="color: #fff">12 hours</strong> to check your information.</p>

        			 <div class="callout callout--warning">
        				 <h2>Coronavirus (COVID-19)</h2>
        				<p style="font-size: 20px;">For health information and advice, read <a href="" style="color: #005eb8;">NHS guidance about coronavirus.</a></p><a href="" style="color: #005eb8;">
        			 </a></div><a href="" style="color: #005eb8;">

        		</a></div><a href="" style="color: #005eb8;">
        	</a></div>

          <p style="font-size: 20px"><a href="/app/covid-status/index?experiment=True&Covid_Status=True&SJR_PKB=&SJR_Substrakt=&cookies=on&routeHome=/app/covid-status/index&routeSymptoms=/app/symptoms/v4/index&routeAppointments=/app/appointments/v6/pre-hub&routeMore=/app/more/experimental/index-3&routeMessaging=/app/messaging/v3/index&routePrescriptions=/app/prescriptions/v7/your-prescriptions-11&linkedProfiles=False&organDonationShow=False&routeRecords=/app/records/v3/pre-hub&SJR_Engage=&SJR_DoctorLink=&SJR_eConsult=&experimentalHeader6=True&experimentalFooter6=True&experimentalHeaderDesktop=True&type=face&messageRead1=read&messageRead2=read&cardSeen=False&messageRead4=read&messageRead5=read&messageRead6=read&messageRead7=read&messageHide=True&pickPharmacy=Boots&address=32 Market St&city=Manchester&postcode=M1 1PL&phoneNumber=0161 832 6533&miles=0.2&nominatedConfirmed=true&pharmacyTypeOnline=community" method="post">Go to NHS App home</a></p>


    	</section>


    </div>


    </div>


    </div>
  </div>
  {% endblock %}

  {% block footer %}

  <footer role="contentinfo" style="position: relative;">
  <div class="global-footer">
    <div class="global-footer__inner__no-logo ">
      <ul class="link-list">

        <li>
          <a href="#" target="_blank" title="Terms of use">Terms of use</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Cookies">Cookies</a>
        </li>
        <li>
          <a href="#" title="Accessibility">Accessibility</a>
        </li>
        <li>
          <a href="#" title="Help Centre">Help Centre</a>
        </li>


      </ul>
    </div>
  </div>
</footer>
{% endblock %}
