{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Check you can register as a data donor" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="app-card">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            <h1 class="app-card__heading nhsuk-heading-l">{{ contentTitle }}</h1>
            <p>
            To register as a data donor we need to ask you a few questions
            </p>
            <ul>
              <li>where you live</li>
              <li>your age</li>
            </ul>
            <form action="/{{ PROTOTYPEURL}}/eligibility/are-you-13-or-above" method="get">
              <input type="submit" class="nhsuk-button" value="Continue">
              </input>
            </form>
          </div>
        </div>
      </div>

      <p>If you've checked your eligibility before, you can <a href="#">register as a data donor</a> </p>



    </div>
  </div>
{% endblock %}
