{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}

{% block pageScripts %}
{% endblock %}

{% set study =
  {
    id: "3",
    category: "planning",
    title: "Planning and evaluating local services in Leeds",
    dateFirstRelease: "January 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "5",
    organisation: "Leeds City Council",
    organisationExplainer: "A city council helps plan and fund health and social care services.",
    phrase: "understand"

  }
%}

{% set dataSets = [
  {
    id: "3",
    category: "planning",
    title: "Planning and evaluating local services in Leeds",
    dateFirstRelease: "January 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "5",
    organisation: "Leeds City Council"

  }

  ]
%}
{% set contentTitle = "How data from your health records was used for " + study.title %}
{% set benefitsTitle = "How your data has been used by " + study.organisation %}
{% set title = contentTitle + " - " + serviceName %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="">
           {{ contentTitle }}
        </h1>
      </div>

      <h2>What data was shared</h2>
      <p>Data from your health records was shared. Information such as:</p>
      <ul>
        <li>what you were diagnosed with</li>
        <li>what treatments you had</li>
        <li>where you recieved care</li>
        <li>the category of treatments you've had</li>
      </ul>
      <p>The data included indentifiable information such as your data of birth and postcode.</p>
      <h2>Who used this data</h2>
      <p>{{ study.organisation }} used this data.</p>
      <p>{{ study.organisationExplainer}}</p>
      <h2>How your data has been used</h2>
      <p>Data from your health records has been shared to develop:</p>
      <ul>
        <li>Joint Strategic Needs Assessments </li>
        <li>Joint Health and Wellbeing Strategies </li>
        <li>the annual report of the Director of Public Health </li>
        <li>reports commissioned by the Health and Wellbeing Board </li>
        <li>public health and wider Local Authority health and wellbeing commissioning strategies and plans</li>
        <li>public health advice to NHS commissioners </li>
        <li>responses to licensing applications and other statutory Local Authority functions requiring public health input </li>
        <li>local health profiles </li>
        <li>health impact assessments and equity audits; and, among other outputs</li>
        <li>responses to internal and external requests for information and intelligence on the health and wellbeing of the population</li>
      </ul>
      <h2>When your data was shared</h2>
      <p>From {{study.dateFirstRelease }} data from your health records was shared to {{study.organisation }}.</p>
      <p>Your data was shared monthly.</p>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Back to the previous page"
      }) }}

    </div>
  </div>
{% endblock %}
