{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}

{% block pageScripts %}
{% endblock %}

{% set study =
  {
    id: "4",
    category: "research",
    title: "Preventing cardiovascular disease, heart failure, dementia and disability in older ages",
    dateFirstRelease: "March 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "3",
    organisation: "University College London (UCL)",
    organisationExplainer: "University College London (UCL) is a public research university located in London, United Kingdom. Universities provide the health and social care system with new treatments, cures for diseases and help plan services by doing research.",
    phrase: "understand"

  }
%}

{% set contentTitle = "How data from your health records was used for " + study.title %}
{% set benefitsTitle = "How your data has been used by " + study.organisation %}
{% set title = contentTitle + " - " + serviceName %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="">
           {{ contentTitle }}
        </h1>
      </div>

      <h2>What data was shared</h2>
      <p>Data from your health records was shared. Information such as:</p>
      <ul>
        <li>what treatments you had</li>
        <li>where you recieved care</li>
        <li>your age but not your date of birth</li>
        <li>any treatments received in critical care</li>
        <li>how long you stayed in critical care</li>
        <li>the consultant who provided you care</li>
      </ul>
      <p>No information that identified you was shared to {{ study.organisation }}.</p>
      <h2>Who used this data</h2>
      <p>{{ study.organisation }} used this data.</p>
      <p>{{ study.organisationExplainer}}</p>
      <h2>How your data has been used</h2>
      <p>Data on mortality in the British Regional Heart Study is used for research focusing on understanding ways to prevent mortality from diseases such as cardiovascular disease.</p>
      <p>The study aims are to investigate patterns in mortality of chronic diseases over time as well as to identify factors that predispose to greater risk of mortality in later life. </p>
      <p>Detailed follow-up of information on mortality is essential for these research aims. For example, previous research has demonstrated a decline in mortality from heart disease in Britain.</p>
      <p>The goal of this research is to inform change in policy and clinical practice to prevent deaths from chronic diseases.</p>
      <h2>When your data was shared</h2>
      <p>From {{study.dateFirstRelease }} data from your health records was shared to {{study.organisation }}.</p>
      <p>Your data was shared monthly.</p>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Back to the previous page"
      }) }}

    </div>
  </div>
{% endblock %}
