{% set PROTOTYPEURL = "see-how-data-is-shared/v1" %}
{% set serviceName = "See how data from your health records has helped research and planning" %}

{% block pageScripts %}
{% endblock %}

{% set study =
  {
    id: "6",
    category: "planning",
    title: "Invoice validation",
    dateFirstRelease: "May 2019",
    dateLatestRelease: "May 2019",
    dateFinished: "",
    timesDataShared: "19",
    organisation: "NHS Leeds Clinical Commissioning Group",
    organisationExplainer: "A Clinical Commissioning Group is an NHS organisation that helps plan which services an area needs. Including care services like GP surgeries and sexual health clinics",
    phrase: "understand"

  }
%}

{% set dataSets = [
  {
    id: "1",
    category: "planning",
    title: "Health and social care services in Leeds",
    dateFirstRelease: "01 January 2019",
    dateLatestRelease: "01 May 2019",
    dateFinished: "",
    timesDataShared: "19",
    organisation: "NHS Leeds Clinical Commissioning Group"

  }
  ]
%}
{% set contentTitle = "How data from your health records was used for " + study.title %}
{% set benefitsTitle = "How your data has been used by " + study.organisation %}
{% set title = contentTitle + " - " + serviceName %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<section class="nhsuk-breadcrumb">
  <div class="nhsuk-width-container">
    <span class="nhsuk-caption-m nhsuk-caption--top">
      Data from <a href="#">1 January 2019</a>
    </span>
  </div>
</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="">
           {{ contentTitle }}
        </h1>
      </div>

      <h2>What data was shared</h2>
      <p>Data from your health records was shared. Information such as:</p>
      <ul>
        <li>what you were diagnosed with</li>
        <li>the type of care you've had</li>
        <li>where you recieved care</li>
        <li>the location of your care</li>
        <li>the consultant who provided you care</li>
        <li>name of the organisation which is responsible for planning the NHS service you used (the commissioner)</li>
        <li>when you were discharged</li>
        <li>any diagnotic tests you had</li>
        <li>your age but not your date of birth</li>
      </ul>
      <h2>Who used this data</h2>
      <p>{{ study.organisation }} used this data.</p>
      <p>{{ study.organisationExplainer}}</p>
      <h2>How your data has been used</h2>
      <p>Data from your health records has been shared to:</p>
      <ul>
        <li>produce of reports for business intelligence</li>
        <li>budget reporting</li>
        <li>validate of invoices for non-contracted events</li>
        <li>Readmissions analysis</li>
        <li>Production of project / programme level dashboards</li>
        <li>Monitoring of acute / community / mental health quality matrix</li>
        <li>Clinical coding reviews / audits</li>
        <li>Budget reporting down to individual GP Practice level</li>
        <li>Budget reporting by population health management cohorts</li>
        <li>GP Practice level dashboard reports include high flyers</li>
        <li>Comparators of CCG performance with similar CCGs as set out by a specific range of care quality and performance measures detailed activity and cost reports</li>
        <li>Data Quality and Validation measures allowing data quality checks on the submitted data</li>
        <li>Contract Management and Modelling</li>
      </ul>
      <h2>When your data was shared</h2>
      <p>On {{study.dateFirstRelease }} data from your health records was shared to {{study.organisation }}.</p>
      <p>Your data is shared once a year.</p>

      {{ backLink({
        "href": "javascript:history.back()",
        "text": "Back to the previous page"
      }) }}

    </div>
  </div>
{% endblock %}
