<!-- This layout is setup for NHS.UK pages -->


{% set PROTOTYPEURL = "app/nhsuk" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Access your NHS services" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends "layouts/layout-transactional.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">NHS services</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#">Back</a></p>
    </div>
  </nav>


        <div class="nhsuk-global-alert" id="nhsuk-global-alert" role="complementary">
        <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
        <div class="nhsuk-global-alert__content">
        <div class="nhsuk-global-alert__message"><h2>Coronavirus: do not leave your home</h2><p>Everyone must stay at home to help stop the spread of <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">coronavirus</a>.</p></div>
        </div></div></div></div></div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



      <h1>
        {{ contentTitle }}
      </h1>

      <p>Use this service to:</p>

      <ul>
        <li>book and manage appointments at your GP surgery</li>
        <li>order repeat prescriptions</li>
        <li>check symptoms and get instant advice</li>
        <li>view your medical record securely</li>
      </ul>

      <h2>Before you start</h2>

      <p>To use this service you must be:</p>
      <ul>
        <li>registered with a GP surgery in England</li>
        <li>aged 13 and over</li>
      </ul>

      {{ details({
        "text": "What to do if you're aged 13 to 15",
        "HTML": "
        <p>You'll need to contact your GP surgery first and request access to GP online services.</p>
        "
      }) }}


      <form action="/app/v4/start?messageRead1=read&cookies=on&routeHome=/app/v5/index&routeSymptoms=/app/symptoms/v2/index&routeAppointments=/app/appointments/v7-engage/pre-hub&routeMore=/app/more/v5/&routeMessaging=/app/send-a-message/v4/index&messagingIcon=False" method="post">
        <input class="nhsuk-button nhslogin-button" type="submit" value="Continue with NHS login">
      </form>

      <div class="app-store nhs-app-desktop--hide nhsuk-panel--app">
        <div class="nhsuk-panel nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-4">
          <p class="paragraph"><strong>Get the NHS App on your smartphone or tablet</strong></p>
            <a href="/app/v4/start">
            <img style="padding-right: 20px;" src="/images/app-store-badge.png">
            <img src="/images/google-play-badge.png">
          </a>
        </div>
      </div>

      <p>Other services you can use without logging in:</p>

      <ul>
        <li><a href="https://www.nhs.uk/conditions/">Search conditions and treatments</a></li>
        <li><a href="https://111.nhs.uk/">Use NHS 111 online to check if you need urgent help</a></li>
      </ul>



    </div>


    <div class="nhsuk-grid-column-one-third">

    <div class="app-store nhs-app-mobile--hide nhs-app-tablet--hide nhsuk-panel--app">
      <div class="nhsuk-panel">
        <p class="paragraph"><strong>Get the NHS App on your smartphone or tablet</strong></p>
          <a href="/app/v4/start">
          <img style="padding-right: 20px;" class="nhsuk-u-margin-bottom-2" src="/images/app-store-badge.png">
          <img src="/images/google-play-badge.png">
        </a>
      </div>
    </div>




</div>
  </div>
{% endblock %}


<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
