{% set PROTOTYPEURL = "nhsuk-to-prescription" %}
{% set serviceName = "NHS" %}
{% set contentTitle = "You cannot use this service to order a repeat prescription online" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhsuk.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
      </h1>

      <p>This service is only available to patients who are registered at a GP surgery in England. It's not available in Scotland, Wales or Northern Ireland.</p>

    </div>

  </div>
{% endblock %}
