{% set PROTOTYPEURL = "nhsuk-to-prescription" %}
{% set serviceName = "NHS" %}
{% set contentTitle = "Is the GP surgery you're registered with in England?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhsuk.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/has-prescription" method="get">

        {{ radios({
          "idPrefix": "england",
          "name": "england",
          "fieldset": {
            "legend": {
              "text": "Is the GP surgery you're registered with in England?",
              "classes": "nhsuk-fieldset__legend--xl",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            },
            {
              "value": "not sure",
              "text": "I'm not sure"
            }
          ]
        }) }}
        
        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

    </div>

  </div>
{% endblock %}
