{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Organ donation prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>

      <h3>v2</h3>



      <h4>User has never made an organ donation decision</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/register-decision">Register your decision (OD1.1)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/your-choice">Your choice (OD2.1)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/which-organs">Which organs (OD2.7)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/about-organs">About organs and tissue (OD2.8)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/faith-beliefs">Faith/beliefs (OD2.2a)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/additional-details">Additional details (OD2.3)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/about-you-2">About you (with clickwrap) (OD2.4)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/decision-recorded-2">Organ decision recorded (no panel with label component) (OD1.3)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/decision-received">Organ decision received (but not yet processed) (OD2.19)</a>
        </li>
      </ul>

      <h4>User changes or withdraws their organ donation decision</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/change-decision">Change your decision (OD1.2)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v2/reason-for-withdraw">Reason for decision withdrawal (OD2.17)</a>
        </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/withdraw-decision">Check your details to withdraw your decision (OD2.4)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/decision-withdrawn-2">Organ decision withdrawn (no panel with label component) (OD2.16)</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - donates all organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/home-donates-all">Home - user donates all organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/donates-all">User donates all organs (OD1.3)</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - donates some organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/home-donates-some">Home - user donates some organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/donates-some">User donates some organs (OD1.3)</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - does not donate organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/home-donates-none">Home - user does not donate organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/donates-none">User does not donate organs (OD1.3)</a>
      </li>
    </ul>

    <h4>Exploration</h4>

    <ul>
     <li>
      <a href="/{{ PROTOTYPEURL }}/v2/about-you-3">About you (with clickwrap and gender removed)</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/which-organs-2">Which organs (long question)</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/your-choice-2">Your choice v2</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/your-choice-3">Your choice v3</a>
    </li>
    </ul>


    <h4>Previous</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/about-you">About you</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/about-you-2">About you (with clickwrap)</a>
      </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/decision-recorded">Organ decision recorded</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v2/decision-withdrawn">Organ decision withdrawn</a>
    </li>
  </ul>



      <hr>


      <h3>v1 - in live</h3>


      <h4>User has never made an organ donation decision</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/home">Home</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/more">More</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/register-decision">Register your decision</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/your-choice">Your choice</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/which-organs-stacked">Which organs</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/about-organs">About organs and tissue</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/faith-beliefs">Faith/beliefs</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/additional-details">Additional details</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/about-you">About you</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/decision-recorded">Organ decision recorded</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/decision-received">Organ decision received (but not yet processed)</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/api-timeout">API timeout</a>
        </li>
      </ul>

      <h4>User changes or withdraws their organ donation decision</h4>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/v1/change-decision">Change your decision</a>
        </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/withdraw-decision">Withdraw your decision</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/reason-for-withdraw">Reason for decision withdrawal</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/decision-withdrawn">Decision withdrawn confirmed</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - donates all organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/home-donates-all">Home - user donates all organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/donates-all">User donates all organs</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - donates some organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/home-donates-some">Home - user donates some organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/donates-some">User donates some organs</a>
      </li>
    </ul>

    <h4>User already has an organ donation decision - does not donate organs</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/home-donates-none">Home - user does not donate organs</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/donates-none">User does not donate organs</a>
      </li>
    </ul>

    <h3>Exploration</h3>

    <h4>Updating the headings</h4>

    <h5>Use a section heading</h5>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/register-decision-section-heading">Register your decision</a>
      </li>
    </ul>


    <h3>Previous</h3>

  <ul>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v1/which-organs-stacked">Which organs with stacked radios</a>
    </li>
    <li>
      <a href="/{{ PROTOTYPEURL }}/v1/faith-beliefs-expander">Faith/beliefs with expander</a>
    </li>
  </ul>

    </div>
  </div>
{% endblock %}
