{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "How would you like us to help you with your condition today?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% if data['engageProxyJourney'] %}
      <div class="app-proxy__container">
        <ul class="list-menu">
          <li>
              <a href="/{{ PROTOTYPEURL }}/who/v1/index">
                <p class="nhsuk-body-s">Acting on behalf of <br>
                  <strong>{{ data['engageWho']}}</strong>
                </p>
              </a>
          </li>
        </ul>
      </div>
      {% endif %}

      <form action="/{{ PROTOTYPEURL }}/preq/v1/file" method="get">

        {{ textarea({
            "name": "engageHowHelp",
            "id": "engageHowHelp",
            "autocomplete": "off",
            "label": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-label--xl"
            }
          }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>



    </div>
  </div>
{% endblock %}

{% block afterContent %}

<footer class="app-silver__footer">
<div class="nhsuk-width-container">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p>
        <strong>This service is provided by your GP surgery</strong><br>
        <a class="nhsuk-footer__list-item-link" href="https://www.nhs.uk/Pages/nhs-sites.aspx">Find out more about this service</a></p>
    </div>
  </div>
</div>
</footer>
{% endblock %}
