{% set PROTOTYPEURL = "app/prescriptions/v1/nominated-pharmacy/v2" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Find a pharmacy" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "#",
      text: "Home"
    }
  ],
  href: "#",
  text: "Your nominated pharmacy"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <form action="results" method="get">

        {{ input({
          "label": {
            "text": 'Enter a name, place or postcode',
            "isPageHeading": false,
            "classes": ""
          },
          "hint": {
            "text": 'For example, LS1 or Leeds Pharmacy'
          },
          "id": "inputpharmacyPostcode",
          "name": "pharmacyPostcode",
          "classes": ""
        }) }}

        {{ radios({
          "idPrefix": "gov",
          "name": "gov",
          "classes": "nhsuk-radios--inline app-radios--inline",
          "fieldset": {
            "legend": {
              "text": "Type of pharmacy",
              "isPageHeading": false
            }
          },
          "items": [
            {
              "value": "community",
              "text": "Community"
            },
            {
              "value": "internet",
              "text": "Online"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Search">
        </input>

      </form>


              <p>
                <a href="more-options">Show more search options</a>
              </p>

    </div>
  </div>
{% endblock %}
