{% set PROTOTYPEURL = "app/appointments/v8-econsult" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Your referral appointments" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% if data["confirmed"] %}
<script type="text/javascript">
$( document ).ready(function() {
    jQuery.post( "/app/password", { confirmed: "seen" } );
  });
</script>
{% endif %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v11/pre-hub" }}'>Appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v11/pre-hub" }}'>Back</a></p>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl nhs-app-xl">
      {{ contentTitle }}
    </h1>
    <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-6 nhsuk-u-margin-top-6">
<h3 class="nhsuk-warning-callout__label">
  <span role="text">
    <span class="nhsuk-u-visually-hidden">Important</span>
    Important
  </span>
</h3>
<p> You can only manage your first referral appointment in the NHS App. You cannot manage any further appointments for an existing referral.</p>
<p> <a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/nhs-app-help-and-support/using-the-e-referral-service-in-the-nhs-app/">Find out more about managing referrals in the NHS App</a></p>
</div>

    <h2>Upcoming appointments</h2>
    <p>You have no first referral appointments to manage.</p>
    <p>If you think this is wrong, contact the healthcare provider who referred you.</p>

    </div>
  </div>
{% endblock %}
