{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "How would you like us to contact you?" %}
{% set title = contentTitle + " - " + serviceName %}
{% set appointmentsActive = "active" %}
{% block pageScripts %}
{% endblock %}

{% set contactYouAdmin %}
{% if data["contactYouAdmin"] == "yes" %}
Your GP surgery will get back to you by sending you a message in the NHS App or a phone call.
{% else %}
Your GP surgery will get back to you by sending you a message in the NHS App.
{% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="/{{ PROTOTYPEURL }}/admin/v3/confirm/done?engageAdminDone=True" method="post">

    {{ radios({
  "idPrefix": "example",
  "name": "contactYouAdmin",
  "fieldset": {
    "legend": {
      "text": contentTitle,
      "classes": "nhsuk-fieldset__legend--xl nhs-app-xl",
      "isPageHeading": true
    }
  },
"hint": {
"text": "Your GP surgery may respond by phone call or a message in the NHS App. You will get an email to let you know if you have a message."
},
  "items": [
    {
      "value": "yes",
      "text": "Message in the app or phone call"
    },
    {
      "value": "no",
      "text": "Message in the app only"
    }
  ]
}) }}

<h2>Check we have the right contact details</h2>

{{ input({
  "label": {
    "text": "UK telephone number"
  },
  "id": "example",
  "name": "example",
  "value": "07890 345 746"
}) }}

<h2>Is there anything else we should know about how to contact you?</h2>

{{ textarea({
"name": "more-detail",
"id": "more-detail",
"autocomplete": "off",
"hint": {
  "text": "For example, if answering the phone is a problem for you"
}
}) }}





      <input type="submit" class="nhsuk-button" value="Submit request">
      </input>
    </form>


  </div>
</div>
{% endblock %}


{% block afterContent %}
{% endblock %}
