{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "What can we help you with today?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-0">Request a fit note</p>
      <h1 class="nhs-app-xl">Check your answers and submit your request</h1>
      <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Type
          </dt>
          <dd class="nhsuk-summary-list__value">
            New fit note
          </dd>

          <dd class="nhsuk-summary-list__actions">

            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> name</span>
            </a>

          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Length of illness
          </dt>
          <dd class="nhsuk-summary-list__value">
            More than 7 days
          </dd>

          <dd class="nhsuk-summary-list__actions">

            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
            </a>

          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Fit note start date
          </dt>
          <dd class="nhsuk-summary-list__value">
            22 August 2020
          </dd>

          <dd class="nhsuk-summary-list__actions">

            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> contact information</span>
            </a>

          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Fit note end date
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>5 September 2020</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">

            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>

          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Reason for fit note
          </dt>
          <dd class="nhsuk-summary-list__value">
            <p>I've had back pain for over 2 weeks that has stopped me from being able to move without pain</p>
          </dd>

          <dd class="nhsuk-summary-list__actions">

            <a href="#">
              Change<span class="nhsuk-u-visually-hidden"> contact details</span>
            </a>

          </dd>

        </div>

      </dl>

      <form action="/app/engage/admin/v3/fit-note/submitted" method="get">
      {{ button({
        "text": "Submit request"
      }) }}
    </form>

    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
