{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "What can we help you with today?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-0">Request a fit note</p>
      <h1 class="nhs-app-xl">You do not need a fit note</h1>
      <p>If you are off work sick for 7 days or less, you do not need to give your employer a sick note or other medical evidence.</p>
      <p>Instead, you may be asked to confirm that you have been ill. Your employer will agree on how you should do this. They may ask you to fill in a form. This is called <strong>self-certification.</strong></p>
      <p>You can also self-certify your illness by completing the <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/PersonalTax_iForms/1.0/SC2&template=SC2.xdp">statement of sickness form</a> on the HMRC website.</p>
      <a href="/app/v6">Back to home</a>
    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
