{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Who would you like to get help from?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% include "../../.././_parts/proxy-banner.html" %}
{% include "../../.././_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhs-app-xl">{{ contentTitle }}</h1>

      <ul class="list-menu">
        <li>
          <a href="/{{ PROTOTYPEURL}}/admin/v2/what/?engageAdminWhoGetHelp=Anyone">
            Anyone
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/admin/v2/what/?engageAdminWhoGetHelp=Dr Anjanette Peppard">
            Dr Anjanette Peppard
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/admin/v2/what/?engageAdminWhoGetHelp=Practice Nurse">
            Practice Nurse
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL}}/admin/v2/what/?engageAdminWhoGetHelp=Practice Pharmacist - Medication reviews">
            Practice Pharmacist - Medication reviews
          </a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
