{% set PROTOTYPEURL = "app/appointments/v8-econsult" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Sorry, you cannot book a GP appointment online" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% if data["confirmed"] %}
<script type="text/javascript">
$( document ).ready(function() {
    jQuery.post( "/app/password", { confirmed: "seen" } );
  });
</script>
{% endif %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/pre-hub">Appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/pre-hub">Back</a></p>
  </div>
</nav>
{% endblock %}



{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl nhs-app-xl">
      {{ contentTitle }}
    </h1>

    <p>Contact your GP surgery for more information. For urgent medical advice, go to <a href="https://111.nhs.uk/">111.nhs.uk</a> or call 111.</p>



          <h2 class="nhsuk-heading-l">
            What you can do next
          </h2>



          <ul class="list-menu">


                    {% if data['econsult'] === "True" %}
                    <li>
                      <a href="#" id="btn_111">
                        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Ask a health professional for advice</h2>
                        <p>Answer questions online and get a reply from your GP surgery</p>
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Additional GP services</h2>
                        <p>Get sick notes and GP letters or ask about recent tests</p>
                      </a>
                    </li>

                    {% endif %}

                    <li>
                      <a href="#" id="btn_111">
                        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Use NHS 111 online</h2>
                        <p>Check if you need urgent help and find out what to do next</p>
                      </a>
                    </li>

        </ul>

    </div>
  </div>
{% endblock %}
