{% set PROTOTYPEURL = "register-as-a-data-donor/v3" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Check your answers before continuing" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set dataType  %}
  {% if data['dataType'] == 'all' %}
    All my data that could include information like my name and postcode
  {% else %}
    Only data that does not include information like my name and postcode
  {% endif %}
{% endset %}

{% set aiAnswer  %}
  {% if data['shareAI'] == 'decidelater' %}
    I'll decide later using my data donor profile
  {% else %}
    {{ data['shareAI'] | capitalize }}
  {% endif %}
{% endset %}





<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>





      {{ summaryList({
        rows: [
          {
            key: {
              text: "Type of data you'd like to share"
            },
            value: {
              text: dataType
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "the type of data you'd like to share"
                }
              ]
            }
          },
          {
            key: {
              text: "Share for research to find cures and better treatments for illnesses"
            },
            value: {
              text: data['shareResearch'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "if you want to share your data for research to find cures and better treatments for illnesses "
                }
              ]
            }
          },
          {
            key: {
              text: "Share for planning where we need to improve or provide more health services"
            },
            value: {
              text: data['sharePlanning'] | capitalize
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "if you want to share for planning where we need to improve or provide more health services"
                }
              ]
            }
          },
          {
            key: {
              text: "Share for artificial intelligence"
            },
            value: {
              html: aiAnswer
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "if you wan to share your data for artificial intelligence"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/register/weve-added-you-3" method="get">

          <input type="Submit" class="nhsuk-button" id="submit-details" value="Confirm">
        </form>



    </div>
  </div>
{% endblock %}
