{% set PROTOTYPEURL = "register-as-a-data-donor/v3" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Register as a data donor" %}
{% set question = "Confirm you want to register as a data donor" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
<h1>{{ contentTitle }}</h1>

<p>If you register as a data donor we'll:</p>
  <ul>
    <li>add you to a list of data donors</li>
    <li>contact you if we match you to a research study to check you're happy for your data to be shared</li>
  </ul>

  <form action="/{{ PROTOTYPEURL }}/register/we-will-ask-questions" method="get">
    {{ checkboxes({
      "idPrefix": "yes",
      "name": "yes",
      "fieldset": {
        "legend": {
          "text": question,
          "classes": "nhsuk-fieldset__legend--m",
          "isPageHeading": true
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "I want to register as a data donor"
        }
      ]
    }) }}

    <input type="submit" class="nhsuk-button" value="Confirm">
    </input>

  </form>

    </div>
  </div>
{% endblock %}
