{% set PROTOTYPEURL = "register-as-a-data-donor/v3" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "Are you happy to share your data to help us plan where we need to improve or provide more health services?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
<h1>{{ contentTitle }}</h1>

<form action="/{{ PROTOTYPEURL }}/register/share-for-ai" method="get">
  {{ radios({
    "idPrefix": "nhs",
    "name": "sharePlanning",
    "fieldset": {
      "legend": {
        "classes": "nhsuk-fieldset__legend--m"
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Yes"
      },
      {
        "value": "no",
        "text": "No"
      }
    ]
  }) }}


  <input type="submit" class="nhsuk-button" value="Continue">
  </input>

</form>

    </div>
  </div>
{% endblock %}
