{% block pageScripts %}
  <link href="/css/nhsapp.css" rel="stylesheet">
{% endblock %}

{% extends 'layouts/layout-app-new.html' %}

{% block pageTitle %}
  Example - Branching
{% endblock %}

{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        Who would you like to access services for?
      </h1>

      <ul class="list-menu">
        <li>
          <a href="/medical/telephone" id="btn_organdonation">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Andrew Duckworth (self)</h2>
          </a>
        </li>
        <li>
          <a href="#" id="btn_organdonation">
            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Add Someone Else</h2>
          </a>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}
