{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "eConsult" %}
{% set contentTitle = "Get advice from your GP" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>
<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Get advice from your GP</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">On a scale of 1-10 (1 being very unsure and 10 being very sure), how confident are you on this self-diagnosis?</h1>
      
      <form action="/{{ PROTOTYPEURL }}/adult/eczema/13_" method="get">
        {{ radios({
          "idPrefix": "econsult",
          "name": "econsultEczemaPreviousDiagnosis",
          "fieldset": {
            "legend": {
              "isPageHeading": false,
              "classes": ""
            }
          },
          "items": [
            {
              "value": "1 (very unsure)",
              "text": "1 (very unsure)"
            },
            {
              "value": "2",
              "text": "2"
            },
            {
              "value": "3",
              "text": "3"
            },
            {
              "value": "4",
              "text": "4"
            },
            {
              "value": "5",
              "text": "5"
            },
            {
              "value": "6",
              "text": "6"
            },
            {
              "value": "7",
              "text": "7"
            },
            {
              "value": "8",
              "text": "8"
            },
            {
              "value": "9",
              "text": "9"
            },
            {
              "value": "10 (very sure)",
              "text": "10 (very sure)"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>








    </div>
  </div>
{% endblock %}
