{% set PROTOTYPEURL = "app" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Ezcema 1" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-screenshot.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <a href="/app/econsult/adult/eczema/19_eczema-1"><img class="calendar-images" src="/images/eczema-choose-photo.png"></a>
{% endblock %}

{% block footer %}
{% endblock %}
