{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "eConsult" %}
{% set contentTitle = "Ask your GP for advice" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>
<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
{% endif %}
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Get advice from your GP</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">Use this photo?</h1>
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Image guidance
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Please keep in mind that any photos you upload:</p>
          <ul>
            <li>will be added to your clinical record and used for your clinical care</li>
            <li>may be seen by make or female practice staff</li>
            <li>should not be an intimate area (such as genitalia, anus, bottom or breasts), even if these are the problem area.</li>
          </ul>
      
        </div>
      </details>
      
      <img class="nhsuk-u-margin-bottom-1" style="width: 140px; height: 140px;" src="/images/eczema_example.jpg">
      <span class="nhsuk-hint">
        img345.jpg
      </span>
      
      <div class="nhsuk-u-padding-bottom-4"></div>

      <form action="/app/econsult/adult/eczema/19_b" method="post">
        
        {{ radios({
          "idPrefix": "econsult",
          "name": "econsultEczemaUsePhoto",
          "fieldset": {
            "legend": {
              "isPageHeading": false,
              "classes": ""
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No, I want to choose a different photo",
              "text": "No, I want to choose a different photo"
            }
          ]
        }) }}
        <input type="submit" class="nhsuk-button" value="Continue"></input>

      </form>








    </div>
  </div>
{% endblock %}
