{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Get advice from your GP" %}
{% set title = contentTitle + " - " + serviceName %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>

{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>
<p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>

{% endif %}
  </div>
</nav>{% include "../../_parts/silver-banner.html" %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Get advice from your GP</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">How would you rate your eczema?</h1>
      <p><strong>Mild:</strong> Areas of dry skin, infrequent itching (with or without small areas of redness)</p>
      <p><strong>Moderate:</strong> Areas of dry skin, frequent itching, redness (with or without scratch marks and some skin thickening)</p>
      <p><strong>Severe:</strong> Widespread areas of dry skin, continuous itching, redness (with or without scratch marks, extensive skin thickening, skin colour changes, bleeding)</p>

      <form action="/app/econsult/adult/eczema/21_" method="get">

        {{ radios({
          "idPrefix": "econsult",
          "name": "econsultEczemaRating",
          "fieldset": {
            "legend": {
              "isPageHeading": false,
              "classes": ""
            }
          },
          "items": [
            {
              "value": "Mild",
              "text": "Mild"
            },
            {
              "value": "Moderate",
              "text": "Moderate"
            },
            {
              "value": "Severe",
              "text": "Severe"
            }
          ]
        }) }}
        <input type="submit" class="nhsuk-button" value="Continue"></input>
      </form>

    </div>
  </div>
{% endblock %}
