{% set PROTOTYPEURL = "app/send-a-message/v3" %}
{% set serviceName = "Send a message" %}
{% set contentTitle = "Are you sure you want to delete your message to " + data['from'] | placeholder("Woodrow GP Practice") + "?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3/index">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript:window.history.back();">Back</a></p>
  </div>
</nav>

{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>
      <p>Your message will still be in your GP health record.</p>
      <form action="delete-confirm">
        <input class="nhsuk-button" type="submit" value="Delete message">
      </form>
      <p class=""><a class="" href="javascript:window.history.back();">Cancel </a></p>
    </div>
  </div>
{% endblock %}
