{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "eConsult journeys" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-7">
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>


      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Start eConsult child journey (conjunctivitus)",
        "href": "/app/v6/start?SJR_eConsult=True"
      }) }}

      {{ actionLink({
        "text": "Start eConsult adult journey (contraception)",
        "href": "/app/v6/start?SJR_eConsult=True"
      }) }}


            {{ actionLink({
              "text": "Start eConsult adult journey (eczema)",
              "href": "/app/v6/start?SJR_eConsult=True"
            }) }}


            <h2>Jump off heading and paragraph content:</h2>

            <h4>Live</h4>
            <p><strong>Ask your GP for advice</strong></p>
            <p>Consult your GP through an online form. Your GP surgery will reply by phone or email</p>


            <h4>To be</h4>

            <p><strong>Ask your GP for advice</strong></p>
            <p>Answer questions online and get a response from your GP surgery. You may be able to get advice for your child if it’s available at your surgery</p>


      <section>








      </section>

      <section>
        <h2>Ask your GP for advice for your child (child)</h2>


        <h3>Online consultation jump off instances</h3>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index">Get advice for yourself or your child</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-child">Child journey not available</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-services">Online consultations are currently unavailable</a>
          </li>
        </ul>

        <h3>Terms and conditions</h3>

        <h4>Live</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index-0">Consent to use personal data</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy-0">Agree to the privacy notice</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself-0">Confirm you're submitting this request for yourself</a>
          </li>
        </ul>

        <h4>Exploration</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start-v2">Before you start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index">Consent to use personal data v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start">Consent to use personal data v2/start page</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/data-sharing">Consent to use personal data v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/privacy-policy">Agree to the privacy notice v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy">Agree to the privacy notice v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself">Confirm you're submitting this request for yourself v2 (Note - this page is not needed and will be removed)</a>
          </li>
        </ul>


        <h3>Pre-triage questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/1_choose-condition">Choose a condition</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/2_emergency">Emergency check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/3_covid">Coronavirus check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/4_registered">GP surgery registration check (only shown to P5 users)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/5_your-dob">Example of parent information input</a>
          </li>
        </ul>
        <h3>Condition triage example questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/10_?econsultAchieve=">How much is this bothering your child?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/21_?">Is your child's eye painful?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_">Does your child have any other medical conditions?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_a?">Provide detail about other medical conditions</a>
          </li>
        </ul>
        <h3>End pages</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/55_?econsultYourEmail=">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/56_end?">Confirmation page</a>
          </li>
        </ul>
        <hr>
      </section>

      <section>
        <h2>Ask your GP for advice (adult)</h2>

        <h3>Online consultation jump off instances</h3>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index">Get advice for yourself or your child</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-child">Child journey not available</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-services">Online consultations are currently unavailable</a>
          </li>
        </ul>

        <h3>Terms and conditions</h3>

        <h4>Live</h4>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index-0">Consent to use personal data</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy-0">Agree to the privacy notice</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself-0">Confirm you're submitting this request for yourself</a>
          </li>
        </ul>

        <h4>Exploration</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start-v2">Before you start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index">Consent to use personal data v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start">Consent to use personal data v2/start page</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/data-sharing">Consent to use personal data v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/privacy-policy">Agree to the privacy notice v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy">Agree to the privacy notice v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself">Confirm you're submitting this request for yourself v2 (Note - this page is not needed and will be removed)</a>
          </li>
        </ul>

        <h3>Choose the type of help</h3>
        <ul>
          <li>
            <a href="/app/econsult/adult/1_choose-condition">Choose a symptom or condition (Women's health > contraception)</a>
          </li>
          <li>
            <a href="/app/econsult/adult/2_help-type">Help type wanted</a>
          </li>
          <li>
            <a href="/app/econsult/adult/10_about">What would you like to ask your doctor about?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/11_">What advice about your contraception do you require?</a>
          </li>
        </ul>
        <h3>Contraception triage example questions</h3>
        <ul>
          <li>
            <a href="/app/econsult/adult/14_using">What contraception are you using?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/16_a">How many pills have you missed in your last pack and when did you miss them?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/17_">Why are you taking contraception?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/20_">Who provides your contraception prescription?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/26_">What was the date of the first day of your last period?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/29_">Do you think there is any chance that you might be pregnant now?</a>
          </li>
        </ul>
        <h3>End pages</h3>
        <ul>
          <li>
            <a href="/app/econsult/adult/end/registered">You must be registered at Gledhow Practice</a>
          </li>
          <li>
           <a href="/app/econsult/adult/end/pregnancy">You cannot use the service if you are pregnant</a>
          </li>
        </ul>
        <hr>
      </section>

      <section>
        <h2>Admin request</h2>
        <h3>Jump off title:</h3>
        <p>Additional GP services</p>
        <h3>Additional terms and conditions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/3?">I confirm I am submitting this request for myself</a>
          </li>
        </ul>
        <h3>Admin journey flow</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/8">List of admin journeys</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/10">Request type</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/15?">Fit note description</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/25?">Confirmation</a>
          </li>
        </ul>
        <hr>
      </section>


    </div>
  </div>
{% endblock %}
