{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "eConsult journeys" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-7">
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>


      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Start eConsult child journey (conjunctivitus)",
        "href": "/app/v5/start"
      }) }}

      {{ actionLink({
        "text": "Start eConsult adult journey (contraception)",
        "href": "/app/v5/start"
      }) }}

      <section>
        <h2>Online consultation jump off instances</h2>
        <h3>Jump off title:</h3>
        <p>Ask a health professional for advice</p>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v2/index">Get advice for yourself or your child</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/1_choose-condition">Symptom hub (conjunctivitus)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v2/index-no-child">Child journey not available</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v2/index-no-services">Online consultations are currently unavailable</a>
          </li>
        </ul>
        <h3>Ask a health professional for advice for your child journey</h3>
        <h3>Terms and conditions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2">Consent to use personal data</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/data-sharing">Consent to data sharing with eConsult</a>
          </li>
        </ul>
        <h3>Pre-triage questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/1_choose-condition">Choose a condition</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/2_emergency">Emergency check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/3_covid">Coronavirus check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/4_registered">GP surgery registration check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/5_your-dob">Example of parent information input</a>
          </li>
        </ul>
        <h3>Condition triage example questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/10_?econsultAchieve=">How much is this bothering your child?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/21_?">Is your child's eye painful?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_">Does your child have any other medical conditions?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_a?">Provide detail about other medical conditions</a>
          </li>
        </ul>
        <h3>End pages</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/55_?econsultYourEmail=">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/56_end?">Confirmation page</a>
          </li>
        </ul>
        <hr>
      </section> 

      <section>
        <h2>Admin request</h2>
        <h3>Jump off title:</h3>
        <p>Additional GP services</p>
        <h3>Additional terms and conditions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/3?">I confirm I am submitting this request for myself</a>
          </li>
        </ul>
        <h3>Admin journey flow</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/8">List of admin journeys</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/10">Request type</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/15?">Fit note description</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v1/25?">Confirmation</a>
          </li>
        </ul>
        <hr>
      </section>

      <h2>Changing the third-party warning on eConsult</h2>
      <h3>Latest</h3>
      <ul>
        <li><a href="/{{ PROTOTYPEURL }}/NHSO-10065/interrupt?eConsultAdminJourney=">Interrupt page</a></li>
        <li><a href="/{{ PROTOTYPEURL }}/NHSO-10065/question?eConsultAdminJourney=">Data sharing question</a></li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/NHSO-10065/error?eConsultAdminJourney=">No choice error</a>
        </li>
      </ul>

      {{ details({
        "text": "All pages - latest and previous explorations",
        "HTML": '
        <h3>Latest</h3>
        <h4>Ask your GP for advice</h4>
        <ul>
          <li><a href="/' + PROTOTYPEURL + '/NHSO-10065/interrupt?eConsultAdminJourney=">Interrupt page</a></li>
          <li><a href="/' + PROTOTYPEURL + '/NHSO-10065/question?eConsultAdminJourney=">Data sharing question</a></li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/error?eConsultAdminJourney=">No choice error</a>
          </li>
        </ul>
        <h4>Additional GP services</h4>
        <ul>
          <li><a href="/' + PROTOTYPEURL + '/NHSO-10065/interrupt?eConsultAdminJourney=true">Interrupt page</a></li>
          <li><a href="/' + PROTOTYPEURL + '/NHSO-10065/question?eConsultAdminJourney=true">Data sharing question</a></li>
        </ul>
        <h4>Errors</h4>
        <ul>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/error?eConsultAdminJourney=">No choice</a>
          </li>
        </ul>
        <h3>Previous</h3>
        <ul>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v7?eConsultAdminJourney=">v7</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v6?eConsultAdminJourney=">v6</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v5?eConsultAdminJourney=">v5</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v4?eConsultAdminJourney=">v4</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v3?eConsultAdminJourney=">v3</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v2?eConsultAdminJourney=">v2</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v1?eConsultAdminJourney=">v1</a>
          </li>
          <li>
            <a href="/' + PROTOTYPEURL + '/NHSO-10065/question-v0?eConsultAdminJourney=">v0</a>
          </li>
        </ul>
        '
      }) }}

    </div>
  </div>
{% endblock %}
