{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "eConsult journeys" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-7">
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>


      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Start eConsult (child functionality on)",
        "href": "/app/v8/index?SJR_eConsult=True"
      }) }}



            <h2>Jump off heading and paragraph content for medical journey:</h2>

            <h3>Live</h3>
            <p><strong>Ask your GP for advice</strong></p>
            <p>Consult your GP through an online form. Your GP surgery will reply by phone or email</p>


            <h3>To be</h3>

            <p><strong>Ask your GP for advice</strong></p>
            <p>Answer questions online and get a response from your GP surgery. You may be able to get advice for your child if it’s available at your surgery</p>



        <h2>Ask your GP for advice for your child</h2>


        <section>
          <h3>Paediatrics MVP</h3>
          <ul>
            <li>
              <a href="/app/econsult/child/mvp/index">Advice hub with jump off point</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/data-sharing">Consent to use personal data</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/who-needs-advice">Do you need advice for yourself or your child?</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/privacy-policy">Agree to the privacy policy</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/your-dob">Tell us your date of birth</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/choose-condition">Choose symptom or condition</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/choose-condition-for-child">Choose symptom or condition for your child</a>
            </li>
            <li>
              <a href="/app/econsult/child/mvp/yourself-adult-only">Confirm you're submitting this request for yourself (only appears if paediatrics is unavailable)</a>
            </li>
          </ul>
        </section>


        <h3>Start</h3>

        <h4>Latest</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start-v2">Before you start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/data-sharing">Consent to use personal data v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-2">Who needs advice?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-child">Child journey not available</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-services">Online consultations are currently unavailable</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/child-privacy">Agree to the privacy notice v3 (user selects for my child for who needs advice)</a>
          </li>
        </ul>


        <h3>Pre-triage questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/1_choose-condition">Choose a condition</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/2_emergency">Emergency check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/3_covid">Coronavirus check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/5_your-dob">Example of parent information input</a>
          </li>
        </ul>
        <h3>Condition triage example questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/10_?econsultAchieve=">How much is this bothering your child?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/21_?">Is your child's eye painful?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_">Does your child have any other medical conditions?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/45_a?">Provide detail about other medical conditions</a>
          </li>
        </ul>
        <h3>End pages</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/55_?econsultYourEmail=">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/child/v2/56_end?">Confirmation page</a>
          </li>
        </ul>

        <h4>Past exploration</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index">Consent to use personal data v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start">Consent to use personal data v2/start page</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/privacy-policy">Agree to the privacy notice v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy">Agree to the privacy notice v3</a>
          </li>
        </ul>
        <hr>
      </section>

      <section>
        <h2>Ask your GP for advice (adult)</h2>


        <h3>Start</h3>

        <h4>Live</h4>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index-0">Consent to use personal data</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy-0">Agree to the privacy notice</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself-0">Confirm you're submitting this request for yourself</a>
          </li>
        </ul>


        <h4>Latest</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start-v2">Before you start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/data-sharing">Consent to use personal data v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-2">Who needs advice?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-child">Child journey not available</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/hub/v1/index-no-services">Online consultations are currently unavailable</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy">Agree to the privacy notice v3 (user selects for myself for who needs advice)</a>
          </li>
        </ul>

        <h3>Eczema flow</h3>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/1_choose-condition">Choose a symptom or condition (Skin and nail - eczema)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/5_emergency">Emergency check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/6_covid">Covid check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/8_sex">Tell us your sex</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/9_dob">Tell us your date of birth</a>
          </li>
        </ul>



        <h4>Eczema triage example questions</h4>


        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/10_how-help">Please tell us in a few words how we can help.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/12_">Have you tried anything for this?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/12_any-particular">Is there any particular help you would like?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/13_describe-symptoms">Please describe your symptoms.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/14_where-rash">Where is the rash or skin problem?</a>
          </li>
        </ul>

        <h4>Eczema triage confirmation pages</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/48_">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/49_end">Confirmation page</a>
          </li>
        </ul>


        <h3>Contraception flow</h3>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/1_choose-condition">Choose a symptom or condition (Women's health - contraception)</a>
          </li>
          <li>
            <a href="/app/econsult/adult/2_help-type">Help type wanted</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/5_emergency">Emergency check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/6_covid">Covid check</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/8_sex">Tell us your sex</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/9_dob">Tell us your date of birth</a>
          </li>
          <li>
            <a href="/app/econsult/adult/10_about">What would you like to ask your doctor about?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/11_">What advice about your contraception do you require?</a>
          </li>
        </ul>

        <h4>Contraception triage example questions</h4>
        <ul>
          <li>
            <a href="/app/econsult/adult/14_using">What contraception are you using?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/16_a">How many pills have you missed in your last pack and when did you miss them?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/17_">Why are you taking contraception?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/20_">Who provides your contraception prescription?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/26_">What was the date of the first day of your last period?</a>
          </li>
          <li>
            <a href="/app/econsult/adult/29_">Do you think there is any chance that you might be pregnant now?</a>
          </li>
        </ul>

        <h4>End pages</h4>
        <ul>
          <li>
            <a href="/app/econsult/adult/end/registered">You must be registered at Gledhow Practice</a>
          </li>
          <li>
           <a href="/app/econsult/adult/end/pregnancy">You cannot use the service if you are pregnant</a>
          </li>
        </ul>

        <h4>Contraception triage confirmation pages</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/48_">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/eczema/v2/49_end">Confirmation page</a>
          </li>
        </ul>



          <h2>P5 specific pages</h2>
          <ul>
            <li>
              <a href="/app/econsult/p5/4_registered-child">Are you and your child registered as patients at [practice name]?</a>
            </li>
            <li>
              <a href="/app/econsult/p5/7_registered-adult">Are you registered at the following practice?</a>
            </li>
            <li>
              <a href="/app/econsult/p5/data-sharing">Consent to use personal data v3</a>
            </li>
            <li>
              <a href="/app/econsult/p5/index-0">Consent to use personal data (live)</a>
            </li>
          </ul>
          <hr>



        <h3>Exploration</h3>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start-v2">Before you start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/index">Consent to use personal data v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/start">Consent to use personal data v2/start page</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/data-sharing">Consent to use personal data v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/terms/privacy-policy">Agree to the privacy notice v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/3_privacy">Agree to the privacy notice v3</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/adult/4_yourself">Confirm you're submitting this request for yourself v2</a>
          </li>
        </ul>
        <hr>
      </section>



                  <section>

                    <h2 id="single-file-upload-mvp">Single file upload - MVP</h2>
                    <h3>Main flow</h3>
                    <ul>
                      <li>
                        <a href="/app/econsult/adult/eczema/19_">Do you want to upload a photo of your condition?</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/19_a">Before you upload a photo</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/19_b">Upload a photo of your condition - no photo selected</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/19_b-photo-selected">Upload a photo of your condition - photo selected</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/19_c-2">Check your photo</a>
                      </li>
                    </ul>


                    <h3>Single file upload errors</h3>
                    <ul>
                      <li>
                        <a href="/app/econsult/adult/eczema/file-upload-errors/19_error">User does not select an answer for do you want to upload a photo of your condition</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/file-upload-errors/19_b-jpg">User tries to upload an image that is not a JPEG or .jpg</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/file-upload-errors/19_b-no-file">User does not choose a file and clicks upload</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/file-upload-errors/19_c-2-error">User does not tell us what the photo is showing</a>
                      </li>
                    </ul>

                    <h4>Previous</h4>
                    <ul>
                      <li>
                        <a href="/app/econsult/adult/eczema/file-upload-errors/19_d-error">User does not tell us what the photo is showing</a>
                      </li>
                    </ul>


                    <h2 id="multiple-file-upload">Multiple file upload designs</h2>
                    <h3>Main flow</h3>
                    <ul>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/1_upload-choice">Do you want to upload a photo of your condition?</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/2_before-you-upload">Before you upload a photo</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/3_choose-photo">Upload a photo of your condition</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/4_check-photo">Check your photo</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/5_photos-added">Photos added</a>
                      </li>
                      <li>
                        <a href="/app/econsult/adult/eczema/v2/file-upload/6_remove-are-you-sure">Are you sure you want to delete browser alert</a>
                      </li>
                    </ul>



                  </section>



      <section>

        <h2>Additional GP services</h2>


        <h3>Jump off heading and paragraph content for admin journey:</h3>

        <h4>Live</h4>
        <p><strong>Additional GP services</strong></p>
        <p>Get sick notes and GP letters or ask about recent tests</p>


        <h3>Start</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/1">Start</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/2">We're about to ask you a few questions about your request.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/3">Please confirm that you're submitting this request for yourself.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/confirm-not-advice">This form lets you ask the practice for sick notes, test results, doctor's letters and other paperwork.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/6">Tell us your sex</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/7">Tell us your date of birth</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/8">What administrative issue can we help you with?</a>
          </li>
        </ul>

        <h3>Sick note flow</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/9">Are you having to stay at home because of coronavirus and need a note for your employer?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/2">We're about to ask you a few questions about your request.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/3">Please confirm that you're submitting this request for yourself.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/confirm-not-advice">This form lets you ask the practice for sick notes, test results, doctor's letters and other paperwork.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/6">Tell us your sex</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/7">Tell us your date of birth</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/8">What administrative issue can we help you with?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/10">Is this a new request or extension of an existing sick note?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/11">How long do you expect you'll be ill for?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/11">How long do you expect you'll be ill for?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/12">Please tell us the start date required for this sick note.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/13">Please tell us the end date required for this sick note.</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/14">Have you recently been discharged from hospital or had a recent hospital procedure resulting in you not being able to work?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/15">Please tell us why you need a sick note (fit note)</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/16">Do you know how many units of alcohol you drink each week?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/17">Do you smoke?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/18">Please tell us your first name</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/19">Please tell us your last name</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/20">Please tell us your full address, including your postcode</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/21">Your 10 digit NHS number</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/22">Please tell us your contact phone number</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/23">Please tell us your email address</a>
          </li>
        </ul>

        <h4>Sick note confirmation pages</h4>

        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/24">Would you like a copy of your answers?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/admin/v2/25">Confirmation page</a>
          </li>
        </ul>



        <hr>
      </section>






    </div>
  </div>
{% endblock %}
