.nhs-app-card-delete {

  margin-top: nhsuk-spacing(3);
  border-top: 1px solid #d8dde0;
  padding-top: nhsuk-spacing(3);

}

.nhs-app-card-delete__link {

  display: block;
  color: $color_nhsuk-red !important;

  &:hover, &:focus {

    color: #9a140a !important;
  }
}


.nhsuk-expander .nhsuk-details__summary {

  padding: nhsuk-spacing(2) 16px;
}

.nhs-app-select {

  @include mq($until: tablet) {
    width: 100%;
  }
}

.list-menu li p.list-menu__results-person {

  padding-top: 0;
  padding-bottom: 0;
}
