.nhs-app-card-delete {

  margin-top: nhsuk-spacing(3);
  border-top: 1px solid #d8dde0;
  padding-top: nhsuk-spacing(3);

}

.nhs-app-card-delete__link {

  display: block;
  color: $color_nhsuk-red !important;

  &:hover, &:focus {

    color: #9a140a !important;
  }
}

li {
  a.nhs-app-list-menu-delete__link {

    display: block;
    color: $color_nhsuk-red !important;
    font-weight: 500;
    margin-top: -.8em;
    padding: 16px 2em 0.8em 1em;
    @include nhsuk-typography-responsive(16);

    &:hover, &:focus {

      color: #9a140a !important;
    }
  }
}



.nhsuk-expander .nhsuk-details__summary {

  padding: nhsuk-spacing(2) 16px;
}

.nhs-app-select {

  @include mq($until: tablet) {
    width: 100%;
  }
}

.list-menu li p.list-menu__results-person {

  padding-top: 0;
  padding-bottom: 0;
  // color: $nhsuk-secondary-text-color;
}

.list-menu li p.list-menu__results--small {

  padding-top: 0;
  padding-bottom: 0;
  color: $nhsuk-secondary-text-color;
  @include nhsuk-typography-responsive(16);
}

.list-menu li p.list-menu__results--bold {

  // font-weight: 600;
  // margin-bottom: nhsuk-spacing(1);

}

.list-menu li p.list-menu__results-spacer {

  margin-bottom: 4px;

}

.nhs-app-panel-link {}

.nhs-app-panel-heading {


  @include mq($until: desktop) {
    margin: 0 -1em 0;
  }

  margin-bottom: 0;



  h1, h2, h3, h4, h5 {

    background-color: white;
    padding: 0.5em 16px 0.5em 16px;
  border-top: 1px solid #d8dde0;
  margin-bottom: 0;
  }
}

.list-menu_container {

  padding: 0.8em 2em 0.8em 1em;
}

.list-menu li.no-chevron {

  background: white;
}

.list-menu--in-card {
  margin: 24px -24px 0;

  @include mq($from: desktop) {
    margin: 32px -32px 0;

  }


}

.list-menu--in-card li {

  @include mq($from: desktop) {
    background-position: right 2em center;

  }
}

.list-menu--in-card li a {

  @include mq($from: desktop) {

    padding-left: 32px;
    padding-right: 32px;

  }

}

.app-card__content--with-actions {

  padding-bottom: 0;
}

.app-card--without-shadow {

  box-shadow: none;
}
