.nhs-app-button--delete {

  background-color: darken($color_nhsuk-red, 8%);
  box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-red, 38%); // s0


  &:hover {
    background-color: darken($color_nhsuk-red, 16%);
    cursor: default;
  }

  &:focus {
    outline: none;
    background-color: darken($color_nhsuk-red, 16%);
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-red, 20%); // s0
    top: 0;
  }

}

.nhslogin-button {

  background-color: darken($color_nhsuk-blue, 1%);
  box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-blue, 20%); // s0


  &:hover {
    background-color: darken($color_nhsuk-blue, 12%);
    cursor: default;
  }

  &:focus {
    outline: none;
    background-color: darken($color_nhsuk-blue, 12%);
  }

  &:active {
    box-shadow: 0 $button-shadow-size 0 darken($color_nhsuk-blue, 12%); // s0
    top: 0;
  }

}

main.nhs-app-main-login {
  form {

    text-align: center;
    width: 100%;
  }

  .nhs-app-u-button-full {

    width: 100%;
  }

}
