.nhs-app-third-party-container {

  background-color: $color_nhsuk-yellow;
  @include nhsuk-typography-responsive(16);
}

.nhs-app-third-party-container--grey {

  background-color: $color_nhsuk-grey-5;
  border-bottom: 1px solid $color_nhsuk-grey-4;
  border-top: 1px solid $color_nhsuk-grey-4;
  padding-top: nhsuk-spacing(2);
  padding-bottom: nhsuk-spacing(2);
}


.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #6a7d97;
}
