// MESSAAGING
.nhs-app-message {
  .nhs-app-message__item {

    margin-bottom: 0;
  }

  h2, h3 {
    position: relative;
    padding-right: 7.5em !important;
  }

  li p {

    padding-top: 2px;
    padding-bottom: 0;
    color: $nhsuk-secondary-text-color;
  }
}

.nhs-app-message__unread {

  font-size: 14px;
}

.nhs-app-message__meta {

  float: right;
  position: absolute;
  right: 42px;
}

.nhs-app-message__subject-line {

  @extend .nhsuk-body-s;

  @include mq($until: tablet) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
  }

}

.nhs-app-message__subject-line--bold {

  font-weight: 600;
}

.nhs-app-message__date {

  float: right;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 8px;
  top: 2px;
  color: $nhsuk-secondary-text-color;
}

.nhs-app-message__count {

  font-size: 12px;
  font-weight: 600;
  background-color: #ffe609;
  border-radius: 14px;
  padding: 3px 8px;
  color: $nhsuk-text-color;
  border: 1px solid $nhsuk-text-color; // for object accessibility issues

}

// for messages over two digits. For example, 11
.nhs-app-message__count--long {

  padding: 4px 6px;
}

.nhs-app-message__item--read {

}

.nhs-app-message__date--unread {

  font-weight: 600;
  color: $nhsuk-text-color;
}

.nhs-app-chat {}

.nhs-app-chat__thread {

  list-style-type: none;
  padding: 0;
}

.nhs-app-chat__item {
  padding-right: 20%;
  @include clearfix;
}

.nhs-app-chat__item--reply {
  padding-right: 0;
  padding-left: 20%;

}

.nhs-app-chat__container {

  background-color: $color_nhsuk-white;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $color_nhsuk-grey-4;
  margin-bottom: 4px;
}

.nhs-app-chat__container--reply {

  @include clearfix;
  float: right;
  background-color: #eceeef;
  border-color: #d2d7d8;
}

.nhs-app-chat__header {

  @extend .nhsuk-body-m;
  font-weight: 600;
  margin-bottom: 0;
}

.nhs-app-chat__body {}

.nhs-app-chat__date {

  @include nhsuk-typography-responsive(14);
  display: block;
  margin-top: 0;
  @include nhsuk-responsive-margin(4, 'bottom');

}

.nhs-app-chat__sender {

  @include nhsuk-typography-responsive(16);
  display: block;
  margin-top: 0;
  @include nhsuk-responsive-margin(1, 'bottom');
  font-weight: 600;
  color: $nhsuk-secondary-text-color;
}

.nhs-app-chat__sender--reply {
  span {
    float: right;
  }
  @include clearfix;
}

.nhs-app-chat__date--reply {
  float: right;
}

.nhs-app-chat__read-indicator {
  text-align: center;
  position: relative;
  margin-bottom: 1em;

  &:before {

    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid $color_nhsuk-grey-4;
    width: 28%;
    top: 11px;
    left: 0;
  }

  &:after{

    content: "";
    position: absolute;
    height: 5px;
    border-top: 1px solid $color_nhsuk-grey-4;
    width: 28%;
    top: 11px;
    right: 0;
  }
}

.nhs-app-chat__read-indicator-container {

}

.nhs-app-navicon-messages--active {
  fill: $color_nhsuk-white;
}


.app-icon__plus {

  fill: transparent;
  float: left;
}


.app-link-button {
  @include nhsuk-font(22);

  display: inline-block; /* [1] */
  font-weight: $nhsuk-font-bold;
  position: relative; /* [3] */
  text-decoration: none; /* [4] */

  span {

    display: inline-block;
padding-top: 4px;
  }

  @include mq($media-type: print) {
    color: $nhsuk-print-text-color;

    &:visited {
      color: $nhsuk-print-text-color;
    }
  }


  &:focus {
    box-shadow: 0 0 0 8px $nhsuk-link-focus-background-color; /* [5] */

    .nhsuk-action-link__text {
      text-decoration: underline;
    }

  }

  &:hover {
    box-shadow: 0 0 0 8px $nhsuk-link-hover-background-color; /* [5] */

    .nhsuk-action-link__text {
      text-decoration: underline; /* [6] */
    }

  }

}

.nhs-app-chat__container {

  p {
    margin-bottom: 0;
  }

}


.list-menu--secondary li {

  background-color: inherit;
}


.nhs-app-form-input {

  display: block;
  padding: 8px 0;
}

.nhs-app-message-reply__container {

  border-top: 1px solid #d8dde0;
  padding-top: nhsuk-spacing(3);
}

.nhs-app-chat__document-action {

  padding-right: nhsuk-spacing(1);
}
