

.nhs-app-message li p.nhs-app-prescription__dosage {
  margin-bottom: 12px;

}



.nhs-app-status {

  position: relative;
}

.nhs-app-status-body {

  font-weight: 600;
  padding-left: 24px;
}

.nhs-app-status-body--approved {

  color: $color_nhsuk-green;

}

.nhs-app-status-body--waiting {

  color: #A67812;

}

.nhs-app-status-body--rejected {

  color: #da291c;

}

.nhs-app-status-svg {
  position: absolute;
  top: 3px;
}


.nhs-app-warning-callout {

  margin-bottom: 24px;
}



.nhs-app-prescription__medicine {

  font-weight: 600;

}


.list-menu-container_prescriptions {

  padding: 0.8em 2em 0.8em 1em;

}



.nhs-app-prescription__instructions {

  @extend .nhsuk-body-s;

  @include mq($until: tablet) {
    max-width: 90%;
  }

}




.nhs-app-prescription__status {

  @extend .nhsuk-u-font-weight-bold;
  @extend .nhsuk-body-s;

  @include mq($until: tablet) {
    max-width: 90%;
  }

}
