.login {

  main.nhs-app-thin {

    padding: 0 !important;
  }
}

// utility classes

.nhs-app-u-button-full {

  @include mq($until: desktop) {
    width: 100%;
  }
}

a:visited {

  color: $color_nhsuk-blue;
}

.nhs-app-heading--slim {

  font-weight: 500;
}

.nhs-app-mobile--hide {

  @include mq($until: tablet) {
    display: none;
  }

}

.nhs-app-tablet--hide {

  @include mq($from: tablet) {
    display: none;
  }

  @include mq($from: desktop) {
    display: block;
  }


}

.nhs-app-desktop--hide {

  @include mq($from: desktop) {
    display: none;
  }

}

.nhs-app-mobile--show {

  display: none;

  @include mq($until: tablet) {
    display: block;
  }

}

.nhs-app-tablet--show {

  display: none;

  @include mq($from: tablet) {
    display: block;
  }

  @include mq($from: desktop) {
    display: none;
  }


}

.nhs-app-desktop--show {

  display: none;

  @include mq($from: desktop) {
    display: block;
  }

}

.nhs-app-text-align--center {

  text-align: center  !important;
}

.app-display--block {

  display: block;
}

.app-display--none {

  display: none;
}

.nhs-app-secondary-text {
  color: $nhsuk-secondary-text-color;
}

.nhs-app-xl {

  @include nhsuk-responsive-margin(4, 'bottom');
}


.nhs-app-float--left {
  float: left;
}

.nhs-app-float--right {
  float: right;
}

// Ed from slack Utilities

// Hide or show based on breakpoint
​
// Mixins - use these for custom components
​
// Hide on mobile
.app-display-mobile--hide {
  @include mq($until: tablet) {
    display: none;
  }
}
​
// Only on mobile
.app-display-mobile--only {
  @include mq($from: tablet) {
    display: none;
  }
}
​
// Hide on tablet
.app-display-tablet--hide {
  @include mq($from: tablet, $until: desktop) {
    display: none;
  }
}
​
// Only on tablet
.app-display-tablet--only {
  @include mq($from: desktop) {
    display: none;
  }
  @include mq($until: tablet) {
    display: none;
  }
}
​
// Hide on desktop
.app-display-desktop--hide {
  @include mq($from: desktop) {
    display: none;
  }
}
​
// Only on desktop
.app-display-desktop--only {
  @include mq($until: desktop) {
    display: none;
  }
}
​
// Override classes for html
​
// Hide on mobile
.app-\!-display-mobile--hide {
  @include mq($until: tablet) {
    display: none !important;
  }
}
​
// Only on mobile
.app-\!-display-mobile--only {
  @include mq($from: tablet) {
    display: none !important;
  }
}
​
// Hide on tablet
.app-\!-display-tablet--hide {
  @include mq($from: tablet, $until: desktop) {
    display: none !important;
  }
}
​
// Only on tablet
.app-\!-display-tablet--only {
  @include mq($from: desktop) {
    display: none !important;
  }
  @include mq($until: tablet) {
    display: none !important;
  }
}
​
// Hide on desktop
.app-\!-display-desktop--hide {
  @include mq($from: desktop) {
    display: none !important;
  }
}
​
// Only on desktop
.app-\!-display-desktop--only {
  @include mq($until: desktop) {
    display: none !important;
  }
}
