{% set PROTOTYPEURL = "app/IA" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Information architecture experiments" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <ul>
        <li>
          <a href="/app/v8/start">Start v8 IA (Header: Home, Help, More ellipsis. Footer: Advice, Appointments, Prescriptions, Your health, Messages)</a>
        </li>
        <li>
          <a href="/app/v9/start">Start v9 IA (Header: Home, Help, Log out. Footer: Advice, GP services, Your health, Messages, More hamburger)</a>
        </li>
        <li>
          <a href="/app/v10/splash">Start v10 IA (Header: Help, More with ellipsis. Footer: Home, Appointments, Prescriptions, Your health, Messages)</a>
        </li>
        <li>
          <a href="/app/v10-p5/splash">Start v10 p5 user IA (Header: Help, More with ellipsis. Footer: Home, Appointments, Prescriptions, Your health, Messages)</a>
        </li>
        <li>
          <a href="/app/v11/splash">Start v11 IA (Header: Home, Help, More with ellipsis. Footer: Advice, Appointments, Prescriptions, Your health, Messages)</a>
        </li>
      </ul>


      <h2>v11 further exploration</h2>

      <ul>
        <li>
          <a href="/app/v11/index">User has no updates - empty state</a>
        </li>
        <li>
          <a href="/app/v11/exploration/index-unread-message">User has an unread message</a>
        </li>
        <li>
          <a href="/app/v11/exploration/index-appt">User has an upcoming appointment</a>
        </li>
        <li>
          <a href="/app/v11/exploration/index-rejected">User has a prescription that has been rejected (EMIS, Vision, Microtest only)</a>
        </li>
        <li>
          <a href="/app/v11/exploration/index-approved">User has a prescription that has been approved (EMIS, Vision, Microtest only)</a>
        </li>
        <li>
          <a href="/app/v11/exploration/index-med-status-changed">User has a prescription that's status has changed (TPP only)</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
