{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Your message has been submitted" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhs-app-xl">{{ contentTitle }}</h1>

      <p>
        <a href="#">Return to home</a>
      </p>

    </div>
  </div>
{% endblock %}
