{% set PROTOTYPEURL = "app/appointments/v10-substrakt" %}
{% set serviceName = "Substrakt" %}
{% set contentTitle = "Check your answers and submit your request" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
<script type="text/javascript">
// This kills any row that is empty
$('div.nhsuk-summary-list__row').each(function() {
         if ($(this).text().trim() === "") {
                   $(this).css('display','none');
         }
});
</script>
{% endblock %}


{% set subHowOftenAnswer %}
  {% if data['subHowOften'] == 'regularly' %}
    Regularly
  {% elif data['subHowOften'] == 'occasionally' %}
    Occasionally
  {% else %}
    Very rarely
  {% endif %}
{% endset %}





  {% set preferredContact %}
    {% if data['subMobile'] %}
    <p>{{ data['subMobile'] }}</p>
    {% endif %}
    {% if data['subHome'] %}
    <p>{{ data['subMobile'] }}</p>
    {% endif %}
    {% if data['subEmail'] %}
    <p>{{ data['subMobile'] }}</p>
    {% endif %}
    {% endset %}


    {% set substraktStartDate %}
      {% if (data['startDate-day']) and (data['startDate-month']) and (data['startDate-year']) %}
        {{ data['startDate-day'] + " " + data['startDate-month'] | monthToWord + " " + data['startDate-year'] }}
      {% else %}
        3 December 2020
      {% endif %}
    {% endset %}

    {% set substraktEndDate %}
      {% if (data['endDate-day']) and (data['endDate-month']) and (data['endDate-year'])  %}
        {{ data['endDate-day'] + " " + data['endDate-month'] | monthToWord + " " + data['endDate-year'] }}
      {% else %}
       28 November 2020
      {% endif %}
    {% endset %}

    {% set reasons %}
      {% if data['reasonWhy'] %}
      <p>{{ data['reasonWhy'] }}</p>
      {% else %}

      {% endif %}
      {% if data['urgentReason'] %}
      <p>{{ data['urgentReason'] }}</p>
      {% endif %}
      {% endset %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
<div class="nhs-app-provider-banner">
<div class="nhsuk-width-container">
<strong>This service is provided by your GP surgery</strong>
</div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="app-card__heading nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        <span class="app-interruption__caption nhsuk-caption-m nhsuk-caption--top">Request a sick note (fit note)</span>
      {{ contentTitle }}
      </h1>



            <form action="/{{ PROTOTYPEURL }}/ask-gp-a-question/confirmation" method="post">
              {{ summaryList({
                rows: [
                  {
                    key: {
                      text: "What are your preferred contact details?"
                    },
                    value: {
                      html: preferredContact
                    },
                    actions: {
                      items: [
                        {
                          href: "/app/appointments/v10-substrakt/ask-gp-a-question/preferred-contact-details",
                          text: "Change",
                          visuallyHiddenText: "your preferred contact details"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "What date did your last sick note expire? (optional)"
                    },
                    value: {
                      text: substraktEndDate
                    },
                    actions: {
                      items: [
                        {
                          href: "/app/appointments/v10-substrakt/ask-gp-a-question/end-date",
                          text: "Change",
                          visuallyHiddenText: "the date your last sick note expired"
                        }
                      ]
                    }
                  } if data['recentlyHad'] === "yes",
                  {
                    key: {
                      text: "What date do you need the sick note to start from?"
                    },
                    value: {
                      text: substraktStartDate
                    },
                    actions: {
                      items: [
                        {
                          href: "/app/appointments/v10-substrakt/ask-gp-a-question/start-date",
                          text: "Change",
                          visuallyHiddenText: "the date you need the sick note to start from"
                        }
                      ]
                    }
                  } if data['recentlyHad'] === "no",
                  {
                    key: {
                      text: "How long do you need the note to cover?"
                    },
                    value: {
                      text: data['howLong']
                    },
                    actions: {
                      items: [
                        {
                          href: "/app/appointments/v10-substrakt/ask-gp-a-question/how-long",
                          text: "Change",
                          visuallyHiddenText: "your ethnic origin"
                        }
                      ]
                    }
                  },
                  {
                    key: {
                      text: "What is the sick note for?"
                    },
                    value: {
                      html: reasons | placeholder('I have a bad back')
                    },
                    actions: {
                      items: [
                        {
                          href: "/app/appointments/v10-substrakt/ask-gp-a-question/what-for",
                          text: "Change",
                          visuallyHiddenText: "what the sick note is for"
                        }
                      ]
                    }
                  }
                ]
              }) }}


              <input type="submit" class="nhsuk-button" value="Submit request">
            </form>


    </div>
  </div>
{% endblock %}
