{% set PROTOTYPEURL = "app/symptoms/v4" %}
{% set serviceName = "NHS App" %}
{% set symptomsActive = "active" %}
{% set contentTitle = "Symptoms" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new-v2.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-desktop--show" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>
      <ul class="list-menu">
      <li>
        <a href="https://111.nhs.uk/service/COVID-19/">
        <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Get advice about coronavirus</h2>
        <p>Find out what to do if you think you have coronavirus</p>
        </a>
      </li>
        <li>
          <a href="https://www.nhs.uk/conditions/">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Browse conditions and treatments on NHS.UK</h2>
            <p>Find trusted NHS information on hundreds of conditions</p>
          </a>
        </li>

        <li>
          <a href="https://111.nhs.uk">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Use 111.nhs.uk to check if you need urgent help</h2>
            <p>Find out when and where to get help</p>
          </a>
        </li>

        {% if data['doctorLink'] == "False" %}
        {% else %}
        <li>
          <a href="/app/doctorlink/terms/v1/index">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Answer questions online and get access to the right help</h2>
            <p>Answer questions about your symptoms and get advice on what to do next</p>
          </a>
        </li>
        {% endif %}


      </ul>

    </div>
  </div>
{% endblock %}
