{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "NHS App" %}
{% set symptomsActive = "active" %}
{% set contentTitle = "Request help from your GP surgery" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
$('#azFrame').on("load", function () {
    console.log('iframe loaded completely'); //replace with code to hide loader
    $( ".container--loader" ).hide();
});
</script>
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/",
  text: "Check your symptoms"
}) }}
<div class="container--loader">
      <div id="waitingForData" class="loader mobile">
      </div>
    </div>
<iframe id="azFrame" src="https://wsp.psf-live.co.uk/81706/#/portal" style="border: none; margin-top: -60px; height: 600px;background-color:#f0f4f5;" width="100%;"></iframe>
{% endblock %}

{% block content %}
{% endblock %}
