{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Example patterns" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
      </h1>

      <ul>
        <li><a href="/{{ PROTOTYPEURL}}/panels">Panels</a></li>
        <li><a href="/{{ PROTOTYPEURL}}/radios">Radios</a></li>
        <li><a href="/{{ PROTOTYPEURL}}/input">Text input</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
