{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Engage" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Start Engage prototype",
        "href": "/app/v4/start"
      }) }}

      <section>
        <h2>Online consultations</h2>
        <h3>Jump off title:</h3>
        <p>Ask a health professional for advice</p>
        <ul>
          <li>
            <a href="/app/symptoms/v2/index">Symptoms hub</a>
          </li>
        </ul>
        <h3>Terms and conditions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/index">Third party service interrupt</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/nhs-login">Share NHS login information - v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/engage-medical-111">Confirm it's not an emergency</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/engage-privacy">Engage privacy</a>
          </li>
        </ul>
        <h3>Pre-triage questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/premed/v1/telephone">Telephone number</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/premed/v1/who-to-get-help">Who would you like to get help from?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/premed/v1/response-as-soon">Response times</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/category/v1/review">Problem added</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/preq/v1/info">Useful information</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/preq/v1/concerns">What concerns do you have about your condition today?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/preq/v1/file">Would you like to attach a file?</a>
          </li>
        </ul>
        <h3>Condition triage example questions</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/start">Question start page</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/q1">How much of a problem are you having?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/q18">How long have you had the condition?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/q24">On a scale of 1 to 10, how severe are your headaches?</a>
          </li>
        </ul>
        <h3>End pages</h3>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/check-answers">Check your answers</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/contact-you">How will we contact you?</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/med/v1/done">Confirmation</a>
          </li>
        </ul>
      </section>
      
      
      
      <hr>  


      <h2>GP Messaging</h2>
      <h3>Messaging jump off points</h3>
      <ul>
        <li>
          <a href="/app/appointments/v6/appointment-interruption">Send your GP surgery a message</a>
        </li>
        <li>
          <a href="/app/send-a-message/v3">Message</a>
        </li>
      </ul>
      <h3>Send a message journey</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/app/send-a-message/v5/send-a-message-radio">Do you need urgent advice?</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/app/send-a-message/v5/select-who">Select who to message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/app/send-a-message/v5/your-message">Send your message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/app/send-a-message/v5/message?id=2&from=Woodrow%20GP%20Practice&sent=today&time=1:44pm&body=&subjectundefined&to=True&messageRead2=read&">Message sent</a>
        </li>
      </ul>
      <h3>Messaging hub designs</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-7">Hub design - v7</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-6">Hub design - v6</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-5">Hub design - v5</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-4">Hub design - v4</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-3">Hub design - v3</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-2">Hub design - v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-1">Hub design - v1</a>
        </li>
      </ul>

      
      <hr>
      <h2>Error validation</h2>
      <ul>
        <li><a href="/{{ PROTOTYPEURL}}/terms/v1/engage-privacy-error">Select if you have read the privacy policy</a></li>
      </ul>
      <hr>

      <section>
        <h2>Previous explorations</h2>
        <ul>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/index">Third party service - v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v2/index">Third party service - v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/nhs-login">Share NHS login information - v1</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v2/nhs-login">Share NHS login information - v2</a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/terms/v1/engage-medical">Engage medical</a>
          </li>
        </ul>
      </section>

    </div>
  </div>
{% endblock %}
