{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Engage" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Service</h2>
      <h3>Who</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/who/v1/index">Who would you like to access services for? (Panel links)</a>
        </li>
      </ul>

      <h3>Terms and conditions</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v1/index">Third party service - v1</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v2/index">Third party service - v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v1/nhs-login">Share NHS login information - v1</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v2/nhs-login">Share NHS login information - v2</a>
        </li>
        
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v1/engage-medical">Engage medical</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/terms/v1/engage-privacy">Engage privacy</a>
        </li>

      </ul>

      <h2>Messaging design</h2>
      <ul>
        <li>
          <a href="#"></a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub">Hub design - Latest</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-7">Hub design - v7</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-6">Hub design - v6</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-5">Hub design - v5</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-4">Hub design - v4</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-3">Hub design - v3</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-2">Hub design - v2</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/messaging/hub-1">Hub design - v1</a>
        </li>
      </ul>

      <h2>Design examples</h2>
      <ul>
        <li><a href="/{{ PROTOTYPEURL}}/panels">Panels</a></li>
        <li><a href="/{{ PROTOTYPEURL}}/radios">Radios</a></li>
        <li><a href="/{{ PROTOTYPEURL}}/input">Text input</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
