{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "What can we help you with today?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      <div class="nhsuk-form-group">

        <ul class="list-menu">
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Letter from a doctor (may be chargeable)
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Medical information
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Prescription request
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Sick note
           </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Travel information
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL}}/#">
              Something else
            </a>
          </li>
        </ul>
      
      </div>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="/{{ PROTOTYPEURL}}">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back</a>
      </div>

    </div>
  </div>
{% endblock %}
