{% set PROTOTYPEURL = "app/v2" %}
{% set serviceName = "Your preferences" %}
{% set contentTitle = "We've saved your new email address" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% if data['Email'] %}
    {% set email = data['Email'] %}
  {% else %}
    {% set email = "test@example.com" %}
  {% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-u-reading-width">
        <h1 class="app-heading-xl">{{ contentTitle }}</h1>

        <p>We'll use {{ email }} to send your appointment reminders.</p>

        <form action="/{{ PROTOTYPEURL}}/phone/your-answers" method="get">
          <input type="submit" class="nhsuk-button" value="Continue">
          </input>
        </form>

      </div>
    </div>
  </div>
{% endblock %}
