{% set PROTOTYPEURL = "app/v10" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Home" %}
{% set homeActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">{{ contentTitle }}</h1>
    {{ summaryList({
      classes: 'nhsuk-summary-list--no-border nhs-app-summary-list-inline',
      rows: [
        {
          key: {
            text: "Name:"
          },
          value: {
            text: "Mrs Betty Doyle"
          }
        },
        {
          key: {
            text: "Date of birth:"
          },
          value: {
            text: "20 September 1982"
          }
        }
      ]
    }) }}


                <div class="nhs-app-panel-heading">
                  <h2 class="nhsuk-heading-m">Popular services</h2>
                </div>

              <ul class="list-menu nhsuk-u-padding-bottom-4">
                  <li>
                    <a href="/app/covid-status/status-service-v4/agree-to-share">
                      <h2 class="nhsuk-heading-s">Share your COVID-19 Status (Events)</h2>
                        <p>Prove your COVID-19 status in order to go to events</p>
                    </a>
                  </li> 

                  <li>
                    <a href="/app/covid-status/p5-domestic-flow/p9/prove-you-are">
                      <h2 class="nhsuk-heading-s">Share your COVID-19 Status (Travel)</h2>
                        <p>To prove your COVID-19 status in order to go to travel, you’ll need to prove who you are</p>
                    </a>
                  </li> 


                <li class="nhs-app-message__item--unread-home">
                  <a class="desktop" href='{{ data["routeMessaging"] if data ["routeMessaging"] else "/app/messaging/v3/?messagingIcon=False&messageRead1=unread&pkbMessaging=False" }}'>
                    View your messages
                      {% if (data['messageRead7'] == "unread") %}
                      <span class="nhs-app-message__meta">
                        <span class="nhsuk-u-visually-hidden">You have </span>
                        <span class="nhs-app-message__count-red-home"></span>
                        <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                          unread messages
                        </span>
                      </span>
                      {% endif %}

                  </a>
                </li>

              </ul>


            <div class="app-interruption">
              <div class="app-interruption__wrapper">
                <div class="app-interruption__content">
                  <h2 class="app-card__heading nhsuk-heading-l nhsuk-u-margin-bottom-4">
                    Prove your identity to get full access
                  </h2>
                  <p>
                    You'll need to prove who you are before you can [insert relevant covid content] in the NHS App.
                  </p>
                  <a href="/app/covid-status/p5-domestic-flow/p9/prove-you-are" class="nhsuk-button nhsuk-button--reverse" style="color: #212b32">Continue</a>
                </div>
              </div>
            </div>



    </div>
  </div>






{% endblock %}
