{% set PROTOTYPEURL = "register-as-a-data-donor/v1" %}
{% set serviceName = "Register as a data donor" %}
{% set contentTitle = "What are you happy to share your data for?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
<h1>{{ contentTitle }}</h1>

<form action="/{{ PROTOTYPEURL }}" method="get">
  {{ checkboxes({
    "idPrefix": "yes",
    "name": "yes",
    "fieldset": {
      "legend": {
        "text": question,
        "classes": "nhsuk-fieldset__legend--m",
        "isPageHeading": true
      }
    },
    "hint": {
    "text": "Select all that apply"
  },
    "items": [
      {
        "value": "research",
        "text": "Research to find cures and better treatments for illnesses"
      },
      {
        "value": "planning",
        "text": "Planning where we need to improve or provide more health services"
      }
    ]
  }) }}

  <input type="submit" class="nhsuk-button" value="Continue">
  </input>

</form>

    </div>
  </div>
{% endblock %}
