{% set PROTOTYPEURL = "app/doctorlink" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Doctorlink journeys" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      {% from 'action-link/macro.njk' import actionLink %}

      {{ actionLink({
        "text": "Start DoctorLink prototype",
        "href": "/app/v6/start?SJR_DoctorLink=True"
      }) }}



      <section>
        <h2>Jump off points</h2>
        <ul>
          <li>
            <a href="/app/symptoms/v4/index">Answer questions online and get advice</a>
          </li>
          <li>
            <a href="/app/appointments/v9-doctorlink/GP-hub">Book an appointment</a>
          </li>
          <li>
            <a href="/app/more/v9_DL">Request a sick note</a>
          </li>
        </ul>
      </section>

      <section>
        <h2>Terms and conditions</h2>
        <ul>
          <li>
            <a href="/app/doctorlink/terms/v1/index">Answer questions online and get advice interrupt</a>
          </li>
          <li>
            <a href="/app/doctorlink/terms/v1/appointments">Book an appointment interrupt</a>
          </li>
          <li>
            <a href="/app/more/v9_DL/interrupt">Request a sick note interrupt</a>
          </li>
        </ul>
      </section>

      <section>
        <h2>iFrame start points</h2>
        <ul>
          <li>
            <a href="/app/doctorlink/symptoms_iframe/index">Answer questions online and get advice iFrame</a>
          </li>
          <li>
            <a href="/app/doctorlink/appointment-iframe/index">Book an appointment interrupt</a>
          </li>
          <li>
            <a href="/app/more/v9_DL/iframe-sick-note">Request a sick note interrupt</a>
          </li>
        </ul>
      </section>


    </div>
  </div>
{% endblock %}
