{% set PROTOTYPEURL = "app/appointments/v10-substrakt" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Confirm your appointment choices" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
// dirty hack to make the menu disappear when a textarea is being used
$("textarea").focus(function(){
  $(".menu").hide();
});

$("textarea").focusout(function(){
  $(".menu").show();
});
</script>
{% endblock %}

{% set showAppointmentType %}
{% if data["type"] == "Telephone appointment" %}
  {{ data["type"] }} <br> Telephone
{% elif data["type"] %}
  {{ data["type"] }} <br> Face to face
{% else %}
  General appointment in person <br> Face to face
{% endif %}
{% endset %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>
            {{ summaryList({
              classes: '',
              rows: [
                {
                  key: {
                    text: "Appointment type"
                  },
                  value: {
                    html: data['appointmentType'] | placeholder('Any') | printStringOrArray
                  },
                  actions: {
                    items: [
                      {
                        href: "select-type-of-appointment",
                        text: "Change",
                        visuallyHiddenText: "type"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Member of staff"
                  },
                  value: {
                    html: data['appointmentMember'] | placeholder('Any') | printStringOrArray
                  },
                  actions: {
                    items: [
                      {
                        href: "select-practice-member",
                        text: "Change",
                        visuallyHiddenText: "practicemember"
                      }
                    ]
                  }
                },
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: data['location'] or "Gledhow Practice"
                  }
                }

              ]
            }) }}

      <form action="/{{ PROTOTYPEURL}}/select-available-appointment" method="post">
        <input type="submit" class="nhsuk-button" value="View available appointments">
        </input>
      </form>


    </div>
  </div>
{% endblock %}
