{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}







<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/which-organs-stacked",
  text: "Organ Donation"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      <h2 class="nhsuk-heading-m">About organs and tissue</h2>

      <h3 class="nhsuk-heading-s">Heart</h3>

        <p>Blood being pumped around your body by your heart carries oxygen and nutrients. Without the heart, your body wouldn’t get oxygen. Your heart can be transplanted whole or in some cases the valves (pulmonary and aortic) can be transplanted.</p>

        <h3 class="nhsuk-heading-s">Lungs</h3>

        <p>Your lungs supply oxygen to your blood and clear carbon dioxide from your body. Without healthy lungs you couldn’t breathe properly.</p>


        <h3 class="nhsuk-heading-s">Kidneys</h3>

        <p>Your kidneys filter wastes from your blood and convert them to urine. When your kidneys stop working you can develop kidney failure. Harmful wastes and fluids build up in your body and your blood pressure may rise. You can live healthily with one kidney.</p>

        <h3 class="nhsuk-heading-s">Liver</h3>

        <p>Your liver produces bile to clean out your body. If your liver isn’t working right, you will begin to feel tired, experience nausea, vomiting, decreased appetite, brown urine, or even jaundice - yellowing in the whites of your eyes. Your liver can be transplanted whole or in some cases the cells (hepatocytes) can be transplanted.</p>

        <h3 class="nhsuk-heading-s">Corneas</h3>


        <p>The cornea lets light into your eyes, without them you wouldn’t be able to see. The gift of sight is precious. Every day 100 people in the UK start to lose their sight. Almost 2 million people in the UK are living with significant sight loss. Your donation can help someone regain their sight.</p>

        <h3 class="nhsuk-heading-s">Pancreas</h3>

        <p>Your pancreas is in your abdomen. It produces insulin to control your blood sugar levels. If your pancreas is not working correctly your blood sugar level rises, which can lead to diabetes. Your pancreas can be transplanted whole or in some cases the cells (islet cells) can be transplanted.</p>



    <h3 class="nhsuk-heading-s">Tissue</h3>

    <p>Tissue is a group of cells that carry out a particular job in your body. Tissue donations such as skin, bone and tendons save hundreds of lives every year. One tissue donor can enhance the lives of more than 50 people.</p>


    <h3 class="nhsuk-heading-s">Small bowel</h3>

    <p>The small bowel (also small intestine) absorbs nutrients and minerals from food we eat. If your small intestine fails, you wouldn’t be able to digest food. You would need to get nutrition from an alternative method, such as through a drip into your vein.</p>




<div>
      {{ button({
        "href": "/" + PROTOTYPEURL + "/v1/which-organs-stacked",
        "text": "Back",
        "classes": "nhsuk-button--secondary"
      }) }}
</div>

    </div>
  </div>
{% endblock %}
