{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set ethnicity %}
  {% if data['selectEthnicity'] == 'blackOther' %}
    Black or Black British - Other
  {% elif data['selectEthnicity'] == 'mixed' %}
    Mixed - White and Black African
  {% elif data['selectEthnicity'] == 'whiteBritish' %}
    White British
  {% elif data['selectEthnicity'] == 'asianIndian' %}
    Asian or Asian British - Indian
  {% elif data['selectEthnicity'] == 'chinese' %}
    Chinese
  {% elif data['selectEthnicity'] == 'blackCaribbean' %}
    Black or Black British - Caribbean
  {% elif data['selectEthnicity'] == 'whiteOther' %}
    White - Other
  {% elif data['selectEthnicity'] == 'other' %}
    Other
  {% elif data['selectEthnicity'] == 'whiteIrish' %}
    White - Irish
  {% elif data['selectEthnicity'] == 'asianOther' %}
    Asian or Asian British - Other
  {% elif data['selectEthnicity'] == 'asianBangladeshi' %}
    Asian or Asian British - Bangladeshi
  {% elif data['selectEthnicity'] == 'notStated' %}
    Not stated
  {% elif data['selectEthnicity'] == 'mixedWhiteAsian' %}
    Mixed - White and Asian
  {% elif data['selectEthnicity'] == 'blackAfrican' %}
    Black or Black British - African
  {% elif data['selectEthnicity'] == 'asianPakistani' %}
    Asian or Asian British - Pakistani
  {% elif data['selectEthnicity'] == 'whiteBlackCaribbean' %}
    Mixed - White and Black Caribbean
  {% elif data['selectEthnicity'] == 'mixedOther' %}
    Mixed - Other
  {% elif data['selectEthnicity'] == 'gypsy' %}
    Gypsy or Irish Traveller
  {% elif data['selectEthnicity'] == 'arab' %}
    Arab
  {% else %}
    You did not answer
  {% endif %}
{% endset %}

{% set religion %}
  {% if data['selectReligion'] == 'buddhist' %}
    Buddhist
  {% elif data['selectReligion'] == 'christianCatholic' %}
    Christian - Catholic
  {% elif data['selectReligion'] == 'christianOther' %}
    Christian - other
  {% elif data['selectReligion'] == 'christianProtestant' %}
    Christian - Protestant
  {% elif data['selectReligion'] == 'hindu' %}
    Hindu
  {% elif data['selectReligion'] == 'jewish' %}
    Jewish
  {% elif data['selectReligion'] == 'muslim' %}
    Muslim
  {% elif data['selectReligion'] == 'noReligion' %}
    No religion
  {% elif data['selectReligion'] == 'notStated' %}
    Not stated
  {% elif data['selectReligion'] == 'other' %}
    Other
  {% elif data['selectReligion'] == 'sikh' %}
    Sikh
  {% else %}
    You did not answer
  {% endif %}
{% endset %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/your-choice",
  text: "Organ Donation"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>
      <h2 class="nhsuk-heading-m">About you</h2>
      <h3 class="nhsuk-heading-s">Personal details</h3>



            {{ summaryList({
              rows: [
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: "Mr Jack Jackson"
                  }
                },
                {
                  key: {
                    text: "Date of birth"
                  },
                  value: {
                    text: "7 November 1984"
                  }
                },
                {
                  key: {
                    text: "Gender"
                  },
                  value: {
                    html: "Male"
                  }
                },
                {
                  key: {
                    text: "NHS number"
                  },
                  value: {
                    html: "974 436 6753"
                  }
                }
              ]
            }) }}

            <p>Contact your GP surgery to amend your personal details.</p>

            <hr>

            <h3 class="nhsuk-heading-s">Contact details</h3>


            <p>We will only contact you about your organ donation registration.</p>

                  {{ summaryList({
                    rows: [
                      {
                        key: {
                          text: "Postal address"
                        },
                        value: {
                          text: "58 Grange Road, Richmond Hill, Bradford, West Yorkshire, BT71 5LL"
                        }
                      }
                    ]
                  }) }}

                  <p>Contact your GP surgery to amend your postal address.</p>

                  <hr>

                  <h3 class="nhsuk-heading-s">Additional information</h3>



                        {{ summaryList({
                          rows: [
                            {
                              key: {
                                text: "Ethnicity"
                              },
                              value: {
                                text: ethnicity
                              }
                            },
                            {
                              key: {
                                text: "Religion"
                              },
                              value: {
                                html: religion
                              }
                            }
                          ]
                        }) }}

                        <p>This optional information is only used by the NHS to understand the make up of the NHS Organ Donor Register and is not stored against your registration.</p>

                        <hr>


                        <h2 class="nhsuk-heading-m">Your decision</h2>


                        <div class="nhs-app-decision">
                          <div class="nhs-app-decision__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" id="do-not-register-icon-red" data-name="Layer 1" viewBox="-20 -20 162.6 162.6" width="50" height="50" x="5683">
                              <defs>
                                <style>.cwcls-1{fill:#d81e05}</style>
                              </defs>
                              <title>do-not-register-icon-red</title>
                              <g id="cwSymbol_20_1" data-name="Symbol 20 1">
                                <g id="cwGroup_3788" data-name="Group 3788">
                                  <path id="cwPath_450" data-name="Path 450" class="cwcls-1" d="M86.72 25.71l10.17 10.17L71.47 61.3 61.3 71.47 35.88 96.89 25.71 86.72 51.13 61.3 61.3 51.13z"/></g><g id="cwGroup_3789" data-name="Group 3789">
                                  <path id="cwPath_451" data-name="Path 451" class="cwcls-1" d="M61.3 4.8A56.51 56.51 0 1 1 4.8 61.31 56.54 56.54 0 0 1 61.3 4.8m0-4.8a61.3 61.3 0 1 0 61.3 61.3A61.29 61.29 0 0 0 61.32 0z"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="nhs-app-decision__text nhs-app-decision__text--no">
                            <h3>No, I do not want to donate my organs</h3>
                          </div>
                        </div>






                        <h2 class="nhsuk-heading-m">Confirmation</h2>

                        {{ checkboxes({
                          "idPrefix": "organ",
                          "name": "confirm",
                          "fieldset": {
                            "legend": {
                              "isPageHeading": true
                            }
                          },
                          "items": [
                            {
                              "value": "infoGiven",
                              "text": "I confirm that the information given in this form is true, complete and accurate"
                            },
                            {
                              "value": "privacy",
                              "text": "I have read the privacy statement and give consent for the use of my information in accordance with the terms"
                            }
                          ]
                        }) }}


                        <div>
                        {{ button({
                          "text": "Submit my decision",
                          "classes": "nhsuk-button--primary"
                        }) }}
                        </div>

                        <div>
                              {{ button({
                                "text": "Back",
                                "classes": "nhsuk-button--secondary"
                              }) }}
                        </div>
    </div>
  </div>
{% endblock %}
