{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/home-donates-some",
  text: "More"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>





                        <h2 class="nhsuk-heading-m">Your decision</h2>

                        <div class="nhs-app-decision">
                          <div class="nhs-app-decision__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" id="register-icon-green" data-name="Layer 1" viewBox="-20 -20 162.8 162.8" width="50" height="50" x="14118">
                              <defs>
                                <style>.hfcls-1{fill:#006b54}</style>
                              </defs>
                              <title>register-icon-green</title>
                              <g id="hfGroup_3786" data-name="Group 3786">
                                <path id="hfPath_448" data-name="Path 448" class="hfcls-1" d="M101.26 42.49L47.34 96.31 27 76l-3.93-4 10.17-10.13L47.34 76l43.75-43.77z" transform="translate(-.33 -.18)"/>
                                <g id="hfGroup_3785" data-name="Group 3785">
                                  <path id="hfPath_449" data-name="Path 449" class="hfcls-1" d="M61.73 5a56.6 56.6 0 1 1-56.6 56.6A56.6 56.6 0 0 1 61.73 5m0-4.8a61.4 61.4 0 1 0 61.4 61.4A61.46 61.46 0 0 0 61.73.18z" transform="translate(-.33 -.18)"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="nhs-app-decision__text nhs-app-decision__text--yes">
                            <h3>Yes I want to donate my organs</h3>
                          </div>
                        </div>




                        <h3 class="nhsuk-heading-s">Decision details</h3>



                        <p>I want to donate some organs and tissue.</p>

                        <hr>


                        <p>I prefer not to say whether I want NHS staff to speak with my family (and anyone else appropriate) about how organ donation can go ahead in line with my faith and beliefs.</p>



                        <h3 class="nhsuk-heading-s">Is this still your decision?</h3>


                        <p>Keeping your registration up to date will help your family, should organ donation be possible.</p>

                        <p><a href="/{{ PROTOTYPEURL }}/v1/about-you">This is still my decision</a></p>

                        <p><a href="/{{ PROTOTYPEURL }}/v1/change-decision">I want to change my decision</a></p>


                        <h2 class="nhsuk-heading-m">Next steps</h2>

                        <ul class="list-menu">
                          <li>
                            <a href="https://www.organdonation.nhs.uk/tell-your-family-and-friends/" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Tell your family and friends</h2>
                        			<p>Use our message templates and conversation guides to tell your family and friends you are a donor.</p>
                        		</a>
                        	</li>
                          <li>
                            <a href="https://www.organdonation.nhs.uk/app/app-share/" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Share that you are a donor</h2>
                        			<p>Help promote organ donation on social media by telling people you are a donor.</p>
                        		</a>
                        	</li>
                        </ul>

                        <h2 class="nhsuk-heading-m">Other things you can do</h2>

                        <ul class="list-menu">
                          <li>
                            <a href="/app/organ-donation/v1/withdraw-decision" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Withdraw my decision</h2>
                        			<p>Remove an existing registration from the Organ Donor Register. There will be no recorded decision for you about organ donation.</p>
                        		</a>
                        	</li>
                          <li>
                        		<a href="https://www.blood.co.uk/" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Register to be a blood donor</h2>
                        			<p>You could save lives by giving blood. It's simple. You can find your local centre and book an apointment via the app.</p>
                        		</a>
                        	</li>
                        </ul>


    </div>
  </div>
{% endblock %}
