{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/home-donates-none",
  text: "More"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>





                        <h2 class="nhsuk-heading-m">Your decision</h2>

                        <div class="nhs-app-decision">
                          <div class="nhs-app-decision__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" id="do-not-register-icon-red" data-name="Layer 1" viewBox="-20 -20 162.6 162.6" width="50" height="50" x="5683">
                              <defs>
                                <style>.cwcls-1{fill:#d81e05}</style>
                              </defs>
                              <title>do-not-register-icon-red</title>
                              <g id="cwSymbol_20_1" data-name="Symbol 20 1">
                                <g id="cwGroup_3788" data-name="Group 3788">
                                  <path id="cwPath_450" data-name="Path 450" class="cwcls-1" d="M86.72 25.71l10.17 10.17L71.47 61.3 61.3 71.47 35.88 96.89 25.71 86.72 51.13 61.3 61.3 51.13z"/></g><g id="cwGroup_3789" data-name="Group 3789">
                                  <path id="cwPath_451" data-name="Path 451" class="cwcls-1" d="M61.3 4.8A56.51 56.51 0 1 1 4.8 61.31 56.54 56.54 0 0 1 61.3 4.8m0-4.8a61.3 61.3 0 1 0 61.3 61.3A61.29 61.29 0 0 0 61.32 0z"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="nhs-app-decision__text nhs-app-decision__text--no">
                            <h3>No, I do not want to donate my organs</h3>
                          </div>
                        </div>



                        <hr>


                        <p>I prefer not to say whether I want NHS staff to speak with my family (and anyone else appropriate) about how organ donation can go ahead in line with my faith and beliefs.</p>



                        <h3 class="nhsuk-heading-s">Is this still your decision?</h3>


                        <p>Keeping your registration up to date will help your family, should organ donation be possible.</p>

                        <p><a href="/{{ PROTOTYPEURL }}/v1/about-you">This is still my decision</a></p>

                        <p><a href="/{{ PROTOTYPEURL }}/v1/change-decision">I want to change my decision</a></p>


                        <h2 class="nhsuk-heading-m">Next steps</h2>

                        <ul class="list-menu">
                          <li>
                            <a href="https://www.organdonation.nhs.uk/tell-your-family-and-friends/" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Tell your family and friends</h2>
                        			<p>Use our message templates and conversation guides to tell your family and friends you are a donor.</p>
                        		</a>
                        	</li>
                        </ul>

                        <h2 class="nhsuk-heading-m">Other things you can do</h2>

                        <ul class="list-menu">
                          <li>
                            <a href="/app/organ-donation/v1/withdraw-decision" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Withdraw my decision</h2>
                        			<p>Remove an existing registration from the Organ Donor Register. There will be no recorded decision for you about organ donation.</p>
                        		</a>
                        	</li>
                          <li>
                        		<a href="https://www.blood.co.uk/" id="btn_organdonation">
                        			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Register to be a blood donor</h2>
                        			<p>You could save lives by giving blood. It's simple. You can find your local centre and book an apointment via the app.</p>
                        		</a>
                        	</li>
                        </ul>


    </div>
  </div>
{% endblock %}
