{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/home",
  text: "More"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>
      <p class="nhsuk-body-l">Register your organ donation decision</p>


      <div class="nhsuk-grid-row nhsuk-panel-group nhs-app-panel-group">
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhs-app-text-align--center">
          <a href="/{{ PROTOTYPEURL }}/v1/additional-details?donationDecision=no" class="nhsuk-panel nhs-app-organ-donation--no ">
            <svg xmlns="http://www.w3.org/2000/svg" id="do-not-register-icon-red" data-name="Layer 1" viewBox="-20 -20 162.6 162.6" width="50" height="50" x="5683">
              <defs>
                <style>.cwcls-1{fill:#d81e05}</style>
              </defs>
              <title>do-not-register-icon-red</title>
              <g id="cwSymbol_20_1" data-name="Symbol 20 1">
                <g id="cwGroup_3788" data-name="Group 3788">
                  <path id="cwPath_450" data-name="Path 450" class="cwcls-1" d="M86.72 25.71l10.17 10.17L71.47 61.3 61.3 71.47 35.88 96.89 25.71 86.72 51.13 61.3 61.3 51.13z"/></g><g id="cwGroup_3789" data-name="Group 3789">
                  <path id="cwPath_451" data-name="Path 451" class="cwcls-1" d="M61.3 4.8A56.51 56.51 0 1 1 4.8 61.31 56.54 56.54 0 0 1 61.3 4.8m0-4.8a61.3 61.3 0 1 0 61.3 61.3A61.29 61.29 0 0 0 61.32 0z"/>
                </g>
              </g>
            </svg>
            <h3>NO</h3>
            <p>I do not want to donate my organs</p>
          </a>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhs-app-text-align--center">
          <a href="/{{ PROTOTYPEURL }}/v1/your-choice?donationDecision=yes" class="nhsuk-panel nhs-app-organ-donation--yes">
            <svg xmlns="http://www.w3.org/2000/svg" id="register-icon-green" data-name="Layer 1" viewBox="-20 -20 162.8 162.8" width="50" height="50" x="14118">
              <defs>
                <style>.hfcls-1{fill:#006b54}</style>
              </defs>
              <title>register-icon-green</title>
              <g id="hfGroup_3786" data-name="Group 3786">
                <path id="hfPath_448" data-name="Path 448" class="hfcls-1" d="M101.26 42.49L47.34 96.31 27 76l-3.93-4 10.17-10.13L47.34 76l43.75-43.77z" transform="translate(-.33 -.18)"/>
                <g id="hfGroup_3785" data-name="Group 3785">
                  <path id="hfPath_449" data-name="Path 449" class="hfcls-1" d="M61.73 5a56.6 56.6 0 1 1-56.6 56.6A56.6 56.6 0 0 1 61.73 5m0-4.8a61.4 61.4 0 1 0 61.4 61.4A61.46 61.46 0 0 0 61.73.18z" transform="translate(-.33 -.18)"/>
                </g>
              </g>
            </svg>
            <h3>YES</h3>
            <p>I want to donate some or all of my organs</p>
          </a>
        </div>
      </div>



      <ul class="list-menu">
      	<li>
      		<a href="javascript: redirectTo('SY01');">Think you have registered already?</a>
      	</li>
      	<li>
      		<a href="javascript: redirectTo('AB02');">Find out more about organ donation</a>
      	</li>
      </ul>
    </div>
  </div>
{% endblock %}
