{% set PROTOTYPEURL = "app/v3" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "#",
      text: "Back to more"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">{{ contentTitle }}</h1>
      <p class="nhsuk-body-l">Register your organ donation decision</p>


      <ul class="list-menu">
      	<li>
      		<a href="javascript: redirectTo('SY01');">Think you have registered already?</a>
      	</li>
      	<li>
      		<a href="javascript: redirectTo('AB02');">Find out more about organ donation</a>
      	</li>
      </ul>
    </div>
  </div>
{% endblock %}
