{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "My organ donation decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/v1/register-decision",
  text: "Organ Donation"
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      <form action="/{{ PROTOTYPEURL }}/v1/your-choice" method="post">
        {{ radios({
          "idPrefix": "organ",
          "name": "yourChoice",
          "fieldset": {
            "legend": {
              "text": "Your choice",
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--m"
            }
          },
          "hint": {
            "text": "You can choose to donate some, or all, of your organs and tissue."
          },
          "items": [
            {
              "value": "all",
              "html": '<p>All my organs and tissue</p><p>Help up to nine people through organ donation and even more through tissue donation.</p>'
            },
            {
              "value": "some",
              "html": '<p>Some organs and tissue</p><p>Choose which of your organs and tissue to donate</p>'

            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

      {{ button({
        "text": "Back",
        "classes": "nhsuk-button--secondary"
      }) }}

    </div>
  </div>
{% endblock %}
