{% set PROTOTYPEURL = "app/push-notifications" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Push notifications prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>




      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/p-notification">Push notification - new message</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/p-notification-multiple">Push notification - more than 1 new message</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
