{% set PROTOTYPEURL = "app/appointments" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Appointment prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
      {{ contentTitle }}
    </h1>

    <h2>Current prototypes</h2>
    <h3>v4</h3>
    <p>New model appointment flow. Exploring:</p>
    <ul>
      <li>New hub for appointments</li>
      <li>New flow for booking</li>
      <li>Matching search and appointment booking models with a better journey</li>
    </ul>
    <h3>v3</h3>
    <p>With page to allow users to search for an appointment or browse all available appointments</p>
    <p>Tested as part of nominated pharmacy lab November 19 2019.</p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-how-to-search">Book an appointment (search or browse)</a>
      </li>
    </ul>
    <h4>Search route</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-type-of-appointment">Select type of appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-practice-member">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Select available appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>
    <h4>Browse route</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment?browseAppointments=true&appointmentType=">Select available appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>

    <h3>v2</h3>
    <p>
      Tested as part of October for appointments redesign (NHSO-7575). Recreated from an invision prototype.
    </p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-type-of-appointment">Select type of appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-practice-member">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-available-appointment">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>

    <h3>v1</h3>
    <p>
      Tested as part of October for Notifications work
    </p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/new-appointment">Search for an appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/results?appointmentType=nurse&appointmentLocation=gledhow&appointmentMember=no&appointmentTimeframe=nextFourWeeks">Available appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/results?confirm-appointment?date=Thursday%205%20October%202019&time=10.50am&type=Nurse%20appointment">Confirm your appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/?confirmed=true">Appointment booked (on index page)</a>
      </li>


    </ul>


  </div>
</div>
{% endblock %}
