{% set PROTOTYPEURL = "app/appointments" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Appointment prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
      {{ contentTitle }}
    </h1>

    <h2>Current prototypes</h2>
    <h3>v6</h3>

    <h4>Errors</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/errors/appointments-unavailable">GP appointments unavailable - includes coronavirus content</a>
      </li>
    </ul>

    <h4>P5</h4>

    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/p5-appointments">P5 appointments page</a>
      </li>
    </ul>


    <p>New appointment booking flow. Exploring:</p>
    <ul>
      <li>Forced selection of appointment type</li>
      <li>Check search criteria interruption card</li>
      <li>Optional member of staff selection</li>
    </ul>
    <h4>Testing in usability session (8 April 2020)</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/pre-hub">Appointments pre-hub</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/GP-hub">Your GP appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/select-type-of-appointment">What type of appointment would you like? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/check-search-criteria">Check your appointment search criteria (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/select-practice-member">Which member of staff would you like to see? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/select-available-appointment">Choose an appointment (Results page)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/appointment-reason?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Choose an appointment (Textarea)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/confirm-appointment?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Check your appointment details before booking (Check your answers)</a>
      </li>

      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/appointment-booked?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Your appointment has been booked (Confirmation page)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/cancel-appointment">Cancel appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/add-to-calendar">Add to calendar</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/calendar-permissions">Calendar permissions pop up</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/add-appointment-calendar">Add appointment to calendar pop up</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v6/native-calendar">Calendar view</a>
      </li>
    </ul>
    <h3>v5</h3>
    <p>Previous (v4) appointment flow, using Leeds Student Medical Centre appointment naming data.</p>
    <h4>Tested with patients at the Leeds Student Medical Centre (15 January 2020)</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/select-how-to-search">How do you want to find an appointment? (Radio)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/select-type-of-appointment">What type of appointment would you like? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/radio-practice-member">Is there a specific member of staff you’d like to see? (Radio)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/select-practice-member">Which member of staff would you like to see? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/select-available-appointment">Choose an appointment (Results page)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/appointment-reason?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Choose an appointment (Textarea)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/confirm-appointment?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Check your appointment details before booking (Check your answers)</a>
      </li>

      <li>
        <a href="/{{ PROTOTYPEURL }}/v5/appointment-booked?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Your appointment has been booked (Confirmation page)</a>
      </li>
    </ul>
    <h3>v4</h3>
    <p>New model appointment flow. Exploring:</p>
    <ul>
      <li>New hub for appointments</li>
      <li>New flow for booking</li>
      <li>Matching search and appointment booking models with a better journey</li>
    </ul>
    <h4>Tested in usability session (11 December)</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/select-how-to-search">How do you want to find an appointment? (Radio)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/select-location">Where would you like to have your appointment? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/select-type-of-appointment">What type of appointment would you like? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/radio-practice-member">Is there a specific member of staff you’d like to see? (Radio)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/select-practice-member">Which member of staff would you like to see? (Checkboxes)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/select-available-appointment">Choose an appointment (Results page)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/appointment-reason?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Choose an appointment (Textarea)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/confirm-appointment?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Check your appointment details before booking (Check your answers)</a>
      </li>

      <li>
        <a href="/{{ PROTOTYPEURL }}/v4/appointment-booked?date=Monday%2016%20December%202019&time=3.15pm&type=Telephone&staffName=Dr%20Sanjit%20Praneskear%20(Male)&sessionName=Session&location=Gledhow%20Practice">Your appointment has been booked (Confirmation page)</a>
      </li>
    </ul>
    <h4>Hub exploration</h4>
    <p>Create a hub for booking. Resolve the issue with green button blindness</p>
    <ul>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v6?confirmed=true">Latest appointment hub design</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v0?confirmed=true">Current live hub [November 2019]</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v1?confirmed=true">Hub with panel link and upcoming appointment date and count</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v2?confirmed=true">Hub with panel link and upcoming appointment count but no date</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v3?confirmed=true">Hub with panel links with upcoming first</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v4?confirmed=true">Hub with panel links with upcoming first, with additional details</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v5?confirmed=true">Hub with panel links to new, and panel block of heading, upcoming and link to previous</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v6?confirmed=true">Hub with panel links to new, and panel block of heading, upcoming with only appointment type and link to previous (+ cancel link)</a>
      </li>
      <li>
        <a href="/{{PROTOTYPEURL}}/v4/hub-v7?confirmed=true">Hub with panel with last appointment</a>
      </li>
    </ul>
    <h3>v3</h3>
    <p>With page to allow users to search for an appointment or browse all available appointments</p>
    <p>Tested as part of nominated pharmacy lab November 19 2019.</p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-how-to-search">Book an appointment (search or browse)</a>
      </li>
    </ul>
    <h4>Search route</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-type-of-appointment">Select type of appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-practice-member">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Select available appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>
    <h4>Browse route</h4>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment?browseAppointments=true&appointmentType=">Select available appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v3/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>

    <h3>v2</h3>
    <p>
      Tested as part of October for appointments redesign (NHSO-7575). Recreated from an invision prototype.
    </p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-type-of-appointment">Select type of appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-practice-member">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-available-appointment">Select a member of staff</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/confirm-appointment?date={{ 'today' |returnDate }}&time=10.50am&type=General%20appointment%20in%20person&staffName=Dr%20Sanjit%20Praneskear%20(Male)">Confirm your appointment details</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v2/select-available-appointment">Your appointment is booked</a>
      </li>
    </ul>

    <h3>v1</h3>
    <p>
      Tested as part of October for Notifications work
    </p>
    <ul>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/">Your appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/appointment-interruption">Things to try before you book an appointment (interruption)</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/new-appointment">Search for an appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/results?appointmentType=nurse&appointmentLocation=gledhow&appointmentMember=no&appointmentTimeframe=nextFourWeeks">Available appointments</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/results?confirm-appointment?date=Thursday%205%20October%202019&time=10.50am&type=Nurse%20appointment">Confirm your appointment</a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/v1/?confirmed=true">Appointment booked (on index page)</a>
      </li>


    </ul>


  </div>
</div>
{% endblock %}
