{% set PROTOTYPEURL = "app/appointments/v3" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Select a member of staff" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set showAppointmentType %}
{% if data["appointmentType"] == "Telephone appointment" %}
  {{ data["appointmentType"] }} <br> Telephone
{% elif data["appointmentType"] %}
  {{ data["appointmentType"] }} <br> Face to face
{% else %}
  General appointment in person <br> Face to face
{% endif %}
{% endset %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/{{ PROTOTYPEURL}}/select-available-appointment" method="post">
        {{ select({
          "id": "appointmentMember",
          "name": "appointmentMember",
          "classes": "nhs-app-select",
          "label": {
            "text": contentTitle,
            "isPageHeading": true,
            "classes": "nhsuk-label--l"
          },
          "items": [
            {
              "value": "No preference",
              "text": "No preference",
              "selected": true
            },
            {
              "value": "Sister Leanna Leveille (Female)",
              "text": "Sister Leanna Leveille (Female)"
            },
            {
              "value": "Dr Sanjit Praneskear (Male)",
              "text": "Dr Sanjit Praneskear (Male)"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

      <h2 class="nhsuk-heading-m">Your search criteria</h2>
      <div class="app-card app-card--xs app-card--with-border nhsuk-u-margin-bottom-4">
        <div class="app-card__wrapper">
          <div class="app-card__content">
            {{ summaryList({
              classes: 'nhsuk-summary-list--no-border nhs-app-summary-list--card',
              rows: [
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: "Gledhow Practice"
                  }
                },
                {
                  key: {
                    text: "Appointment type"
                  },
                  value: {
                    html: showAppointmentType,
                    classes: "nhsuk-u-margin-bottom-0"
                  },
                  actions: {
                    items: [
                      {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  }
                }
              ]
            }) }}
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
