{% set PROTOTYPEURL = "app/appointments/v3" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Select available appointment" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set showAppointmentType %}
{% if data["appointmentType"] == "Telephone appointment" %}
  {{ data["appointmentType"] }} <br> Telephone
{% elif data["browseAppointments"] == "true" %}
  All
{% elif data["appointmentType"] %}
  {{ data["appointmentType"] }} <br> Face to face
{% else %}
  General appointment in person <br> Face to face
{% endif %}
{% endset %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      {% set searchQuery %}
      {{ summaryList({
        classes: 'nhsuk-summary-list--no-border nhs-app-summary-list--card',
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              text: "Gledhow Practice"
            }
          },
          {
            key: {
              text: "Appointment type"
            },
            value: {
              html: showAppointmentType,
              classes: "nhsuk-u-margin-bottom-0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Member of staff"
            },
            value: {
              html: data["appointmentMember"] or "No preference",
              classes: "nhsuk-u-margin-bottom-0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}
      {% endset %}

      {{ details({
        "classes": "nhsuk-expander app-card--with-border",
        "text": "Your search criteria",
        "HTML": searchQuery
      }) }}


      {% set general %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ 'tomorrow' | returnDate }}&time=9.50am&type=General appointment in person&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">General appointment in person</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ 'tomorrow' | returnDate }}&time=10.50am&type=General appointment in person&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">10.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">General appointment in person</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>
      {% endset %}

      {% set generalFar %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '14' | returnDate }}&time=4.40pm&type=General appointment in person&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.40pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">General appointment in person</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '14' | returnDate }}&time=4.55pm&type=General appointment in person&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.55pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">General appointment in person</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>
      {% endset %}

      {% set telephoneEarly %}

        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ 'tomorrow' | returnDate }}&time=3.15pm&type=Telephone appointment&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Telephone appointment</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>

      {% endset %}

      {% set telephone %}

        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '6' | returnDate }}&time=9.50am&type=Telephone appointment&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Telephone appointment</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '6' | returnDate }}&time=10.50am&type=Telephone appointment&staffName=Dr Sanjit Praneskear (Male)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">10.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Telephone appointment</p>
            <p class="list-menu__results-person">Dr Sanjit Praneskear (Male)</p>
          </a>
        </li>

      {% endset %}

      {% set nurse %}

        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '2' | returnDate }}&time=9.50am&type=Nurse appointment&staffName=Sister Leanna Leveille (Female)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse appointment</p>
            <p class="list-menu__results-person">Sister Leanna Leveille (Female)</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '2' | returnDate }}&time=10.50am&type=Nurse appointment&staffName=Sister Leanna Leveille (Female)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">10.50am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse appointment</p>
            <p class="list-menu__results-person">Sister Leanna Leveille (Female)</p>
          </a>
        </li>

      {% endset %}
      {% set nurseFar %}

        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '6' | returnDate }}&time=2.25pm&type=Nurse appointment&staffName=Sister Leanna Leveille (Female)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse appointment</p>
            <p class="list-menu__results-person">Sister Leanna Leveille (Female)</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/confirm-appointment?date={{ '6' | returnDate }}&time=2.50pm&type=Nurse appointment&staffName=Sister Leanna Leveille (Female)" id="btn_organdonation">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse appointment</p>
            <p class="list-menu__results-person">Sister Leanna Leveille (Female)</p>
          </a>
        </li>

      {% endset %}

      {% if data.appointmentType == 'Nurse appointment' %}
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '2' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ nurse | safe }}
        </ul>
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '6' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ nurseFar | safe }}
        </ul>

      {% elif data.appointmentType == 'Telephone appointment' %}
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '2' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ telephoneEarly | safe }}
        </ul>
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '6' | returnDate }}</h2>
      <ul class="list-menu list-menu__results">
        {{ telephone | safe }}
      </ul>

      {% elif data.appointmentType == 'General appointment in person' %}
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "tomorrow" | returnDate }}</h2>
      <ul class="list-menu list-menu__results">
        {{ general | safe }}
      </ul>
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '14' | returnDate }}</h2>
      <ul class="list-menu list-menu__results">
        {{ generalFar | safe }}
      </ul>

      {% else %}
      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "tomorrow" | returnDate }}</h2>
      <ul class="list-menu list-menu__results">
        {{ general | safe }}
      </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '2' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ nurse | safe }}
          {{ telephoneEarly | safe }}
        </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '6' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ telephone | safe }}
          {{ nurseFar | safe }}
        </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ '14' | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
          {{ generalFar | safe }}
        </ul>




      {% endif %}

    </div>
  </div>
{% endblock %}
