{% set PROTOTYPEURL = "app/records/v1" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Consultations and events" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "#",
      text: "Home"
    }
  ],
  href: "../your-record",
  text: "Your GP record"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <ol class="nhs-app-list-card">
        <li class="nhs-app-list-card__item">
          <div class="app-card app-card--with-border app-card--no-shadow app-card--xs nhsuk-u-margin-bottom-2">
            <div class="app-card__wrapper">
              <div class="app-card__content">
                <h2 class="app-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
                  8 April 2011
                </h2>
                <p class="nhsuk-u-margin-bottom-0">Allertion Medical Centre - Abbie Thetford <br>Document</p>
                <ul>
                  <li>History / Symptoms</li>
                </ul>

              </div>
            </div>
          </div>
        </li>

        <li class="nhs-app-list-card__item">
          <div class="app-card app-card--with-border app-card--no-shadow app-card--xs nhsuk-u-margin-bottom-2">
            <div class="app-card__wrapper">
              <div class="app-card__content">
                <h2 class="app-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
                  2 March 2009
                </h2>
                <p class="nhsuk-u-margin-bottom-0">Allertion Medical Centre - Abbie Thetford <br>Document</p>
                <ul>
                  <li>History / Symptoms</li>
                </ul>

              </div>
            </div>
          </div>
        </li>

        <li class="nhs-app-list-card__item">
          <div class="app-card app-card--with-border app-card--no-shadow app-card--xs nhsuk-u-margin-bottom-2">
            <div class="app-card__wrapper">
              <div class="app-card__content">
                <h2 class="app-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
                  17 December 2003
                </h2>
                <p class="nhsuk-u-margin-bottom-0">Allertion Medical Centre - Abbie Thetford <br>Regime review</p>
                <ul>
                  <li>Medication review</li>
                </ul>

              </div>
            </div>
          </div>
        </li>

        <li class="nhs-app-list-card__item">
          <div class="app-card app-card--with-border app-card--no-shadow app-card--xs nhsuk-u-margin-bottom-2">
            <div class="app-card__wrapper">
              <div class="app-card__content">
                <h2 class="app-card__heading nhsuk-heading-xs nhsuk-u-margin-bottom-0">
                  17 December 2003
                </h2>
                <p class="nhsuk-u-margin-bottom-0">Allertion Medical Centre - Abbie Thetford <br>Document</p>
                <ul>
                  <li>History / Symptoms</li>
                </ul>

              </div>
            </div>
          </div>
        </li>



      </ol>

      <p>You may see medical abbreviations that you aren't familiar with.</p>

      {{ actionLink({
        "text": "Help with abbreviations",
        openInNewWindow: "true",
        "href": "https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/abbreviations/"
      }) }}

    </div>
  </div>
{% endblock %}
