{% set PROTOTYPEURL = "app/records/v1" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Documents" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="javascript: window.history.go(-1)">Your GP health record</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
      </h1>

      <ul class="list-menu nhs-app-record-document-list">
        <li>
          <a href="#">
            9 March 2018 <span class="nhs-app-record-document-list__filesize">(PDF, 3MB)</span>
            <p>Seen in neurology clinic</p>
          </a>
        </li>
        <li>
          <a href="#">
            12 December 2017 <span class="nhs-app-record-document-list__filesize">(PDF, 1MB)</span>
            <p>Discharge summary</p>
          </a>
        </li>

        <li>
          <a href="#">
            6 May 2004 <span class="nhs-app-record-document-list__filesize">(PDF, 1MB)</span>
            <p>NHS 111 report received</p>
          </a>
        </li>
      </ul>

      {{ details({
        "text": "Help with medical abbreviations",
        "HTML": "
        <p>You may see medical abbreviations that you aren't familiar with.</p>
        <p>We have guidance for <a target='_blank' href='https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/abbreviations/'>abbreviations commonly found in medical records</a>.</p>
        "
      }) }}



    </div>
  </div>
{% endblock %}
