{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Check your details and submit your decision" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set ethnicity %}
  {% if data['selectEthnicity'] == 'blackOther' %}
    Black or Black British - Other
  {% elif data['selectEthnicity'] == 'mixed' %}
    Mixed - White and Black African
  {% elif data['selectEthnicity'] == 'whiteBritish' %}
    White British
  {% elif data['selectEthnicity'] == 'asianIndian' %}
    Asian or Asian British - Indian
  {% elif data['selectEthnicity'] == 'chinese' %}
    Chinese
  {% elif data['selectEthnicity'] == 'blackCaribbean' %}
    Black or Black British - Caribbean
  {% elif data['selectEthnicity'] == 'whiteOther' %}
    White - Other
  {% elif data['selectEthnicity'] == 'other' %}
    Other
  {% elif data['selectEthnicity'] == 'whiteIrish' %}
    White - Irish
  {% elif data['selectEthnicity'] == 'asianOther' %}
    Asian or Asian British - Other
  {% elif data['selectEthnicity'] == 'asianBangladeshi' %}
    Asian or Asian British - Bangladeshi
  {% elif data['selectEthnicity'] == 'notStated' %}
    Not stated
  {% elif data['selectEthnicity'] == 'mixedWhiteAsian' %}
    Mixed - White and Asian
  {% elif data['selectEthnicity'] == 'blackAfrican' %}
    Black or Black British - African
  {% elif data['selectEthnicity'] == 'asianPakistani' %}
    Asian or Asian British - Pakistani
  {% elif data['selectEthnicity'] == 'whiteBlackCaribbean' %}
    Mixed - White and Black Caribbean
  {% elif data['selectEthnicity'] == 'mixedOther' %}
    Mixed - Other
  {% elif data['selectEthnicity'] == 'gypsy' %}
    Gypsy or Irish Traveller
  {% elif data['selectEthnicity'] == 'arab' %}
    Arab
  {% elif data['selectEthnicity'] == '' %}
    You did not answer
  {% else %}
    You did not answer
  {% endif %}
{% endset %}

{% set religion %}
  {% if data['selectReligion'] == 'buddhist' %}
    Buddhist
  {% elif data['selectReligion'] == 'christianCatholic' %}
    Christian - Catholic
  {% elif data['selectReligion'] == 'christianOther' %}
    Christian - other
  {% elif data['selectReligion'] == 'christianProtestant' %}
    Christian - Protestant
  {% elif data['selectReligion'] == 'hindu' %}
    Hindu
  {% elif data['selectReligion'] == 'jewish' %}
    Jewish
  {% elif data['selectReligion'] == 'muslim' %}
    Muslim
  {% elif data['selectReligion'] == 'noReligion' %}
    No religion
  {% elif data['selectReligion'] == 'notStated' %}
    Not stated
  {% elif data['selectReligion'] == 'other' %}
    Other
  {% elif data['selectReligion'] == 'sikh' %}
    Sikh
  {% elif data['selectReligion'] == '' %}
    You did not answer
  {% else %}
    You did not answer
  {% endif %}
{% endset %}


{% set faith %}
  {% if data['faithBeliefs'] == 'yes' %}
    Yes - this is applicable to me
  {% elif data['faithBeliefs'] == 'no' %}
    No - this is not applicable to me
  {% elif data['faithBeliefs'] == 'prefer' %}
    Prefer not to say
  {% else %}
    Prefer not to say
  {% endif %}
{% endset %}




{% set decisionDetails %}
  {% if data['yourChoice'] == 'all' %}
    I want to donate all my organs and tissue.
  {% else %}
    I want to donate some organs and tissue.
  {% endif %}
{% endset %}



{% if (data['heart'] == "yes") or (data['lungs'] == "yes") or (data['kidney'] == "yes") or (data['liver'] == "yes")
or (data['corneas'] == "yes") or (data['pancreas'] == "yes") or (data['tissue'] == "yes") or (data['smallBowel'] == "yes") %}
  {% set organDonationChooseAnyYes = true %}
{% endif %}


{% if (data['heart'] == "no") or (data['lungs'] == "no") or (data['kidney'] == "no") or (data['liver'] == "no")
or (data['corneas'] == "no") or (data['pancreas'] == "no") or (data['tissue'] == "no") or (data['smallBowel'] == "no") %}
  {% set organDonationChooseAnyNos = true %}
{% endif %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v2/additional-details">Back</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href=""></a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/v2/additional-details">Back</a></p>
  </div>
</nav>
{% endblock %}



{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <h2 class="nhsuk-heading-l">About you</h2>
      <h3 class="nhsuk-heading-m">Personal details</h3>



            {{ summaryList({
              rows: [
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: "Mr Jack Jackson"
                  }
                },
                {
                  key: {
                    text: "Date of birth"
                  },
                  value: {
                    text: "7 November 1984"
                  }
                },
                {
                  key: {
                    text: "NHS number"
                  },
                  value: {
                    html: "974 436 6753"
                  }
                }
              ]
            }) }}

            <p>Contact your GP surgery to amend your personal details.</p>

            <hr>

            <h3 class="nhsuk-heading-m">Contact details</h3>


            <p>We will only contact you about your organ donation registration.</p>

                  {{ summaryList({
                    rows: [
                      {
                        key: {
                          text: "Postal address"
                        },
                        value: {
                          text: "58 Grange Road, Richmond Hill, Bradford, West Yorkshire, BT71 5LL"
                        }
                      }
                    ]
                  }) }}

                  <p>Contact your GP surgery to amend your postal address.</p>

                  <hr>


                  <h3 class="nhsuk-heading-m">Additional information</h3>



                                          {{ summaryList({
                                            rows: [
                                              {
                                                key: {
                                                  text: "Ethnicity"
                                                },
                                                value: {
                                                  text: ethnicity
                                                }
                                              },
                                              {
                                                key: {
                                                  text: "Religion"
                                                },
                                                value: {
                                                  html: religion
                                                }
                                              }
                                            ]
                                          }) }}

                        <p>This optional information is only used by the NHS to understand the make up of the NHS Organ Donor Register and is not stored against your registration.</p>

                        <hr>



                        <h2 class="nhsuk-heading-l">Your decision</h2>

                        {% if data['donationDecision'] == "no" %}
                        <div class="nhs-app-decision">
                          <div class="nhs-app-decision__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" id="do-not-register-icon-red" data-name="Layer 1" viewBox="-20 -20 162.6 162.6" width="50" height="50" x="5683">
                              <defs>
                                <style>.cwcls-1{fill:#d81e05}</style>
                              </defs>
                              <title>do-not-register-icon-red</title>
                              <g id="cwSymbol_20_1" data-name="Symbol 20 1">
                                <g id="cwGroup_3788" data-name="Group 3788">
                                  <path id="cwPath_450" data-name="Path 450" class="cwcls-1" d="M86.72 25.71l10.17 10.17L71.47 61.3 61.3 71.47 35.88 96.89 25.71 86.72 51.13 61.3 61.3 51.13z"/></g><g id="cwGroup_3789" data-name="Group 3789">
                                  <path id="cwPath_451" data-name="Path 451" class="cwcls-1" d="M61.3 4.8A56.51 56.51 0 1 1 4.8 61.31 56.54 56.54 0 0 1 61.3 4.8m0-4.8a61.3 61.3 0 1 0 61.3 61.3A61.29 61.29 0 0 0 61.32 0z"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="nhs-app-decision__text nhs-app-decision__text--no">
                            <h3>No, I do not want to donate my organs</h3>
                          </div>
                        </div>

                        {% else %}
                        <div class="nhs-app-decision">
                          <div class="nhs-app-decision__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" id="register-icon-green" data-name="Layer 1" viewBox="-20 -20 162.8 162.8" width="50" height="50" x="14118">
                              <defs>
                                <style>.hfcls-1{fill:#006b54}</style>
                              </defs>
                              <title>register-icon-green</title>
                              <g id="hfGroup_3786" data-name="Group 3786">
                                <path id="hfPath_448" data-name="Path 448" class="hfcls-1" d="M101.26 42.49L47.34 96.31 27 76l-3.93-4 10.17-10.13L47.34 76l43.75-43.77z" transform="translate(-.33 -.18)"/>
                                <g id="hfGroup_3785" data-name="Group 3785">
                                  <path id="hfPath_449" data-name="Path 449" class="hfcls-1" d="M61.73 5a56.6 56.6 0 1 1-56.6 56.6A56.6 56.6 0 0 1 61.73 5m0-4.8a61.4 61.4 0 1 0 61.4 61.4A61.46 61.46 0 0 0 61.73.18z" transform="translate(-.33 -.18)"/>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="nhs-app-decision__text nhs-app-decision__text--yes">
                            <h3>Yes I want to donate my organs</h3>
                          </div>
                        </div>

                        {% endif %}



                        {% if data['donationDecision'] == "yes" %}

                        <h3 class="nhsuk-heading-m">Decision details</h3>

                        <p>{{ decisionDetails }}</p>

                        {% endif %}


                        {% if data["yourChoice"] == "some" %}

                          {% if organDonationChooseAnyYes %}
                          <h4 class="nhsuk-heading-s">You have chosen to donate:</h4>
                            <ul style="list-style-type:none;">
                              {% if data['heart'] == 'yes' %}
                              <li>Heart</li>
                              {% endif %}

                              {% if data['lungs'] == 'yes' %}
                                <li>Lungs</li>
                              {% endif %}

                              {% if data['kidney'] == 'yes' %}
                                <li>Kidney</li>
                              {% endif %}

                              {% if data['liver'] == 'yes' %}
                                <li>Liver</li>
                              {% endif %}

                              {% if data['corneas'] == 'yes' %}
                                <li>Corneas</li>
                              {% endif %}

                              {% if data['pancreas'] == 'yes' %}
                                <li>Pancreas</li>
                              {% endif %}

                              {% if data['tissue'] == 'yes' %}
                                <li>Tissue</li>
                              {% endif %}

                              {% if data['smallBowel'] == 'yes' %}
                                <li>Small bowel</li>
                              {% endif %}
                            </ul>
                            {% endif %}

                          {% if organDonationChooseAnyNos %}
                          <h4 class="nhsuk-heading-s">You have chosen not to donate:</h4>
                          <ul style="list-style-type:none;">
                            {% if data['heart'] == 'no' %}
                            <li>Heart</li>
                            {% endif %}

                            {% if data['lungs'] == 'no' %}
                              <li>Lungs</li>
                            {% endif %}

                            {% if data['kidney'] == 'no' %}
                              <li>Kidney</li>
                            {% endif %}

                            {% if data['liver'] == 'no' %}
                              <li>Liver</li>
                            {% endif %}

                            {% if data['corneas'] == 'no' %}
                              <li>Corneas</li>
                            {% endif %}

                            {% if data['pancreas'] == 'no' %}
                              <li>Pancreas</li>
                            {% endif %}

                            {% if data['tissue'] == 'no' %}
                              <li>Tissue</li>
                            {% endif %}

                            {% if data['smallBowel'] == 'no' %}
                              <li>Small bowel</li>
                            {% endif %}
                          </ul>
                          {% endif %}

                        {% endif %}





                        {% if data['donationDecision'] == "yes" %}

                        <h2 class="nhsuk-heading-l">Faith / beliefs details</h2>

                        {{ summaryList({
                          rows: [
                            {
                              key: {
                                html: '<p><strong>I would like NHS staff to speak to my family and anyone else appropriate about how organ donation can go ahead in line with my faith / beliefs.</strong></p>'
                              },
                              value: {
                                text: faith
                              }
                            }
                          ]
                        }) }}

                        {% endif %}

                        <h2 class="nhsuk-heading-l">Submit your decision</h2>


                        <form action="/{{ PROTOTYPEURL }}/v2/decision-recorded-2" method="post">



                          <p>By continuing you agree that:<p>

                          <ul>
                            <li>the information you have given in this form is true, complete and accurate</li>
                            <li>you have read the <a href="https://www.organdonation.nhs.uk/app/app-privacy/">privacy statement</a> and give consent for the use of your information as set out in the privacy statement</li>
                          </ul>

                          <input type="submit" class="nhsuk-button" value="Agree and submit">
                          </input>
                        </form>


    </div>
  </div>
{% endblock %}
