{% set PROTOTYPEURL = "app/organ-donation" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Remove yourself from the NHS Organ Donor Register" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}





<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#" onClick='window.history.go(-1)'>Back</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href=""></a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>



      <p>Withdrawing from the NHS Organ Donor Register is different from recording a decision not to donate (opting out).</p>

      <p>In line with changes to the law around organ donation, you are considered to have agreed to be an organ donor, unless:</p>

      <ul>
        <li>you have recorded a decision not to donate</li>
        <li>you are in an excluded group</li>
      </ul>


      <p>Find out more about the <a href="https://www.organdonation.nhs.uk/app/app-donation/#law" title="External website">law and excluded groups</a>.</p>

      <p>If you do not want to be an organ donor, the best way to tell us is to <a href="/{{ PROTOTYPEURL }}/v2/change-decision-2">update your decision</a>. You can change your decision at any time.</p>

      <p>Whatever you decide, please make sure your family know your decision.</p>



      <form action="/{{ PROTOTYPEURL }}/v2/withdraw-decision" method="post">

  {% call fieldset({
    "legend": {
      "text": "Reason for withdrawing",
      "classes": "nhsuk-fieldset__legend--s",
      "isPageHeading": false
    }
  }) %}


  {{ select({
    "id": "selectReason",
    "name": "selectReason",
    "classes": "nhs-app-select",
    "label": {
    },
    "items": [
      {
        "value": "",
        "text": "Select reason",
        "selected": true,
        "disabled": true
      },
      {
        "value": "leavingUK",
        "text": "Leaving the UK"
      },
      {
        "value": "religiousGrounds",
        "text": "Religious grounds"
      },
      {
        "value": "error",
        "text": "I registered in error"
      },
      {
        "value": "changedMind",
        "text": "I've changed my mind"
      },
      {
        "value": "familyDisagree",
        "text": "My family do not agree"
      },
      {
        "value": "other",
        "text": "Other"
      }
    ]
  }) }}



  {% endcall %}

  <input type="submit" class="nhsuk-button" value="Continue">
  </input>

</form>







    </div>
  </div>
{% endblock %}
