{% set PROTOTYPEURL = "app/v2" %}
{% set serviceName = "Your preferences" %}
{% set contentTitle = "What is your mobile phone number?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/{{ PROTOTYPEURL }}/letter/reminders/text/get-code-mobile" method="get">
        {{ input({
          "label": {
            "text": contentTitle,
            "isPageHeading": true,
            "classes": "nhsuk-label--xl app-label-xl"
          },
          "hint": {
            "text": "For example, 07700900999"
          },
          "id": "inputMobile",
          "name": "mobile",
          "classes": "nhsuk-input--width-10",
          "type": "number",
          "autocomplete": "off"
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
