{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "You have nominated a pharmacy" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>


      <p>
        Your nominated pharmacy is:
      </p>


      <p class="nhsuk-u-margin-bottom-0">{{ data["pickPharmacy"] or "Echo" }}</p>

      <p class="nhsuk-u-margin-bottom-1">
        <a href="" class="nhsuk-u-margin-bottom-1">{{ data["onlineUrl"] or "www.echo.co.uk" }}</a>
      </p>

          <p>Telephone: {{ data["phoneNumber"] or "03069 990735" }}</p>

          {% if data['inJourney'] == "true" %}

          <form action="/app/prescriptions/v5/confirm-prescription-5" method="get">
            <input type="submit" class="nhsuk-button" value="Continue to your order">
          </form>

          {% else %}

          <h2 class="nhsuk-heading-l">What happens next</h2>



        <p>You may need to register with {{ data["pickPharmacy"] or "Echo" }} separately at <a href="" class="nhsuk-u-margin-bottom-1">{{ data["onlineUrl"] or "www.echo.co.uk" }}</a>.</p>

        <p>Your prescriptions will be sent to {{ data["pickPharmacy"] or "Echo" }}. Once they’ve checked and prepared your prescriptions, {{ data["pickPharmacy"] or "Echo" }} will send them to you in the post.</p>


        {% endif %}


        <p><a href="/app/prescriptions/v7/your-prescriptions-11">Go to your prescriptions</a></p>


    </div>
  </div>
{% endblock %}
