{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "You have nominated a pharmacy" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <p>
        Your nominated pharmacy is:
      </p>


            <p class="nhsuk-u-margin-bottom-0">{{ data["pickPharmacy"] or "Cameolord Pharmacy" }}</p>

            <p class="nhsuk-u-margin-bottom-0">{{ data["address"] or "16 Oxford St" }}</p>

            <p class="nhsuk-u-margin-bottom-0">{{ data["city"] or "Manchester" }}</p>

            <p class="nhsuk-u-margin-bottom-0">{{ data["postcode"] or "M1 5AE" }}</p>


            <p>Telephone: {{ data["phoneNumber"] or "0161 236 1445" }}</p>


            {% if data['inJourney'] == "true" %}

            <form action="/app/prescriptions/v5/confirm-prescription-5" method="get">
              <input type="submit" class="nhsuk-button" value="Continue to your order">
            </form>

            {% else %}
            <h2 class="nhsuk-heading-l">What happens next</h2>

              <p>Your prescriptions will be sent to {{ data["pickPharmacy"] or "Cameolord Pharmacy" }} from now on.</p>

              <p>Collect your prescriptions from {{ data["pickPharmacy"] or "Cameolord Pharmacy" }} when they are ready to collect.</p>
            {% endif %}

            <p><a href="/app/prescriptions/v7/your-prescriptions-11">Go to your prescriptions</a></p>



    </div>
  </div>
{% endblock %}
