{% set PROTOTYPEURL = "app/nominated-pharmacy" %}
{% set serviceName = "NHS App" %}
{% set prescriptionsActive = "active" %}
{% set contentTitle = "Find a high street pharmacy" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}




<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v3/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/prescriptions/v7/your-prescriptions-11">Your repeat prescriptions</a></li>
     </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/v4/type-of-pharmacy">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>




      <form action="/{{ PROTOTYPEURL }}/v4/community-results" method="get">

        {{ input({
          "label": {
            "text": 'Enter a postcode',
            "isPageHeading": false,
            "classes": ""
          },
          "hint": {
            "text": 'For example, M1'
          },
          "autocomplete": "off",
          "id": "inputpharmacyPostcode",
          "name": "pharmacyPostcode",
          "classes": "nhsuk-input--width-10"
        }) }}

        <input type="submit" class="nhsuk-button" value="Search">
        </input>

      </form>

    </div>
  </div>
{% endblock %}
