{% set PROTOTYPEURL = "app/engage" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Who would you like to access services for?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

<div class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-third-party-container">
  <div class="nhsuk-width-container">
    <strong>This service is provided by your GP surgery</strong>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ contentTitle }}</h1>

      <div class="nhsuk-form-group">

        <ul class="list-menu">
          <li>
            <a href="/{{ PROTOTYPEURL}}/terms/v2/engage-medical-111?engageWho=Betty Doyle&engageProxyJourney=">
              Betty Doyle (Self)
            </a>
          </li>
          {% if data["engageProxyDone"] %}
          <li>
            <a href="/{{ PROTOTYPEURL}}/terms/v2/engage-medical-111?engageWho={{ data['engageProxyfirstname']}} {{ data['engageProxyLastname']}}&engageProxyJourney=true">
              {{ data['engageProxyfirstname'] | capitalize }} {{ data['engageProxyLastname'] | capitalize }} {{ "(Carer)" if data['engageProxyRelationship'] == "You are their carer" else "(Parent)" }}
            </a>
          </li>

          {% endif %}
          <li>
            <a href="/{{ PROTOTYPEURL}}/proxy/index?engageProxyReturnURL=v2">
              Add someone else
            </a>
          </li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}

{% block afterContent %}
{% endblock %}
