{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Ask your GP for advice for your child" %}
{% if data['appts'] == 'True' %}
{% set appointmentsActive = "active" %}
{% elif data['advice'] == 'True' %}
{% set symptomsActive = "active" %}
{% endif %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-mobile--hide" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v5" }}'>Home</a></li>
{% if data['appts'] == 'True' %}
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeAppointments"] if data ["routeAppointments"] else "/app/appointments/v8-econsult/pre-hub" }}'>Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/appointments/v8-econsult/GP-hub">Your GP appointments</a></li>
    </ol>

{% else %}
{% if data['experiment'] === 'True' %}
{% if data['advice'] === 'True' %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Advice</a></li>
{% else %}
<li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeSymptoms"] if data ["routeSymptoms"] else "/app/symptoms/v4/index" }}'>Symptoms</a></li>
{% endif %}
{% endif %}
</ol>

{% endif %}
  </div>
</nav>
<div class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-third-party-container nhs-app-third-party-container--grey nhsuk-body-s nhsuk-u-margin-bottom-0">
  <div class="nhsuk-width-container">
    <strong>This service is provided by your GP surgery</strong>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="nhsuk-caption-heading nhsuk-u-margin-bottom-1">Ask your GP for advice for your child</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">Has your child tried anything for this in the past?</h1>

      <form action="" method="post">
        {{ radios({
          "idPrefix": "econsult",
          "name": "econsultTriedAnything",
          "fieldset": {
            "legend": {
              "isPageHeading": false,
              "classes": ""
            }
          },
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>

      </form>









    </div>
  </div>
{% endblock %}
