{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "eConsult" %}
{% set contentTitle = "Ask a health professional for advice about your child" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>

<div class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-third-party-container nhs-app-third-party-container--grey nhsuk-body-s nhsuk-u-margin-bottom-0">
  <div class="nhsuk-width-container">
    <strong>This service is provided by your GP surgery</strong>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
	  <p class="nhsuk-caption-heading">Ask a health professional for advice about your child</p>
      <h1 class="nhsuk-heading-xl nhs-app-xl">Choose your child's symptom or condition</h1>
      <p>If your child has more than 1 symptom, choose the one that's bothering them most today.</p>
      <p>
        <a href="#">I cannot find my child’s condition</a>
      </p>

      <ul class="list-menu">
        <li>
      		<a href="#">
      			Cold or flu
      		</a>
      	</li>

        <li>
      		<a href="/{{ PROTOTYPEURL }}/child/v2/2_emergency">
      			Conjunctivitis
      		</a>
      	</li>



        <li>
      		<a href="#">
      			Diarrhoea
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Earache
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Eczema
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Flu
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Food poisoning
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Gastoenteritis
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Hives
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Impetigo
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Laryngitis
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Rash
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Ringworm
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Sore throat
      		</a>
      	</li>

        <li>
      		<a href="/{{ PROTOTYPEURL }}/child/v2/2_emergency">
      			Sticky eye
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Tonsilitis
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Travel advice
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Urticaria
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Vomiting and diarrhoea
      		</a>
      	</li>

        <li>
      		<a href="#">
      			Warts and verrucae
      		</a>
      	</li>


      </ul>

    </div>
  </div>
{% endblock %}
