{% set PROTOTYPEURL = "app/econsult" %}
{% set serviceName = "Engage" %}
{% set contentTitle = "Get advice from your GP for your child" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Online consultations</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="app-card__heading nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        Get advice from your GP for your child
      </h1>

      {{ warningCallout({
        "heading": "Important",
        "HTML": '<p>This service is provided by an online consultation service provider,
                  eConsult Health Ltd, on behalf of your GP surgery.
                  <span data-v-382c0b35=""><a data-v-382c0b35="" id="online_consultations_help_link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/online-consultations/" target="_blank" rel="noopener noreferrer">
                    Find out more about online consultation services.</a></span></p>'
      }) }}

      <p>It takes around 5 minutes to answer a few questions about your condition.</p>

      <p>To save you typing in personal information the online consultation service needs, you can use the personal information we already hold as described in the <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/privacy/">NHS App privacy policy</a>.</p>

      {{ checkboxes({
        "name": "econsultAutocomplete",
        "hint": {
          "text": "Optional"
        },
        "items": [
          {
            "value": "true",
            "html": '
          Use my name, date of birth, NHS number and postal address with the online consultation service</span>
          '
          }
        ]
      }) }}

      <form action="/{{ PROTOTYPEURL }}/child/v2/data-sharing" method="post">
        <input type="submit" class="nhsuk-button" value="Continue">
      </form>

    </div>
  </div>
{% endblock %}
