{% set PROTOTYPEURL = "app/v3" %}
{% set serviceName = "Home" %}
{% set sender = "NHS App" %}
{% set contentTitle = "Messages from " + sender %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/" + PROTOTYPEURL + "/messages",
  text: "Messages"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-m nhsuk-caption--top">Messages from: </span>
        {{ sender }}
      </h1>
      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <h2 class="nhs-app-chat__header">Welcome to the NHS App</h2>
              <p class="nhs-app-chat__body">This is where you can read messages from NHS services and send messages to your GP practice.</p>
            </div>
            <div class="nhs-app-chat__date">
              4:55PM, 23 May 2019
            </div>
          </li>

          <div class="nhs-app-chat__read-indicator" id="unread">
            <span class="nhs-app-chat__read-indicator-container">Unread message</span>
          </div>

          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <h2 class="nhs-app-chat__header">We've updated our terms and conditions</h2>
              <p class="nhs-app-chat__body">This is some other words about that!</p>
            </div>
            <div class="nhs-app-chat__date">
              4:55PM, 23 August 2019
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
{% endblock %}
