{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "Send a message" %}
{% set messagingActive = "active" %}
{% set contentTitle = "Phone or visit your GP or NHS 111" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle}}
      </h1>

      <p>Messaging is for non-urgent advice. </p>

      <p>For advice now, phone or visit your GP surgery, visit <a href="#">111.nhs.uk</a> or <a href="#">call 111</a>.</p>

      <p>Call 999 in a medical emergency.</p>

      <p class="nhs-app-desktop--show">
        <a href="javascript: window.history.go(-1)">Back</a>
      </p>

    </div>
  </div>
{% endblock %}
