{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "Send a message" %}
{% set contentTitle = "What is your message about?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
// dirty hack to make the menu disappear when a textarea is being used
$("textarea").focus(function(){
  $(".menu").hide();
});

$("textarea").focusout(function(){
  $(".menu").show();
});
</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v4">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v4/select-who">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/app/send-a-message/v4/select-who">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form class="" action="" method="post">

        {{ radios({
          "idPrefix": "subject",
          "name": "subject",
          "fieldset": {
            "legend": {
              "text":contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "Appointment",
              "text": " An appointment"
            },
            {
              "value": "Prescription or medicine",
              "text": "A prescription or medicine"
            },
            {
              "value": "Test result",
              "text": "A test result"
            }
            ,{
              "value": "Referral",
              "text": "A referral"
            }
            ,{
              "value": "Non-medical request or question",
              "text": "Non-medical question or request, like a sick note"
            },
            {
              "value": "Medical question",
              "text": "Medical question"
            }
            ,{
              "value": "Other",
              "text": "Something else"
            }
          ]
        }) }}

        <input class="nhsuk-button" type="submit" value="Continue">
      </form>

    </div>
  </div>
{% endblock %}
