{% set PROTOTYPEURL = "app/send-a-message/v4" %}
{% set serviceName = "Send a message" %}
{% set contentTitle = "Messages are for non-urgent questions or information" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{{ breadcrumb({
  classes: "nhs-app-breadcrumb",
  items: [
    {
      href: "/" + PROTOTYPEURL,
      text: "Home"
    }
  ],
  href: "/app/send-a-message/v4/index",
  text: "Messages"
}) }}
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-m nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle}}
      </h1>

      <p>If you need a reply straight away, phone or visit your GP surgery</p>

      <p>For urgent medical advice, visit <a href="#">111.nhs.uk</a> or <a href="#">call 111</a></p>

      <p>In an emergency call 999</p>

      <form class="" action="select-who" method="get">
        <input class="nhsuk-button" type="submit" value="Send a non-urgent message">
      </form>



    </div>
  </div>
{% endblock %}
