{% set PROTOTYPEURL = "app/login" %}
{% set serviceName = "NHS login" %}
{% set contentTitle = "Enter your password" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
    "transactionalService": {
        "name": "NHS login",
        "longName": "true",
        "href": headerHref
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
  "href": "/app/login/enter-email",
  "text": "Back to: Enter your email"
}) }}

      <h1>
        {{ contentTitle }}
      </h1>

      <p>Enter your password to log in.</p>

      <form action="/app/v8/index" method="post">



      {{ input({
        "label": {
          "text": "Password"
        },
        "id": "example",
        "name": "example",
        "classes": "nhsuk-input--width-20"
      }) }}

      <p><a href="">Forgotten your password?</a></p>

      <input type="submit" class="nhsuk-button" value="Continue">
      </input>
    </form>



    </div>
  </div>
{% endblock %}

{% block footer %}
<div class="">
  {{ footer({
    "classes": "",
    "links": [
      {
        "URL": "#",
        "label": "Terms of use"
      },
      {
        "URL": "#",
        "label": "Cookies"
      },
      {
        "URL": "#",
        "label": "Accessibility"
      }
    ]
  })}}
</div>
{% endblock %}
