{% set PROTOTYPEURL = "app/login" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "NHS App to NHS login prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>
      <h3>v1</h3>
      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/start-with-nhs-login">Sign up from app home screen</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/start-with-nhs-login">Sign in journey for user with the app already (straight to enter your login)</a>
        </li>
      </ul>

      <h3>Mock NHS login pages</h3>

      <ul>
        <li>
          <a href="/{{ PROTOTYPEURL }}/enter-email">Enter email address</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/enter-password">Enter your password</a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/enter-passcode">Check your mobile phone - enter your passcode</a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
