{% set PROTOTYPEURL = "guides" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Prototyping guides" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
      </h1>


        <ul class="app-list--unstyled app-list-cards list-menu">
          <li class="app-list-cards__item">
            <a href="/guides/getting-app-prototype-kit">
              <h3 class="app-list-cards__heading ">Getting the NHS App prototype kit</h3>
              <p>How to get the NHS App prototype kit on your machine</p>
            </a>
          </li>
          <li class="app-list-cards__item">
            <a href="/guides/git-cloning">
              <h3 class="app-list-cards__heading ">Cloning the git repo</h3>
              <p>Cloning the git repo for usability sessions that's separate from the master prototype</p>
            </a>
          </li>
          <li class="app-list-cards__item">
            <a href="/guides/publish-heroku">
              <h3 class="app-list-cards__heading ">Publishing your cloned repo to Heroku</h3>
              <p>Getting a heroku link set up to give to users for testing</p>
            </a>
          </li>
          <li class="app-list-cards__item">
            <a href="/guides/updating-clone">
              <h3 class="app-list-cards__heading ">Pushing code to your cloned Heroku</h3>
              <p>How to update your clone</p>
            </a>
          </li>
          <li class="app-list-cards__item">
            <a href="/guides/setting-up-new-repo">
              <h3 class="app-list-cards__heading ">Setting up a new repo</h3>
              <p>How to set up a new repository on GitHub</p>
            </a>
          </li>
        </ul>

    </div>
  </div>
{% endblock %}
