{% set PROTOTYPEURL = "guides" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Pushing code to your cloned heroku" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
  "href": "/guides/index",
  "text": "Go back"
}) }}

      <h1>
        {{ contentTitle }}
      </h1>

      <h2>1. Push your code from the master repo (<code>contact-preference</code>) so it's up to date</h2>

      <p>Commit and push your code using the git tab in your text editor.</p>



      <h2>2. Go to or open your cloned repo and pull the latest code</h2>

      <p>If you named your clone <code>remote-lab</code> for example, open this folder in your text editor.</p>

      <p>Fetch and then pull the new code from the master repo.</p>

      <p>Do not use the git tab to push the changes! We'll use the terminal to do this to push only to Heroku.</p>


      <h2>3. Make sure you're in the right folder</h2>

      <p>If you named your clone <code>remote-lab</code> for example, use the terminal to navigate to that folder. To do this, run:</p>

      <pre class="app-pre"><code class="app-code">cd remote-lab</code></pre>


      <h2>4. Push the code to Heroku</h2>

      <p>Run this command:</p>

      <pre class="app-pre"><code class="app-code">git push heroku</code></pre>

      <p>This might take a few minutes to build.</p>



      <h2>5. Check it's working</h2>

      <p>Run this command:</p>

      <pre class="app-pre"><code class="app-code">heroku open</code></pre>




    </div>
  </div>
{% endblock %}
