{% set PROTOTYPEURL = "app/start-screen" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Start screen prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span class="nhsuk-caption-l nhsuk-caption--top"> {{ serviceName }}</span>
        {{ contentTitle }}
      </h1>

      <h2>Current prototypes</h2>
      <p>
        <a href="/{{ PROTOTYPEURL }}/splash">Splash screen</a>
      </p>
      <p>
        <a href="/{{ PROTOTYPEURL }}/start-screen-new">New start screen for all users</a>
      </p>
      <p>
        <a href="/app/symptoms/v4/index-not-logged-in">Advice screen for users who are not logged in</a>
      </p>

      <h2>Design exploration</h2>
      <p>
        <a href="/{{ PROTOTYPEURL }}/onboarding">Onboarding</a>
      </p>
      <p>
        <a href="/{{ PROTOTYPEURL }}/existingUser">Existing users</a>
      </p>




    </div>
  </div>
{% endblock %}
