{% set PROTOTYPEURL = "examples" %}
{% set serviceName = "Secondary uses of data" %}
{% set contentTitle = "Example interruption card" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="app-interruption">
        <div class="app-interruption__wrapper">
          <div class="app-interruption__content">
            <h1 class="app-card__heading nhsuk-heading-l">{{ contentTitle }}</h1>
            <p>
              We'll need your:
            </p>
            <ul>
              <li>name</li>
              <li>date of birth</li>
              <li>postcode or NHS number</li>
            </ul>
            <p>
              We'll use these details to find your contact details from your health records so we can send you a security code.
            </p>
            <form action="#" method="get">
              <input type="submit" class="nhsuk-button nhsuk-button--reverse" value="Continue">
            </form>
          </div>
        </div>
      </div>

      {{ backLink({
        "href": "../index",
        "text": "Back to list"
      }) }}

    </div>
  </div>
{% endblock %}
