{% set PROTOTYPEURL = "" %}
{% set serviceName = "Contact preferences" %}
{% set contentTitle = "Prototypes" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-transactional.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ contentTitle }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom"> {{ serviceName }}</span>
      </h1>

      <button onclick="install()">
        Install
      </button>

      <form action="/app/start" method="get">
        <input type="submit" class="nhsuk-button" value="Start prototype">
        </input>
      </form>


      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="/set-a-preference/index">
            <h2 class="app-list-cards__heading nhsuk-heading-m">Set a preference</h2>
            <p>Exploring how we could ask people if they had a preference</p>
          </a>
        </li>
        <li class="app-list-cards__item">
          <a href="/app/start">
            <h2 class="app-list-cards__heading nhsuk-heading-m">NHS app exploration</h2>
            <p>Exploring how we could ask people if they had a preference in the NHS app</p>
          </a>
        </li>
        <li class="app-list-cards__item">
          <a href="/examples/index">
            <h2 class="app-list-cards__heading nhsuk-heading-m">Example components</h2>
            <p>Ready made examples to copy</p>
          </a>
        </li>
      </ul>


    </div>
  </div>
{% endblock %}
