{% set PROTOTYPEURL = "app/covid-status/status-service-v4" %}
{% set serviceName = "NHS App" %}
{% set recordActive = "active" %}
{% set contentTitle = "Mrs Betty Doyle" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
<script>
$("#dose2").click(function(){
 $(".dosediv2").toggleClass("show");
 $(".card-with-chevron-down-expanded").toggleClass("rotate");
});


$("#dose1").click(function(){
 $(".dosediv1").toggleClass("show");
 $(".card-with-chevron-down-expanded-2").toggleClass("rotate");
});


$("#showEmail").click(function(){
 $(".email").toggleClass("show");
 $(".card-with-chevron-down-expanded").toggleClass("rotate");
});

</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new-covid-status.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


            <div class="nhsuk-back-link">
              <a class="nhsuk-back-link__link" href="javascript: window.history.go(-1)">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back</a>
            </div>

      <h1 class="nhs-app-xl nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ contentTitle }}</h1>

      <p>Date of birth: 20 September 1982</p>

      <p class="covid-qr-expire nhsuk-u-margin-bottom-0">Your NHS COVID Pass expires</p>
      <strong><p class="covid-qr-expire nhsuk-body-l covid-expire-date">19 August 2021 5.30pm</p></strong>


      <div class="covid-qr-image">
      <img src="/images/qrcode-white.png" alt="Image of a QR code" width="250" height="250">
    </div>

    <div class="green-bg nhsuk-u-margin-bottom-4">
      <svg class="covid-status-tick-v4" width="26px" height="26px" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="icon-tick">
            <circle id="Oval" fill="#FFFFFF" cx="13" cy="13" r="13"></circle>
            <polyline id="Path" stroke="#007F3B" stroke-width="4" stroke-linecap="round" points="19.8 9 11.3 17.4 7 13.2"></polyline>
          </g>
        </g>
      </svg>
      <span class="nobr">Valid in England</span>
    </div>



    <div class="nhsuk-u-margin-bottom-4 covid-qr-image">
    <img src="/images/apple-wallet.svg.png" alt="Add to apple wallet" width="50%" height="50%">
  </div>

  <div class="nhsuk-card nhsuk-u-margin-bottom-2">
    <div class="nhsuk-card__content_less-padding">
      <a class="covid-link download-link--netco" href="/{{ PROTOTYPEURL }}/qr-code-domestic">
        <svg class="covid-status-icons" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>file_download_blue</title>
          <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="file_download_blue">
              <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
              <path d="M19,9 L15,9 L15,3 L9,3 L9,9 L5,9 L12,16 L19,9 Z M5,18 L5,20 L19,20 L19,18 L5,18 Z" id="Shape" fill="#005EB8" fill-rule="nonzero"></path>
            </g>
          </g>
        </svg>
        Download PDF copy</h3>
      </a>
    </div>
  </div>

<div class="nhsuk-card nhsuk-u-margin-bottom-2">
<div class="nhsuk-card__content_less-padding">

  <a id="showEmail" class="covid-link card-with-chevron-down-expanded card-with-chevron-down-expanded--netco" href="javascript:void(0);" style="text-decoration: none;">
    <svg class="covid-status-icons" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>email-icon</title>
      <g id="Colour-scheme" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="mail_blue">
          <polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
          <path d="M20,4 L4,4 C2.9,4 2.01,4.9 2.01,6 L2,18 C2,19.1 2.9,20 4,20 L20,20 C21.1,20 22,19.1 22,18 L22,6 C22,4.9 21.1,4 20,4 Z M20,8 L12,13 L4,8 L4,6 L12,11 L20,6 L20,8 Z" id="Shape" fill="#005EB8" fill-rule="nonzero"></path>
        </g>
      </g>
    </svg>
    Receive a copy by email
  </a>

  <div class="email nhsuk-u-margin-top-4">
    <div class="nhsuk-card__description covid-card__description">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label covid-label" for="input-width-20">
          Please confirm your email address:
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
      </div>
      <button class="nhsuk-button nhsuk-u-margin-bottom-1" type="submit">
        Confirm and send email
      </button>
    </div>
  </div>

</div>
</div>

{% if data['p5_status'] === 'False' %}

<div class="nhsuk-card nhsuk-u-margin-bottom-6">
<div class="nhsuk-card__content_less-padding">

  <a id="showEmail" class="covid-link card-with-chevron-right" href="records" style="text-decoration: none; font-weight: bold;">
    <svg style="margin-bottom: -6px;" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#005EB8">
      <g fill="none"><path d="M0 0h24v24H0V0z"/><path d="M0 0h24v24H0V0z" opacity=".87"/></g>
      <path d="M3 13h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7zm-4 6h2v-2H3v2zm0 4h2v-2H3v2zm0-8h2V7H3v2zm4 4h14v-2H7v2zm0 4h14v-2H7v2zM7 7v2h14V7H7z"/>
    </svg>

    View COVID-19 records
  </a>



</div>
</div>



{% endif %}















    </div>
  </div>
{% endblock %}
