{% set PROTOTYPEURL = "app/messaging/v3" %}
{% set serviceName = "Home" %}
{% set sender = "NHS App" %}
{% set contentTitle = "Messages from:" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
<script type="text/javascript">


$( document ).ready(function() {
  jQuery.post( "/app/password", { messageRead2{{data['id']}}: "read" } );
  });

  $( document ).ready(function() {
    jQuery.post( "/app/password", { messageRead3{{data['id']}}: "read" } );
    });

    $( document ).ready(function() {
      jQuery.post( "/app/password", { messageRead1{{data['id']}}: "read" } );
      });

      $( document ).ready(function() {
        jQuery.post( "/app/password", { messageRead6{{data['id']}}: "read" } );
        });

        $( document ).ready(function() {
          jQuery.post( "/app/password", { messageRead7{{data['id']}}: "read" } );
          });

          $( document ).ready(function() {
            jQuery.post( "/app/password", { messageRead8{{data['id']}}: "read" } );
            });

</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/messages">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-m nhsuk-caption--top">  {{ contentTitle }} </span>

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ sender }}
    </h1>



      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          <li class="nhs-app-chat__item-full-width">
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Welcome to the NHS App</p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 13 September 2020 at 10:17am
            </div>
          </li>
        </ul>
      </div>



    <!--   <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread" id="unread2">
          {% if data['messageRead1'] === "read" %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Have you had coronavirus (COVID-19)?</p>
              <p class="nhs-app-chat__body">The NHS urgently needs plasma donations for trials. It could save lives and be an important treatment during a second wave of infection.</p>
              <p class="nhs-app-chat__body">We especially need men to donate. This includes men who have had coronavirus symptoms but no test.</p>
              <p class="nhs-app-chat__body">To find out more about donating plasma and how to help, go to <a href="https://www.nhsbt.nhs.uk/who-can-donate-plasma/">www.nhsbt.nhs.uk/who-can-donate-plasma/</a>.</p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 7:12am, 7 October 2020
            </div>
          </li>

          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread2">
            <span class="nhs-app-chat__read-indicator-container"><b>Unread message</b></span>
          </div>
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender-unread">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Have you had coronavirus (COVID-19)?</p>
              <p class="nhs-app-chat__body">The NHS urgently needs plasma donations for trials. It could save lives and be an important treatment during a second wave of infection.</p>
              <p class="nhs-app-chat__body">We especially need men to donate. This includes men who have had coronavirus symptoms but no test.</p>
              <p class="nhs-app-chat__body">To find out more about donating plasma and how to help, go to <a href="https://www.nhsbt.nhs.uk/who-can-donate-plasma/">www.nhsbt.nhs.uk/who-can-donate-plasma/</a>.</p>
             </div>
            <div class="nhs-app-chat__date">
              Sent 7:12am, 7 October 2020
            </div>
          </li>
          {% endif %}-->

          {% if data['pNotification'] == 'True' %}


                <div class="nhs-app-chat">
                  <ul class="nhs-app-chat__thread" id="unread8">
                    {% if data['messageRead8'] === "read" %}
                    <li class="nhs-app-chat__item-full-width">
                      <div class="nhs-app-chat__container">
                        <p class="nhs-app-chat__body">You do not have an email address on your GP record. To add an email address to your GP record visit:
                          <a class="nhs-app-chat__body" href="/app/contact-details/v2/which-email">https://www.nhsapp.service.nhs.uk&#8203;/patient/more/manage-account/update-contact-details</a></p>
                      </div>
                      <div class="nhs-app-chat__date">
                        Sent 4 August 2021 at 10:12am
                      </div>
                    </li>

                    {% else %}
                    <div class="nhs-app-chat__read-indicator" id="unread8">
                      <span class="nhs-app-chat__read-indicator-container nhs-app-chat__read-indicator-container-grey"><b>Unread messages</b></span>
                    </div>
                    <li class="nhs-app-chat__item-full-width">
                      <div class="nhs-app-chat__container">
                        <p class="nhs-app-chat__body">You do not have an email address on your GP record. To add an email address to your GP record visit:
                          <a class="nhs-app-chat__body" href="/app/contact-details/v2/which-email">https://www.nhsapp.service.nhs.uk&#8203;/patient/more/manage-account/update-contact-details</a></p>
                       </div>
                      <div class="nhs-app-chat__date">
                        Sent 4 August 2021 at 10:12am
                      </div>
                    </li>
                    {% endif %}

                    {% else %}
                    {% endif %}


        <!--   {% if (data['prescriptionConfirmedAcute'] === "True") and (data['acuteMessage'] ==='True') %}
          {% if data['messageRead7'] === "read" %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Your prescription request has been sent to your GP surgery.</p><br>
              <b class="nhs-app-chat__body">What happens next?</b><br>
              <p class="nhs-app-chat__body">Your request can take 2 to 3 working days to be approved.</p>
              <p class="nhs-app-chat__body">Your GP surgery may contact you about your request or ask you to make an appointment.</p><br>
              <b class="nhs-app-chat__body">Collecting your prescription</b><br>
              {% if data["pickPharmacy"] %}
              <p class="nhs-app-chat__body">Once your request is approved it will be sent to <a href="/app/nominated-pharmacy/v4/your-nominated-pharmacy-acute">your nominated pharmacy</a> to collect.</p>
              {% else %}
              <p class="nhs-app-chat__body">Once your request is approved, you can collect your prescription from your GP surgery.</p>
              {% endif %}
              <p class="nhs-app-chat__body">Find out more about <a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/nhs-app-help-and-support/repeat-prescriptions/">collecting your prescription</a>.</p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 9:12am, 10 March 2021
            </div>
          </li>

          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread6">
            <span class="nhs-app-chat__read-indicator-container"><b>Unread message</b></span>
          </div>
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender-unread">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Your prescription request has been sent to your GP surgery.</p><br>
              <b class="nhs-app-chat__body">What happens next?</b><br>
              <p class="nhs-app-chat__body">Your request can take 2 to 3 working days to be approved.</p>
              <p class="nhs-app-chat__body">Your GP surgery may contact you about your request or ask you to make an appointment.</p><br>
              <b class="nhs-app-chat__body">Collecting your prescription</b><br>
              {% if data["pickPharmacy"] %}
              <p class="nhs-app-chat__body">Once your request is approved it will be sent to <a href="/app/nominated-pharmacy/v4/your-nominated-pharmacy-acute">your nominated pharmacy</a> to collect.</p>
              {% else %}
              <p class="nhs-app-chat__body">Once your request is approved, you can collect your prescription from your GP surgery.</p>
              {% endif %}
              <p class="nhs-app-chat__body">Find out more about <a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/nhs-app-help-and-support/repeat-prescriptions/">collecting your prescription</a>.</p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 9:12am, 10 March 2021
            </div>
          </li>
          {% endif %}

          {% endif %}


          {% if data['messageHide'] === "True" %}
          {% else %}
          {% if data['messageRead6'] === "read" %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">You can now add calendar reminders to your device for repeat prescriptions.</p>
              <a class="nhs-app-chat__body" href="/app/prescriptions/v8-acute-tpp/manage-gp-prescriptions"> https://www.nhsapp.service.nhs<br>.uk/prescriptions/manage-gp-prescriptions</a>
                </div>
            <div class="nhs-app-chat__date">
              Sent 9:12am, 3 December 2020
            </div>
          </li>

          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread6">
            <span class="nhs-app-chat__read-indicator-container"><b>Unread message</b></span>
          </div>
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender-unread">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">You can now add calendar reminders to your device for repeat prescriptions.</p>
              <a class="nhs-app-chat__body" href="/app/prescriptions/v8-acute-tpp/manage-gp-prescriptions"> https://www.nhsapp.service.nhs<br>.uk/prescriptions/manage-gp-prescriptions</a>
            </div>
            <div class="nhs-app-chat__date">
              Sent 9:12am, 3 December 2020
            </div>
          </li>
          {% endif %}
          {% endif %}
          </ul>
      </div>


      {% if data['pNotification'] == 'True' %}


      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          {% if data['messageRead3'] === "read" %}
          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread3">
            <span class="nhs-app-chat__read-indicator-container">Unread message</span>
          </div>
          {% endif %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">You can now get advice from your GP for your child.</p>
              <p class="nhs-app-chat__body">Answer questions online about your child’s symptoms or condition and get a response from your GP surgery.</p>
              <p class="nhs-app-chat__body">Find out more about getting advice for your child: <a class="message-break_link nhs-app-chat__body" href="/app/econsult/adult/terms/start?messageRead3=read">https://www.nhsapp.service.nhs.uk/appointments/gp-advice</a></p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 9:14am, 18 August 2020
            </div>
          </li>
        </ul>
      </div>

      {% endif %}-->




    </div>
  </div>
{% endblock %}
