{% set PROTOTYPEURL = "app/messaging/v3" %}
{% set serviceName = "Home" %}
{% set sender = "NHS App" %}
{% set contentTitle = "Health information and updates" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
<script type="text/javascript">


$( document ).ready(function() {
    jQuery.post( "/app/password", { messageReadApp: "read" } );
  });

  $( document ).ready(function() {
      jQuery.post( "/app/password", { messageReadeconsult: "read" } );
    });


</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/messages">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <h2 class="nhsuk-heading-l">
        <span class="nhsuk-caption-m nhsuk-caption--top">Messages from: </span>
        {{ sender }}
      </h2>


      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">Welcome to the NHS App</p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 10:17am, 13 August 2020
            </div>
          </li>
        </ul>
      </div>



      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          {% if data['messageReadApp'] === "read" %}
          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread">
            <span class="nhs-app-chat__read-indicator-container">Unread message</span>
          </div>
          {% endif %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">You can get notifications from the NHS App on your device.</p>
              <p class="nhs-app-chat__body">Notifications may include information about new features and important health information updates, such as coronavirus updates.</p>
              <p class="nhs-app-chat__body">Go to your settings to turn on notifications:</p>
              <a class="message-break_link nhs-app-chat__body" href="/app/settings/v3/notifications">https://www.nhsapp.service.nhs.uk/account/notifications/</a>
            </div>
            <div class="nhs-app-chat__date">
              Sent 7:12am, 18 August 2020
            </div>
          </li>
        </ul>
      </div>




      {% if data['pNotification'] == 'True' %}


      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          {% if data['messageReadeconsult'] === "read" %}
          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread">
            <span class="nhs-app-chat__read-indicator-container">Unread message</span>
          </div>
          {% endif %}
          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body">You can now get advice from your GP for your child.</p>
              <p class="nhs-app-chat__body">Answer questions online about your child’s symptoms or condition and get a response from your GP surgery.</p>
              <p class="nhs-app-chat__body">Find out more about getting advice for your child: <a class="message-break_link nhs-app-chat__body" href="/app/econsult/adult/terms/start?messageRead3=read">https://www.nhsapp.service.nhs.uk/appointments/gp-advice</a></p>
            </div>
            <div class="nhs-app-chat__date">
              Sent 9:14am, 18 August 2020
            </div>
          </li>
        </ul>
      </div>

      {% endif %}




    </div>
  </div>
{% endblock %}
