{% set PROTOTYPEURL = "app/messaging" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Messages" %}
{% set messagingActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ contentTitle }}</h1>

      <ul class="list-menu">
        <li>
          <a href="/app/send-a-message/v4/index?pkbim=true">
            <h2 class="nhsuk-heading-s">GP messages</h2>
            <p>View messages sent to and from your GP surgery</p>
          </a>
        </li>

        <li>
          <a href="#">
            <h2 class="nhsuk-heading-s">Messages and online consultations</h2>
            <p>Message your healthcare team, or answer questions online and get a response from a health professional</p>
          </a>
        </li>

        <li>
          <a href="messages">
            <h2 class="nhsuk-heading-s">Health information and updates</h2>
            <p>View messages from NHS services </p>
          </a>
        </li>

      </ul>

  </div>
</div>
{% endblock %}
