{% set PROTOTYPEURL = "app/messaging" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "Messages" %}
{% set messagingActive = "active" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb nhs-app-desktop--show" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href='{{ data["routeHome"] if data ["routeHome"] else "/app/v8" }}'>Home</a></li>
    </ol>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>

      <ul class="list-menu nhs-app-message-hub">


        {% if data['Covid_Status'] === "True" %}
        {% else %}

        {% if data['SJR_IM1_Messaging'] === "False" %}

        {% else %}
        <li>
          <a href="/app/send-a-message/v5/index?pkbim=true">
            <h2 class="nhsuk-heading-s">GP surgery messages</h2>
            {% if data['messageRead4'] === "unread" %}
            <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
                <span class="nhs-app-message__meta panel-link">
                  <span class="nhsuk-u-visually-hidden">You have </span>
                  <span class="nhs-app-message__count"></span>
                  <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                    unread messages
                  </span>
                </span>
                </p>
            {% endif %}

            <p>
              Send or view messages from your GP surgery

            </p>
          </a>
        </li>
        {% endif %}
        {% endif %}


        {% if data['SJR_Engage'] === "True" %}
        <li>
          <a href="/app/engage/messaging/v2/terms-messages">
            <h2 class="nhsuk-heading-s">Online consultations</h2>
            <p>View your online consultations and any responses from your GP surgery</p>
          </a>
        </li>

        {% endif %}



        {% if data['SJR_PKB'] === "True" %}
        <li>
          <a href="/app/PKB/terms-messages">
            <h2 class="nhsuk-heading-s">Messages and consultations with a doctor or health professional</h2>
            <p>Send or view messages and online consultations with a doctor or health professional</p>
          </a>
        </li>
        {% endif %}


        {% if data['SJR_Substrakt'] === "True" %}
        <li>
          <a href="/app/appointments/v10-substrakt/terms-question">
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">Ask your GP surgery a question</h2>
            <p>Fill out a form to send a request, get advice or ask a question</p>
          </a>
        </li>
        {% endif %}



        <li>
          <a href="/app/messaging/v3/messages">
            <h2 class="nhsuk-heading-s">Health information and updates</h2>
            {% if (data['messageRead8'] == "unread") %}
                <span class="nhs-app-message__meta panel-link">
                  <span class="nhsuk-u-visually-hidden">You have </span>
                  <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                    unread messages from NHS App
                  </span>
                </span>

                <span class="nhs-app-message__count-red-live"></span>

            {% endif %}

            <p>View messages from health services and the NHS App</p>
          </a>
        </li>

      </ul>

  </div>
</div>
{% endblock %}
