{% set PROTOTYPEURL = "app/messaging" %}
{% set serviceName = "Home" %}
{% set contentTitle = "Health information and updates" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v3/index">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">{{ contentTitle }}</h1>

      <div class="nhs-app-panel-heading">
        <h2 class="nhsuk-heading-m">Your messages</h2>
      </div>
      <ul class="list-menu nhs-app-message">


                <li class="nhs-app-message__item nhs-app-message__item--unread">
                  <a class="nhs-app-message__link" href="message-pkb">
                    <h2 class="nhsuk-heading-xs">
                      <span class="nhsuk-u-visually-hidden">Messages from:</span>
                      Patients Know Best
                      <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                      <span class="nhs-app-message__date nhs-app-message__date--unread">Yesterday</span>
                    </h2>

                    <p class="nhs-app-message__subject-line">
                      <span class="nhs-app-message__meta panel-link">
                        <span class="nhsuk-u-visually-hidden">You have </span>
                        <span class="nhs-app-message__count">1</span>
                        <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                          unread messages from Patients Know Best
                        </span>
                      </span>
                      <span class="nhsuk-u-visually-hidden">Latest message subject: </span>
                      You can now use Patients Know Best with the NHS App
                    </p>


                                  <p class="nhs-app-message__subject-link">
                                    View full message
                                  </p>
                  </a>
                </li>







        <li class="nhs-app-message__item nhs-app-message__item--read">
          <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/message-with-two-messages">
            <h2 class="nhsuk-heading-xs">
              <span class="nhsuk-u-visually-hidden">Messages from:</span>
              NHS App
              <span class="nhsuk-u-visually-hidden">The last message was sent </span>
              <span class="nhs-app-message__date">Thursday</span>
            </h2>
            <p class="nhs-app-message__subject-line">
              <span class="nhsuk-u-visually-hidden">Latest message sent: </span>
              We've updated our terms and conditions
            </p>
            <p class="nhs-app-message__subject-link">
              View full message
            </p>
          </a>
        </li>



      </ul>

  </div>
{% endblock %}
