{% set PROTOTYPEURL = "app/messaging" %}
{% set serviceName = "Home" %}
{% set contentTitle = "Health information and updates" %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v3/index">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/v3/index">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhs-app-xl">{{ contentTitle }}</h1>


          <div class="nhs-app-panel-heading">
            <h2 class="nhsuk-heading-m">Your messages</h2>
          </div>
          <ul class="list-menu nhs-app-message">



            {% if data['messageRead1'] == "unread" %}

            <li class="nhs-app-message__item nhs-app-message__item--unread">
              <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread#unread3">
                <h2 class="nhsuk-heading-xs">
                  <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                  NHS App
                  <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                  <span class="nhs-app-message__date nhs-app-message__date--unread">18/08/2020</span>
                </h2>
                <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
                  <span class="nhsuk-u-visually-hidden">Subject: </span>
                  Plasma
                <span class="nhs-app-message__meta panel-link_thin">
                  <span class="nhsuk-u-visually-hidden">You have </span>
                  <span class="nhs-app-message__count">1</span>
                  <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                    unread messages from NHS App
                  </span>
                </span>
              </p>
              </a>
            </li>

            {% endif %}

            {% if data['messageRead1'] == "read" %}


                    <li class="nhs-app-message__item nhs-app-message__item--read">
                      <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread">
                        <h2 class="nhsuk-heading-xs">
                          <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                          NHS App
                          <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                          <span class="nhs-app-message__date nhs-app-message__date--read">18/08/2020</span>
                        </h2>
                        <p class="nhs-app-message__subject-line nhs-app-message__subject-line">
                          <span class="nhsuk-u-visually-hidden">Subject: </span>
                           Plasma
                      </p>
                      </a>
                    </li>


                    {% endif %}




        {% if data['pNotification'] == 'True' %}


        {% if data['messageRead3'] == "unread" %}

        <li class="nhs-app-message__item nhs-app-message__item--unread">
          <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread#unread3">
            <h2 class="nhsuk-heading-xs">
              <span class="nhsuk-u-visually-hidden">Conversation with:</span>
              NHS App
              <span class="nhsuk-u-visually-hidden">The last message was sent </span>
              <span class="nhs-app-message__date nhs-app-message__date--unread">18/08/2020</span>
            </h2>
            <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
              <span class="nhsuk-u-visually-hidden">Subject: </span>
              You can now get advice from your GP for your child
            <span class="nhs-app-message__meta panel-link_thin">
              <span class="nhsuk-u-visually-hidden">You have </span>
              <span class="nhs-app-message__count">1</span>
              <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                unread messages from NHS App
              </span>
            </span>
          </p>
          </a>
        </li>

        {% endif %}

        {% if data['messageRead3'] == "read" %}


                <li class="nhs-app-message__item nhs-app-message__item--read">
                  <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread">
                    <h2 class="nhsuk-heading-xs">
                      <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                      NHS App
                      <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                      <span class="nhs-app-message__date nhs-app-message__date--read">18/08/2020</span>
                    </h2>
                    <p class="nhs-app-message__subject-line nhs-app-message__subject-line">
                      <span class="nhsuk-u-visually-hidden">Subject: </span>
                       You can now get advice from your GP for your child
                  </p>
                  </a>
                </li>


                {% endif %}
                {% endif %}



        {% if data['pNotification'] == 'True' %}
        {% else %}
        {% if data['messageRead2'] == "unread" %}

        <li class="nhs-app-message__item nhs-app-message__item--unread">
          <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread#unread2">
            <h2 class="nhsuk-heading-xs">
              <span class="nhsuk-u-visually-hidden">Conversation with:</span>
              NHS App
              <span class="nhsuk-u-visually-hidden">The last message was sent </span>
              <span class="nhs-app-message__date nhs-app-message__date--unread">18/08/2020</span>
            </h2>
            <p class="nhs-app-message__subject-line nhs-app-message__subject-line--bold">
              <span class="nhsuk-u-visually-hidden">Subject: </span>
              You can get notifications from the NHS App on your device.
            <span class="nhs-app-message__meta panel-link_thin">
              <span class="nhsuk-u-visually-hidden">You have </span>
              <span class="nhs-app-message__count">1</span>
              <span class="nhs-app-message__unread nhsuk-u-visually-hidden">
                unread messages from NHS App
              </span>
            </span>
          </p>
          </a>
        </li>

        {% endif %}
        {% endif %}

        {% if data['pNotification'] == 'True' %}
        {% else %}
        {% if data['messageRead2'] == "read" %}


                <li class="nhs-app-message__item nhs-app-message__item--read">
                  <a class="nhs-app-message__link" href="/{{ PROTOTYPEURL }}/v3/app-message-thread">
                    <h2 class="nhsuk-heading-xs">
                      <span class="nhsuk-u-visually-hidden">Conversation with:</span>
                      NHS App
                      <span class="nhsuk-u-visually-hidden">The last message was sent </span>
                      <span class="nhs-app-message__date nhs-app-message__date--read">18/08/2020</span>
                    </h2>
                    <p class="nhs-app-message__subject-line nhs-app-message__subject-line">
                      <span class="nhsuk-u-visually-hidden">Subject: </span>
                      You can get notifications from the NHS App on your device.
                  </p>
                  </a>
                </li>


                {% endif %}
                {% endif %}








      </ul>

  </div>
{% endblock %}
