{% set PROTOTYPEURL = "app/messaging" %}
{% set serviceName = "Home" %}
{% set sender = "Patients Know Best" %}
{% set contentTitle = "Messages from " + sender %}
{% set title = contentTitle + " - " + serviceName %}
{% set messagingActive = "active" %}
{% block pageScripts %}
<script type="text/javascript">


$( document ).ready(function() {
    jQuery.post( "/app/password", { messageReadPKB: "read" } );
  });


</script>
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/v5">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/v3/index">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/{{ PROTOTYPEURL }}/v3/messages">Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-m nhsuk-caption--top">Messages from: </span>
        {{ sender }}
      </h1>
      <div class="nhs-app-chat">
        <ul class="nhs-app-chat__thread">
          {% if data['messageReadPKB'] === "read" %}
          {% else %}
          <div class="nhs-app-chat__read-indicator" id="unread">
            <span class="nhs-app-chat__read-indicator-container">Unread message</span>
          </div>
          {% endif %}

          <li class="nhs-app-chat__item">
            <div class="nhs-app-chat__sender">
              {{ sender }}
            </div>
            <div class="nhs-app-chat__container">
              <p class="nhs-app-chat__body nhsuk-u-padding-bottom-2">You can now use Patients Know Best in the NHS App.</p>
              <p class="nhs-app-chat__body">With Patients Know Best you can:</p>
                <ul>
                  <li>view your hospital and other healthcare appointments</li>
                  <li>view useful links your doctor or health professional has shared with you</li>
                </ul>
            </div>
            <div class="nhs-app-chat__date">
              Sent today at 11.53am
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
{% endblock %}
