{% set PROTOTYPEURL = "app/appointments/v6" %}
{% set serviceName = "NHS App" %}
{% set contentTitle = "GP appointments unavailable" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      <h1 class="nhsuk-heading-xl nhs-app-xl">
        {{ contentTitle }}
      </h1>

      <p>You are not currently able to book or view GP appointments with the NHS App.</p>

      <p>Contact your GP service for more information. For urgent medical advice, visit <a href="https://111.nhs.uk/">111.nhs.uk</a> or call 111.</p>

      <h2 class="nhsuk-heading-l nhs-app-l">If you think you might have coronavirus</h2>

      <p>Stay at home and avoid close contact with other people.</p>

      <p><a href="https://111.nhs.uk/PWCorona/35fa201f-99cb-4327-b2a5-fda8fb673bf6/COVID-19/about">Use the 111 coronavirus service to see if you need medical help</a>.</p>



    </div>
  </div>
{% endblock %}
