{% set PROTOTYPEURL = "app/send-a-message/v5" %}
{% set serviceName = "Send a message" %}
{% set messagingActive = "active" %}
{% set contentTitle = "Phone or visit your GP or NHS 111" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/app/send-a-message/v3">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/{{ PROTOTYPEURL }}/">Messages</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="javascript: window.history.go(-1)">Back</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        {{ contentTitle}}
      </h1>

      <p>Messaging is for non-urgent advice. </p>

      <p>For advice now, phone or visit your GP surgery, visit <a href="#">111.nhs.uk</a> or <a href="#">call 111</a>.</p>

      <div class="nhsuk-care-card nhsuk-care-card--urgent">
        <div class="nhsuk-care-card__heading-container">
          <h3 class="nhsuk-care-card__heading"><span role="text"><span class="nhsuk-u-visually-hidden">Urgent advice: </span>Call 999 now if you have:</span></h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>
        <div class="nhsuk-care-card__content">
          <ul>
            <li><strong>signs of a heart attack</strong> - pain like a very tight band, heavy weight or squeezing in the centre of your chest</li>
            <li><strong>signs of a stroke</strong> - face drooping on one side, cannot hold both arms up, difficulty speaking</li>
            <li><strong>severe difficulty breathing</strong> - gasping, not being able to get words out, choking or lips turning blue</li>
            <li><strong>heavy bleeding</strong> - that will not stop</li>
            <li><strong>severe injuries</strong> - or deep cuts after a serious accident</li>
            <li><strong>seizure (fit)</strong> - someone is shaking or jerking because of a fit, or is unconscious (cannot be woken up)</li>
          </ul>
        </div>
      </div>

      <p class="nhs-app-desktop--show">
        <a href="javascript: window.history.go(-1)">Back</a>
      </p>

    </div>
  </div>
{% endblock %}
