{% set PROTOTYPEURL = "app/appointments/v5" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Is there a specific member of staff you’d like to see?" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set showAppointmentType %}
{% if data["appointmentType"] == "Telephone appointment" %}
  {{ data["appointmentType"] }} <br> Telephone
{% elif data["appointmentType"] %}
  {{ data["appointmentType"] }} <br> Face to face
{% else %}
  General appointment in person <br> Face to face
{% endif %}
{% endset %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/{{ PROTOTYPEURL}}/radio-practice-member-answer" method="post">

        {{ radios({
          "idPrefix": "appointmentChoiceStaff",
          "name": "appointmentChoiceStaff",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-fieldset__legend--l"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes, I want to see appointments available with a specific member of staff"
            },
            {
              "value": "no",
              "text": "No, I want to see all available appointments"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

    </div>
  </div>
{% endblock %}
