{% set PROTOTYPEURL = "app/appointments/v5" %}
{% set serviceName = "NHS App" %}
{% set appointmentsActive = "active" %}
{% set contentTitle = "Choose an appointment" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}

{% set showAppointmentType %}
{% if data["appointmentType"] == "Same Day AM" %}
  {{ data["appointmentType"] }}
{% elif data["browseAppointments"] == "true" %}
  All
{% elif data["appointmentType"] %}
  {{ data["appointmentType"] }}
{% else %}
  All
{% endif %}
{% endset %}

{% if data['appointmentMember']  %}
  {% set practiceStaff %}
    {{ data["appointmentMember"] }}
  {% endset %}
{% endif %}

{% if data['appointmentLocation'] == "Gledhow Practice" %}
  {% set location = 'Gledhow Practice' %}
{% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb nhs-app-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Appointments</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="index">Your appointments</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="#" onClick='window.history.go(-1)'>Back</a></p>
  </div>
</nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      {% set searchQuery %}
      {{ summaryList({
        classes: 'nhsuk-summary-list--no-border nhs-app-summary-list--card',
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              text: location,
              classes: "nhsuk-u-margin-bottom-0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Location"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment type"
            },
            value: {
              html: showAppointmentType,
              classes: "nhsuk-u-margin-bottom-0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "appointment type"
                }
              ]
            }
          },
          {
            key: {
              text: "Member of staff"
            },
            value: {
              html: practiceStaff or "No preference",
              classes: "nhsuk-u-margin-bottom-0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Member of staff"
                }
              ]
            }
          }
        ]
      }) }}
      {% endset %}

      {{ details({
        "classes": "nhsuk-expander app-card--with-border",
        "text": "Search criteria",
        "HTML": searchQuery
      }) }}



      {% set asthmaNurse %}
      {% if data['appointmentMember'] %}
        {% if 'Siobhan Jones' in data['appointmentMember'] %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=2.25pm&type=Asthma Nurse&sessionName=Nurse Clinic&location={{ location }}&staffName=Siobhan Jones" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Asthma Nurse</p>
            <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=2.50pm&type=Asthma Nurse&sessionName=Nurse Clinic&location={{ location }}&staffName=Siobhan Jones" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Asthma Nurse</p>
            <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% else %}
      <li>
        <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=2.25pm&type=Asthma Nurse&sessionName=Nurse Clinic&location={{ location }}&staffName=Siobhan Jones" >
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
          <p class="list-menu__results-person list-menu__results--bold">Asthma Nurse</p>
          <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
          <p class="list-menu__results--small">Siobhan Jones</p>
          <p class="list-menu__results--small">{{ location }}</p>
        </a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=2.50pm&type=Asthma Nurse&sessionName=Nurse Clinic&location={{ location }}&staffName=Siobhan Jones" >
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
          <p class="list-menu__results-person list-menu__results--bold">Asthma Nurse</p>
          <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
          <p class="list-menu__results--small">Siobhan Jones</p>
          <p class="list-menu__results--small">{{ location }}</p>
        </a>
      </li>
      {% endif %}
      {% endset %}



      {% set bloods %}
      {% if data['appointmentMember'] %}
          {% if 'Siobhan Jones' in data['appointmentMember'] %}
              <li>
                <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.25pm&type=Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online&sessionName=General&location={{ location }}&staffName=Siobhan Jones" >
                  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
                  <p class="list-menu__results-person list-menu__results--bold">Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online</p>
                  <p class="list-menu__results-person list-menu__results-spacer">General</p>
                  <p class="list-menu__results--small">Siobhan Jones</p>
                  <p class="list-menu__results--small">{{ location }}</p>
                </a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.50pm&type=Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online&sessionName=General&location={{ location }}&staffName=Siobhan Jones" >
                  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
                  <p class="list-menu__results-person list-menu__results--bold">Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online</p>
                  <p class="list-menu__results-person list-menu__results-spacer">General</p>
                  <p class="list-menu__results--small">Siobhan Jones</p>
                  <p class="list-menu__results--small">{{ location }}</p>
                </a>
              </li>
              {% endif %}
            {% else %}
              <li>
                <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.25pm&type=Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online&sessionName=General&location={{ location }}&staffName=Siobhan Jones" >
                  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
                  <p class="list-menu__results-person list-menu__results--bold">Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online</p>
                  <p class="list-menu__results-person list-menu__results-spacer">General</p>
                  <p class="list-menu__results--small">Siobhan Jones</p>
                  <p class="list-menu__results--small">{{ location }}</p>
                </a>
              </li>
              <li>
                <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.50pm&type=Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online&sessionName=General&location={{ location }}&staffName=Siobhan Jones" >
                  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
                  <p class="list-menu__results-person list-menu__results--bold">Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online</p>
                  <p class="list-menu__results-person list-menu__results-spacer">General</p>
                  <p class="list-menu__results--small">Siobhan Jones</p>
                  <p class="list-menu__results--small">{{ location }}</p>
                </a>
              </li>
            {% endif %}
            {% endset %}



      {% set smear %}
      {% if data['appointmentMember'] %}
        {% if 'Katie Malito' in data['appointmentMember'] %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '6' | returnDate }}&time=2.25pm&type=Cervical Smear (MUST be over 25 years old) Booked Online&sessionName=Nurse Clinic&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Cervical Smear (MUST be over 25 years old) Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '6' | returnDate }}&time=2.50pm&type=Cervical Smear (MUST be over 25 years old) Booked Online&sessionName=Nurse Clinic&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Cervical Smear (MUST be over 25 years old) Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% else %}
      <li>
        <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '6' | returnDate }}&time=2.25pm&type=Cervical Smear (MUST be over 25 years old) Booked Online&sessionName=Nurse Clinic&location={{ location }}&staffName=Katie Malito" >
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
          <p class="list-menu__results-person list-menu__results--bold">Cervical Smear (MUST be over 25 years old) Booked Online</p>
          <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
          <p class="list-menu__results--small">Katie Malito</p>
          <p class="list-menu__results--small">{{ location }}</p>
        </a>
      </li>
      <li>
        <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '6' | returnDate }}&time=2.50pm&type=Cervical Smear (MUST be over 25 years old) Booked Online&sessionName=Nurse Clinic&location={{ location }}&staffName=Katie Malito" >
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
          <p class="list-menu__results-person list-menu__results--bold">Cervical Smear (MUST be over 25 years old) Booked Online</p>
          <p class="list-menu__results-person list-menu__results-spacer">Nurse Clinic</p>
          <p class="list-menu__results--small">Katie Malito</p>
          <p class="list-menu__results--small">{{ location }}</p>
        </a>
      </li>
      {% endif %}
      {% endset %}



      {% set doctors %}
      {% if data['appointmentMember'] %}
        {% if 'Katie Malito' in data['appointmentMember'] %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.25pm&type=Doctor - Booked Online&sessionName=General&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">General</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.50pm&type=Doctor - Booked Online&sessionName=General&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">General</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% else %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.25pm&type=Doctor - Booked Online&sessionName=General&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.35pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">General</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '5' | returnDate }}&time=2.50pm&type=Doctor - Booked Online&sessionName=General&location={{ location }}&staffName=Katie Malito" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">2.50pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">General</p>
            <p class="list-menu__results--small">Katie Malito</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
      {% endif %}
      {% endset %}


      {% set doctorsMental %}
        {% if data['appointmentMember'] %}
          {% if 'Joseph Goldner' in data['appointmentMember'] %}
            <li>
              <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=3.15pm&type=Doctor Mental Health - Booked&staffName=Joseph Goldner)&sessionName=Bookable&location={{ location }}" >
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
                <p class="list-menu__results-person list-menu__results--bold">Doctor Mental Health - Booked Online</p>
                <p class="list-menu__results-person list-menu__results-spacer">Bookable</p>
                <p class="list-menu__results--small">Joseph Goldner</p>
                <p class="list-menu__results--small">{{ location }}</p>
              </a>
            </li>
            {% endif %}
        {% else %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=3.15pm&type=Doctor Mental Health - Booked&staffName=Joseph Goldner&sessionName=Bookable&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor Mental Health - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">Bookable</p>
            <p class="list-menu__results--small">Joseph Goldner</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ '2' | returnDate }}&time=4.15pm&type=Doctor Mental Health - Booked&staffName=Joseph Goldner&sessionName=Bookable&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.15pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Doctor Mental Health - Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">Bookable</p>
            <p class="list-menu__results--small">Joseph Goldner</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% endset %}



      {% set doctorsWknd %}
        {% if data['appointmentMember'] %}
          {% if 'Joseph Goldner' in data['appointmentMember'] %}
            <li>
              <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 'tomorrow' | returnDate }}&time=3.15pm&type=Doctor Weekend Appointment HUB - Booked Online&staffName=Joseph Goldner&sessionName=Session&location={{ location }}" >
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
                <p class="list-menu__results-person list-menu__results--bold">Doctor Weekend Appointment HUB - Booked Online</p>
                <p class="list-menu__results-person list-menu__results-spacer">Session</p>
                <p class="list-menu__results--small">Joseph Goldner</p>
                <p class="list-menu__results--small">{{ location }}</p>
              </a>
            </li>
            <li>
              <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 'tomorrow' | returnDate }}&time=4.15pm&type=Doctor Weekend Appointment HUB - Booked Online&staffName=Joseph Goldner&sessionName=Session&location={{ location }}" >
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.15pm</h2>
                <p class="list-menu__results-person list-menu__results--bold">Doctor Weekend Appointment HUB - Booked Online</p>
                <p class="list-menu__results-person list-menu__results-spacer">Session</p>
                <p class="list-menu__results--small">Joseph Goldner</p>
                <p class="list-menu__results--small">{{ location }}</p>
              </a>
            </li>
          {% endif %}
        {% else %}
          <li>
            <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 'tomorrow' | returnDate }}&time=3.15pm&type=Doctor Weekend Appointment HUB - Booked Online&staffName=Joseph Goldner&sessionName=Session&location={{ location }}" >
              <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
              <p class="list-menu__results-person list-menu__results--bold">Doctor Weekend Appointment HUB - Booked Online</p>
              <p class="list-menu__results-person list-menu__results-spacer">Session</p>
              <p class="list-menu__results--small">Joseph Goldner</p>
              <p class="list-menu__results--small">{{ location }}</p>
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 'tomorrow' | returnDate }}&time=4.15pm&type=Doctor Weekend Appointment HUB - Booked Online&staffName=Joseph Goldner&sessionName=Session&location={{ location }}" >
              <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.15pm</h2>
              <p class="list-menu__results-person list-menu__results--bold">Doctor Weekend Appointment HUB - Booked Online</p>
              <p class="list-menu__results-person list-menu__results-spacer">Session</p>
              <p class="list-menu__results--small">Joseph Goldner</p>
              <p class="list-menu__results--small">{{ location }}</p>
            </a>
          </li>
        {% endif %}

      {% endset %}




      {% set samedayAM %}
        {% if data['appointmentMember'] %}

        {% if 'Siobhan Jones' in data['appointmentMember'] %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 7 | returnDate }}&time=3.15pm&type=Same Day AM&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">3.15pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Same Day AM</p>
            <p class="list-menu__results-person list-menu__results-spacer">Session</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}

        {% else %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 7 | returnDate }}&time=4.05pm&type=Same Day AM&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.05pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Same Day AM</p>
            <p class="list-menu__results-person list-menu__results-spacer">Session</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 7 | returnDate }}&time=4.15pm&type=Same Day AM&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">4.15pm</h2>
            <p class="list-menu__results-person list-menu__results--bold">Same Day AM</p>
            <p class="list-menu__results-person list-menu__results-spacer">Session</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% endset %}



      {% set nurseOnline %}
        {% if data['appointmentMember'] %}
          {% if 'Siobhan Jones' in data['appointmentMember'] %}
          <li>
            <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 16 | returnDate }}&time=9:15am&type=Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
              <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9:15am</h2>
              <p class="list-menu__results-person list-menu__results--bold">Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online</p>
              <p class="list-menu__results-person list-menu__results-spacer">Session</p>
              <p class="list-menu__results--small">Siobhan Jones</p>
              <p class="list-menu__results--small">{{ location }}</p>
            </a>
          </li>
          <li>
            <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 16 | returnDate }}&time=9:30am&type=Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
              <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9:30am</h2>
              <p class="list-menu__results-person list-menu__results--bold">Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online</p>
              <p class="list-menu__results-person list-menu__results-spacer">Session</p>
              <p class="list-menu__results--small">Siobhan Jones</p>
              <p class="list-menu__results--small">{{ location }}</p>
            </a>
          </li>
          {% endif %}
        {% else %}
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 16 | returnDate }}&time=9:15am&type=Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9:15am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online</p>
            <p class="list-menu__results-person list-menu__results-spacer">Session</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        <li>
          <a href="/{{ PROTOTYPEURL }}/appointment-reason?date={{ 16 | returnDate }}&time=9:30am&type=Doctor - Booked Online&staffName=Siobhan Jones&sessionName=Session&location={{ location }}" >
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-0">9:30am</h2>
            <p class="list-menu__results-person list-menu__results--bold">Nurse (See our Website for what the nurses can see BEFORE booking) Booked Onlin</p>
            <p class="list-menu__results-person list-menu__results-spacer">Session</p>
            <p class="list-menu__results--small">Siobhan Jones</p>
            <p class="list-menu__results--small">{{ location }}</p>
          </a>
        </li>
        {% endif %}
      {% endset %}



      {% if data.appointmentType %}

        {% if 'Asthma Nurse' in data.appointmentType %}
          {% if asthmaNurse | trim %}
          <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "2" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
            {{ asthmaNurse | safe }}
          </ul>
          {% endif %}

        {% elif 'Blood Test ONLY (IF invited by a clinician at THIS practice) Booked Online' in data.appointmentType %}
          {% if bloods | trim %}
            <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "2" | returnDate }}</h2>
            <ul class="list-menu list-menu__results">
              {{ bloods | safe }}
            </ul>
            {% endif %}

        {% elif 'Cervical Smear (MUST be over 25 years old) Booked Online' in data.appointmentType %}
        {% if smear | trim %}
          <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "tomorrow" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
            {{ smear | safe }}
          </ul>
          {% endif %}

        {% elif 'Doctor - Booked Online' in data.appointmentType %}
        {% if doctors | trim %}
          <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "3" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
            {{ doctors | safe }}
          </ul>
          {% endif %}

        {% elif 'Doctor Mental Health - Booked Online' in data.appointmentType %}
          {% if doctorsMental | trim %}
            <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "4" | returnDate }}</h2>
            <ul class="list-menu list-menu__results">
              {{ doctorsMental | safe }}
            </ul>
          {% endif %}

          {% elif 'Doctor Weekend Appointment HUB - Booked Online' in data.appointmentType %}
            {% if doctorsWknd | trim %}
              <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "5" | returnDate }}</h2>
              <ul class="list-menu list-menu__results">
                {{ doctorsWknd | safe }}
              </ul>
            {% endif %}

          {% elif 'Nurse (See our Website for what the nurses can see BEFORE booking) Booked Online' in data.appointmentType %}
            {% if nurseOnline | trim %}
              <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "tomorrow" | returnDate }}</h2>
              <ul class="list-menu list-menu__results">
                  {{ nurseOnline | safe }}
              </ul>
            {% endif %}

          {% elif 'Same Day AM' in data.appointmentType %}
            {% if samedayAM | trim %}
                <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "tomorrow" | returnDate }}</h2>
                <ul class="list-menu list-menu__results">
                    {{ samedayAM | safe }}
                </ul>
            {% endif %}

        {% else %}
        {% endif %}






      {% else %}


      <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "2" | returnDate }}</h2>
      <ul class="list-menu list-menu__results">
          {{ asthmaNurse | safe }}
      </ul>


        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "5" | returnDate }}</h2>
        <ul class="list-menu list-menu__results">
            {{ smear | safe }}
        </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "6" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
              {{ doctors | safe }}
          </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "7" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
              {{ doctorsMental | safe }}
          </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "7" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
            {{ doctorsWknd | safe }}
          </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "7" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
              {{ nurseOnline | safe }}
          </ul>

        <h2 class="nhsuk-heading-m nhs-app-heading--slim">{{ "9" | returnDate }}</h2>
          <ul class="list-menu list-menu__results">
              {{ samedayAM | safe }}
          </ul>

      {% endif %}



    </div>
  </div>
{% endblock %}
